.ecdh-api .panels-flexible-row-inside {
	max-width: 1115px;
	margin: auto;
}

#ecdh-api .pane-title  {
	font-family: magistral, sans-serif;
	font-size: 16.5px;
	color: #F2F2F2;
	line-height: 25px;
    display: inline-block;
	padding-top: 6px;
}

#ecdh-api .pane-content {
    display: inline-block;
    float: right;
	max-width: 732px;
}

.ecdh-api .panels-flexible-region {
	width: 100%;
}

.ecdh-api span {
	display: block;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}

#edit-profiles, #ecdh-city {
	margin: 0px;
	background-color: #F2F2F2;
	padding-left: 20px;
	height: 48px;
	border: 0px;
	border-radius: 3px;
	width: 255px;
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	height: 61px;
	color: #636363;
	margin-right: 25px;
}

#ecdh-city {
	color: #FF6168;
	background-color: #A71D21;
}

#ecdh-company-search-form .form-item {
	margin: 0;
	display: inline-block;
}

#ecdh-company-search-form .form-submit {
	color: #C72026;
	font-size: 18px;
	font-weight: 600;
	background-color: #F2F2F2;
	border: 0px;
	border-radius: 3px;
	height: 61px;
	width: 161px;
}

#ecdh-city-autocomplete-aria-live
{
	display: none;
}