@charset "UTF-8";
@import url("https://use.typekit.net/qas2soj.css");
html {
  background-color: #f8f8f8; }

body::before {
  background-image: none; }

body {
  font-size: 18px;
  font-family: Montserrat;
  color: #333332;
  max-width: 1440px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.42857143; }

body.front .ecdh-api {
  padding: 15px 0px !important;
  margin-top: 20px !important;
  background-color: #C72026; }
body.front .main-center {
  background-color: white; }

body.not-front .first-block {
  background-color: white; }
body.not-front .right-bar {
  padding-top: 14px; }

body.node-type-a-article .main-center {
  background-color: white;
  padding-top: 40px !important; }

body.page-impress .right-bar, body.node-type-pages .right-bar, body.page-taxonomy .right-bar, body.page-new-archive .right-bar, body.page-new-kereses .right-bar, body.page-autos-kifejezesek .right-bar, body.page-media-collection .right-bar {
  padding-top: 40px; }
  body.page-impress .right-bar .views-row, body.node-type-pages .right-bar .views-row, body.page-taxonomy .right-bar .views-row, body.page-new-archive .right-bar .views-row, body.page-new-kereses .right-bar .views-row, body.page-autos-kifejezesek .right-bar .views-row, body.page-media-collection .right-bar .views-row {
    background-color: white; }
  body.page-impress .right-bar #event .views-row, body.node-type-pages .right-bar #event .views-row, body.page-taxonomy .right-bar #event .views-row, body.page-new-archive .right-bar #event .views-row, body.page-new-kereses .right-bar #event .views-row, body.page-autos-kifejezesek .right-bar #event .views-row, body.page-media-collection .right-bar #event .views-row {
    background: none; }
  body.page-impress .right-bar #right-top-5, body.node-type-pages .right-bar #right-top-5, body.page-taxonomy .right-bar #right-top-5, body.page-new-archive .right-bar #right-top-5, body.page-new-kereses .right-bar #right-top-5, body.page-autos-kifejezesek .right-bar #right-top-5, body.page-media-collection .right-bar #right-top-5 {
    background-color: white; }

body.page-impress .right-bar {
  padding-top: 54px; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  margin-top: 10px;
  font-size: 18px; }

a {
  color: #333332 !important; }

a:hover {
  text-decoration: none;
  color: #C72026 !important; }

.ckeditor_links a {
  color: white; }

#admin-menu a {
  color: white !important; }

.views-label-field-tags a, .views-field-field-tags a, .pane-node-field-tags a {
  color: white !important;
  background: #C72026;
  text-decoration: none; }
.views-label-field-tags a:hover, .views-field-field-tags a:hover, .pane-node-field-tags a:hover {
  color: white !important; }

.youtube-embed-wrapper {
  padding-top: 0px !important;
  margin-bottom: 15px; }

.panels-flexible-region {
  width: auto; }

.inside.panels-flexible-region-inside, .panels-flexible-row {
  padding: 0px !important; }

.panel-separator {
  margin: 0px !important; }

.clearfix::after {
  content: ""; }

.banner {
  margin: auto; }

#mobile-logo {
  display: none; }

#mini-panel-hamburger_menu_2019 {
  display: none; }

#search-mobile {
  display: none; }

#mobile-search {
  display: none; }

#mini-panel-mobil_menu {
  display: none; }
  #mini-panel-mobil_menu .pane-content {
    display: none; }
  #mini-panel-mobil_menu #category .view-content, #mini-panel-mobil_menu #car-partners .view-content, #mini-panel-mobil_menu #connection .view-content, #mini-panel-mobil_menu #glossory-list .view-content {
    display: none; }
  #mini-panel-mobil_menu #category .pane-content, #mini-panel-mobil_menu #car-partners .pane-content, #mini-panel-mobil_menu #connection .pane-content, #mini-panel-mobil_menu #glossory-list .pane-content {
    display: block; }
  #mini-panel-mobil_menu #main-menu-2019 .pane-content {
    display: block; }
  #mini-panel-mobil_menu #car-partners, #mini-panel-mobil_menu #connection {
    display: none; }

.item-list .pager {
  text-align: left;
  margin: 0px;
  padding: 20px 0px; }
  .item-list .pager li {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: magistral, sans-serif;
    font-weight: 500;
    margin-right: 5px; }
    .item-list .pager li a {
      background-color: white;
      line-height: 26px;
      border: solid 1px #ccccc8; }
  .item-list .pager .pager-current {
    color: white;
    background-color: #C72026;
    line-height: 28px; }
  .item-list .pager .pager-ellipsis {
    line-height: 21px;
    vertical-align: bottom; }
  .item-list .pager .pager-current, .item-list .pager a {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 3px; }

#mc_embed_signup form {
  background-color: #333332;
  padding: 20px !important;
  margin: 0px;
  border-radius: 5px; }
  #mc_embed_signup form p {
    font-size: 19px;
    font-family: magistral, sans-serif;
    color: #C72026;
    margin: 0px;
    padding-bottom: 25px; }
  #mc_embed_signup form span {
    font-size: 24px;
    font-weight: 500;
    color: white;
    display: block;
    padding-top: 10px;
    padding-bottom: 20px; }
  #mc_embed_signup form #mce-EMAIL, #mc_embed_signup form #mce-MMERGE2 {
    padding-left: 20px;
    text-indent: 0;
    font-size: 18px;
    color: #666666;
    font-style: italic;
    background-color: #2B2B2A;
    height: 61px;
    border-radius: 3px;
    border: 0px;
    margin-bottom: 20px; }
  #mc_embed_signup form .mc-field-group {
    width: 100%;
    padding-bottom: 0;
    min-height: auto; }
  #mc_embed_signup form label {
    color: white;
    font-size: 12px;
    display: flow-root !important;
    margin-bottom: 15px !important;
    line-height: 14px; }
  #mc_embed_signup form a {
    color: #C72026 !important;
    text-decoration: underline; }
  #mc_embed_signup form #mce-MMERGE3-0, #mc_embed_signup form #mce-MMERGE1-0 {
    float: left; }
  #mc_embed_signup form input[type="radio"] {
    margin-right: 10px !important; }
  #mc_embed_signup form #mc-embedded-subscribe {
    width: 100%;
    height: 61px;
    background-color: #C72026;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    color: white;
    border: 0px;
    border-radius: 5px; }
  #mc_embed_signup form input.mce_inline_error {
    border: solid 2px #C72026 !important;
    margin-bottom: 10px !important; }
  #mc_embed_signup form div.mce_inline_error {
    padding: 0px !important;
    background: none !important;
    color: #C72026 !important; }

.letterhead {
  background-color: #ffffff; }
  .letterhead .panels-flexible-row-inside {
    max-width: 1115px;
    margin: auto;
    padding: 20px 0px; }
  .letterhead .logo img {
    width: 200px; }
  .letterhead .pane-page-slogan h1 {
    margin: 0px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    font-family: magistral, sans-serif;
    font-weight: 300;
    color: #666666; }

.header.menu-active {
  background-color: #333332;
  border-bottom: solid 1px #666666; }
  .header.menu-active #main_menu #mobil-menu {
    background: url("/sites/all/themes/alapjarat_theme_2019/images/hamburger_menu_x.png");
    background-repeat: no-repeat;
    background-position: center; }
  .header.menu-active #mobile-search {
    background: url("/sites/all/themes/alapjarat_theme_2019/images/hamburger_menu_x.png");
    background-repeat: no-repeat;
    background-position: center; }

.header.mobile-search-active #mobil-menu, .header.mobile-search-active .mobil-logo {
  width: 0px !important; }

.header.main-menu-active #mobile-search, .header.main-menu-active .mobil-logo {
  width: 0px !important; }

.header {
  background-color: #ffffff;
  border-top: solid 1px #e6e6e6;
  border-bottom: solid 1px #e6e6e6;
  height: 54px;
  position: relative; }
  .header .panels-flexible-row-inside {
    max-width: 1115px;
    margin: auto; }
  .header #mobile-search {
    background-image: url("/sites/all/themes/alapjarat_theme_2019/images/search.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 38px;
    margin: 7px 0px;
    cursor: pointer; }
  .header #main_menu {
    height: 52px; }
    .header #main_menu .pane-content {
      display: inline-block; }
    .header #main_menu #mobil-menu {
      background: url("/sites/all/themes/alapjarat_theme_2019/images/alapjarat_hamburger.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 21px;
      height: 52px;
      float: left;
      cursor: pointer;
      display: none; }
    .header #main_menu #ham-menu {
      margin-right: 30px; }
    .header #main_menu a {
      color: #333332 !important;
      font-size: 14px;
      line-height: 52px;
      margin-right: 25px; }
    .header #main_menu .hm-active {
      color: white !important;
      font-weight: bold;
      padding: 0px 5px;
      padding-top: 3px;
      padding-bottom: 18px;
      background-color: #C72026;
      margin-right: 18px !important; }
    .header #main_menu a:hover {
      color: #C72026 !important; }
    .header #main_menu .hm-active:hover {
      color: #333332 !important; }
    .header #main_menu li {
      display: inline;
      padding: 0;
      margin: 0; }
  .header .mobil-logo {
    float: none;
    max-width: 165px;
    margin: auto; }

.search {
  float: right;
  width: auto; }
  .search #search input#edit-search-api-views-fulltext, .search #search input#edit-keys, .search #search-mobile input#edit-search-api-views-fulltext, .search #search-mobile input#edit-keys {
    width: 255px;
    height: 38px;
    background-color: #F2F2F2;
    border: 0px;
    font-size: 14px;
    font-style: italic;
    font-weight: 200;
    padding-left: 20px;
    margin: 0px; }
  .search #search .views-exposed-form .views-exposed-widget, .search #search .views-exposed-widgets, .search #search-mobile .views-exposed-form .views-exposed-widget, .search #search-mobile .views-exposed-widgets {
    padding: 0px;
    margin: 0px; }
  .search #search #edit-search-api-views-fulltext-wrapper, .search #search-mobile #edit-search-api-views-fulltext-wrapper {
    padding: 7px 0px; }
  .search #search #edit-submit-search-api-search, .search #search-mobile #edit-submit-search-api-search {
    background-image: url("/sites/all/themes/alapjarat_theme_2019/images/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F2F2F2;
    width: 30px;
    height: 38px;
    margin: 7px 0px;
    font-size: 0px;
    border: 0px; }
  .search #search-mobile input#edit-search-api-views-fulltext, .search #search-mobile input#edit-keys {
    width: 440px; }
  .search #search-mobile .views-exposed-widgets {
    max-width: 478px;
    margin: auto; }
  .search #search-mobile #edit-submit-search-api-search {
    width: 38px;
    background-color: #C72026; }

.mobile-menu {
  width: 100%;
  background-color: #333332; }
  .mobile-menu #mini-panel-mobil_menu .panels-flexible-region-first {
    width: 100%; }
  .mobile-menu #mini-panel-mobil_menu .pane-title {
    cursor: pointer; }
  .mobile-menu #mini-panel-mobil_menu .view-header {
    cursor: pointer; }
  .mobile-menu #mini-panel-mobil_menu li {
    margin: 0;
    padding: 0;
    list-style: none; }
  .mobile-menu #mini-panel-mobil_menu .pane-title, .mobile-menu #mini-panel-mobil_menu .view-header, .mobile-menu #mini-panel-mobil_menu #main-menu-2019 a, .mobile-menu #mini-panel-mobil_menu #connection .link {
    display: block;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: dashed 1px #4d4d4d;
    text-transform: uppercase;
    color: white !important;
    padding-left: 25px; }
  .mobile-menu #mini-panel-mobil_menu .pane-content ul {
    background-color: #272727;
    margin: 0px; }
  .mobile-menu #mini-panel-mobil_menu .pane-content li a {
    color: white !important;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 50px;
    text-transform: uppercase; }
  .mobile-menu #mini-panel-mobil_menu .pane-content li a::before {
    content: "-";
    margin-right: 5px; }
  .mobile-menu #mini-panel-mobil_menu .pane-content li {
    border-bottom: dashed 1px #4d4d4d; }
  .mobile-menu #mini-panel-mobil_menu #main-menu-2019 .pane-content ul {
    background-color: transparent; }
  .mobile-menu #mini-panel-mobil_menu #main-menu-2019 .pane-content li {
    border-bottom: 0px; }
    .mobile-menu #mini-panel-mobil_menu #main-menu-2019 .pane-content li a::before {
      content: none; }
  .mobile-menu #mini-panel-mobil_menu #glossory-list a {
    color: white !important; }
  .mobile-menu #mini-panel-mobil_menu #glossory-list a:hover {
    color: #C72026 !important; }
  .mobile-menu #mini-panel-mobil_menu #connection a {
    text-transform: none; }
  .mobile-menu #mini-panel-mobil_menu #connection .tel::before, .mobile-menu #mini-panel-mobil_menu #connection .mail::before {
    vertical-align: middle;
    margin-right: 10px; }
  .mobile-menu #mini-panel-mobil_menu #connection .tel::before {
    content: url("/sites/all/themes/alapjarat_theme_2019/images/phone.png"); }
  .mobile-menu #mini-panel-mobil_menu #connection .mail::before {
    content: url("/sites/all/themes/alapjarat_theme_2019/images/email.png"); }
  .mobile-menu #mini-panel-mobil_menu .m-active .pane-title, .mobile-menu #mini-panel-mobil_menu .m-active .view-header, .mobile-menu #mini-panel-mobil_menu .m-active #main-menu-2019 a, .mobile-menu #mini-panel-mobil_menu .m-active #connection a {
    color: #C72026 !important; }
  .mobile-menu #mini-panel-mobil_menu .m-active.pane-title {
    color: #C72026 !important; }

.panels-flexible-region-first.first-block {
  width: 100%; }
  .panels-flexible-region-first.first-block .panels-flexible-region-inside-first {
    max-width: 1115px;
    margin: auto; }
  .panels-flexible-region-first.first-block #mini-panel-hamburger_menu_2019 {
    overflow: hidden; }
    .panels-flexible-region-first.first-block #mini-panel-hamburger_menu_2019 .panels-flexible-region-inside-first {
      position: absolute;
      z-index: 15;
      border-top: #C72026 5px solid;
      background-color: #333332;
      padding: 10px 20px !important;
      width: 385px; }
      .panels-flexible-region-first.first-block #mini-panel-hamburger_menu_2019 .panels-flexible-region-inside-first .pane-title, .panels-flexible-region-first.first-block #mini-panel-hamburger_menu_2019 .panels-flexible-region-inside-first .view-header {
        color: white;
        font-size: 24px;
        font-family: magistral, sans-serif;
        font-weight: bold;
        border-bottom: solid 1px white; }
      .panels-flexible-region-first.first-block #mini-panel-hamburger_menu_2019 .panels-flexible-region-inside-first .view-category-list, .panels-flexible-region-first.first-block #mini-panel-hamburger_menu_2019 .panels-flexible-region-inside-first .pane-system-main-menu {
        float: left; }
      .panels-flexible-region-first.first-block #mini-panel-hamburger_menu_2019 .panels-flexible-region-inside-first .view-category-list {
        width: 180px; }
      .panels-flexible-region-first.first-block #mini-panel-hamburger_menu_2019 .panels-flexible-region-inside-first .pane-system-main-menu {
        width: 135px;
        margin-right: 30px; }
      .panels-flexible-region-first.first-block #mini-panel-hamburger_menu_2019 .panels-flexible-region-inside-first li {
        list-style: none;
        margin: 0px;
        padding: 0px; }
      .panels-flexible-region-first.first-block #mini-panel-hamburger_menu_2019 .panels-flexible-region-inside-first ul {
        padding-top: 10px; }
      .panels-flexible-region-first.first-block #mini-panel-hamburger_menu_2019 .panels-flexible-region-inside-first a {
        color: white !important;
        font-size: 16px;
        font-family: magistral, sans-serif;
        font-weight: 500; }
      .panels-flexible-region-first.first-block #mini-panel-hamburger_menu_2019 .panels-flexible-region-inside-first a:hover {
        color: #C72026 !important; }
  .panels-flexible-region-first.first-block #default-page-big-banner {
    max-width: 970px;
    margin-top: 30px; }
  .panels-flexible-region-first.first-block #one {
    width: 50%;
    float: left;
    position: relative;
    margin-top: 30px; }
    .panels-flexible-region-first.first-block #one .views-field-path {
      width: 100%;
      position: absolute;
      bottom: 26px;
      padding: 20px;
      padding-bottom: 60px;
      background: rgba(0, 0, 0, 0.5); }
      .panels-flexible-region-first.first-block #one .views-field-path h3 {
        font-family: magistral, sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 26px;
        margin: 0; }
        .panels-flexible-region-first.first-block #one .views-field-path h3 a {
          color: #ffffff !important; }
        .panels-flexible-region-first.first-block #one .views-field-path h3 p {
          margin: 0; }
    .panels-flexible-region-first.first-block #one .views-field-field-tags {
      margin-right: 10px;
      margin-left: 20px; }
      .panels-flexible-region-first.first-block #one .views-field-field-tags a {
        padding: 6px 8px;
        font-size: 12px; }
    .panels-flexible-region-first.first-block #one .views-field-published-at {
      font-family: magistral, sans-serif;
      font-size: 13px;
      color: #ffffff; }
      .panels-flexible-region-first.first-block #one .views-field-published-at span::before {
        content: url("/sites/all/themes/alapjarat_theme_2019/images/clock_w.png");
        margin-right: 5px;
        vertical-align: sub; }
    .panels-flexible-region-first.first-block #one .views-field-field-tags, .panels-flexible-region-first.first-block #one .views-field-published-at {
      position: relative;
      bottom: 50px;
      display: inline-block; }
  .panels-flexible-region-first.first-block #four {
    width: 50%;
    float: left;
    padding-left: 25px;
    margin-top: 30px; }
    .panels-flexible-region-first.first-block #four .views-row {
      width: 48%;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin-bottom: 27px; }
    .panels-flexible-region-first.first-block #four .views-row-1, .panels-flexible-region-first.first-block #four .views-row-3 {
      margin-right: 3%; }
    .panels-flexible-region-first.first-block #four .views-field-path {
      width: 100%;
      position: absolute;
      bottom: 0px;
      padding: 10px;
      padding-bottom: 55px;
      background: rgba(0, 0, 0, 0.5); }
      .panels-flexible-region-first.first-block #four .views-field-path h3 {
        font-family: magistral, sans-serif;
        font-size: 14px;
        font-weight: bold;
        margin: 0; }
        .panels-flexible-region-first.first-block #four .views-field-path h3 a {
          color: #ffffff !important; }
        .panels-flexible-region-first.first-block #four .views-field-path h3 p {
          margin: 0; }
    .panels-flexible-region-first.first-block #four .views-field-field-tags {
      bottom: 35px;
      margin: 0px 10px; }
      .panels-flexible-region-first.first-block #four .views-field-field-tags a {
        padding: 2px 3px;
        font-size: 10px; }
    .panels-flexible-region-first.first-block #four .views-field-published-at {
      bottom: 50px;
      font-family: magistral, sans-serif;
      font-size: 11px;
      color: #ffffff;
      margin: 0px 10px; }
      .panels-flexible-region-first.first-block #four .views-field-published-at span::before {
        content: url("/sites/all/themes/alapjarat_theme_2019/images/clock_w.png");
        margin-right: 5px;
        vertical-align: sub; }
    .panels-flexible-region-first.first-block #four .views-field-field-tags, .panels-flexible-region-first.first-block #four .views-field-published-at {
      position: relative;
      height: 0px; }

.main-center {
  width: 100%;
  padding-bottom: 20px !important; }
  .main-center .panels-flexible-row-inside {
    max-width: 1115px;
    margin: auto; }
  .main-center .main-content {
    width: 65.5%; }
  .main-center .right-bar {
    width: 34.5%;
    padding-left: 30px;
    padding-top: 47px; }
    .main-center .right-bar .banner {
      max-width: 300px; }
    .main-center .right-bar .pane-title {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      padding-bottom: 5px;
      border-bottom: solid 2px #333332;
      display: block;
      margin-bottom: 20px; }
    .main-center .right-bar .panel-pane {
      margin-bottom: 40px; }
    .main-center .right-bar .panel-pane:last-child {
      margin-bottom: 0px; }
    .main-center .right-bar #right-top-5 {
      background-color: #F7F7F7;
      border: dashed 2px #e6e6e6; }
      .main-center .right-bar #right-top-5 .view-header {
        max-width: 310px;
        margin: auto;
        margin-top: -15px; }
        .main-center .right-bar #right-top-5 .view-header p {
          display: inline-block;
          font-size: 14px;
          color: white;
          font-weight: 600;
          text-transform: uppercase;
          background-color: #333332;
          padding: 5px 10px;
          margin-bottom: 20px; }
      .main-center .right-bar #right-top-5 .views-row {
        max-width: 310px;
        margin: auto;
        margin-bottom: 20px; }
        .main-center .right-bar #right-top-5 .views-row .views-field-published-at {
          margin-top: 10px; }
    .main-center .right-bar #archive li {
      list-style: none;
      font-size: 14px;
      padding-bottom: 15px; }
    .main-center .right-bar #event .views-row {
      padding: 10px 0px;
      background-color: #ffffff;
      margin: 0px;
      border-bottom: dashed 2px #e6e6e6; }
    .main-center .right-bar #event .views-row:last-child {
      border-bottom: 0px;
      padding-bottom: 0px; }
    .main-center .right-bar #event .views-row:first-child {
      padding-top: 0px; }
    .main-center .right-bar #event ul {
      list-style-type: none;
      padding: 0px 4px;
      padding-left: 10px; }
    .main-center .right-bar #event .No {
      border-left: solid 5px #333332; }
    .main-center .right-bar #event .Yes {
      border-left: solid 5px #C72026; }
      .main-center .right-bar #event .Yes a {
        color: #C72026 !important; }
    .main-center .right-bar #event .time {
      font-family: magistral, sans-serif;
      font-size: 14px; }
    .main-center .right-bar #event .time::before {
      content: url("/sites/all/themes/alapjarat_theme_2019/images/clock.png");
      margin-right: 5px;
      vertical-align: sub; }
    .main-center .right-bar #event a {
      font-size: 16px;
      font-family: magistral, sans-serif;
      font-weight: 500; }

.front-page, .right-bar {
  padding-top: 20px; }
  .front-page .views-row, .right-bar .views-row {
    margin-bottom: 20px;
    background-color: #F8F8F8;
    padding-bottom: 10px; }
  .front-page .views-field-published-at, .right-bar .views-field-published-at {
    line-height: 18px; }
    .front-page .views-field-published-at span, .right-bar .views-field-published-at span {
      font-size: 14px;
      font-family: magistral, sans-serif;
      font-weight: 300; }
    .front-page .views-field-published-at span::before, .right-bar .views-field-published-at span::before {
      content: url("/sites/all/themes/alapjarat_theme_2019/images/clock.png");
      margin-right: 5px;
      vertical-align: sub; }
  .front-page .views-field-path p, .right-bar .views-field-path p {
    margin: 0px; }
  .front-page .views-field-path h3, .right-bar .views-field-path h3 {
    margin: 0px;
    margin-top: 3px;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px; }
  .front-page .views-field-field-subtitled p, .right-bar .views-field-field-subtitled p {
    margin: 0px;
    font-size: 14px;
    line-height: 20px; }
  .front-page .views-field-field-tags, .right-bar .views-field-field-tags {
    clear: both;
    padding-top: 10px; }
    .front-page .views-field-field-tags a, .right-bar .views-field-field-tags a {
      font-size: 12px;
      padding: 5px 7px;
      color: #ffffff !important;
      line-height: 30px; }
  .front-page .view-header, .right-bar .view-header {
    clear: both; }
    .front-page .view-header ul, .right-bar .view-header ul {
      border-bottom: solid 2px #333332;
      margin-bottom: 30px;
      padding-top: 25px; }
    .front-page .view-header li, .right-bar .view-header li {
      display: inline-block;
      vertical-align: top; }
      .front-page .view-header li h3, .right-bar .view-header li h3 {
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600; }
    .front-page .view-header li.text, .right-bar .view-header li.text {
      float: right;
      font-size: 12px;
      text-decoration: initial;
      font-weight: 300; }
  .front-page .helpful-info .view-header, .right-bar .helpful-info .view-header {
    width: 208.5%;
    clear: both; }
  .front-page .helpful-info.small, .right-bar .helpful-info.small {
    margin-top: 82px; }
  .front-page .a-1, .front-page .a-2, .right-bar .a-1, .right-bar .a-2 {
    width: 50%;
    float: left; }
  .front-page .a-1, .right-bar .a-1 {
    padding-right: 15px; }
  .front-page .a-2, .right-bar .a-2 {
    padding-left: 15px; }
  .front-page .big .views-field-published-at, .front-page .big .views-field-path, .front-page .big .views-field-field-tags, .front-page .big .views-field-field-subtitled, .right-bar .big .views-field-published-at, .right-bar .big .views-field-path, .right-bar .big .views-field-field-tags, .right-bar .big .views-field-field-subtitled {
    margin: 0px 10px;
    margin-top: 10px; }
  .front-page .big .views-field-field-tags, .right-bar .big .views-field-field-tags {
    margin-top: 0px; }
  .front-page .big .views-field-path, .right-bar .big .views-field-path {
    margin-top: 7px;
    height: 46px; }
    .front-page .big .views-field-path h3, .right-bar .big .views-field-path h3 {
      line-height: 24px; }
  .front-page .big.many, .right-bar .big.many {
    clear: both; }
    .front-page .big.many .views-row, .right-bar .big.many .views-row {
      margin-bottom: 25px; }
  .front-page .small .views-row, .right-bar .small .views-row {
    padding: 10px; }
  .front-page .small .views-field-field-image, .right-bar .small .views-field-field-image {
    float: left; }
  .front-page .small .views-field-published-at, .right-bar .small .views-field-published-at {
    vertical-align: top; }
  .front-page .small .views-field-published-at, .front-page .small .views-field-path, .right-bar .small .views-field-published-at, .right-bar .small .views-field-path {
    margin-left: 155px; }
  .front-page .small .views-field-path, .right-bar .small .views-field-path {
    height: 57px; }
  .front-page .many .views-row, .right-bar .many .views-row {
    width: 48%;
    display: inline-block;
    vertical-align: top; }
  .front-page .many .views-row-even, .right-bar .many .views-row-even {
    margin-left: 1.4%; }
  .front-page .many .views-row-odd, .right-bar .many .views-row-odd {
    margin-right: 1.4%; }

.node_pane.article {
  background-color: #F8F8F8;
  padding-top: 20px; }
  .node_pane.article .panel-pane {
    padding-left: 20px;
    padding-right: 20px; }

.node_pane {
  width: 100%; }
  .node_pane .background-none {
    background-color: white; }
  .node_pane .view-header .pane-title-2 {
    font-size: 40px;
    font-family: magistral, sans-serif;
    font-weight: bold;
    padding-bottom: 20px; }
  .node_pane .pane-node-title {
    border-bottom: #C72026 solid 2px;
    margin-bottom: 20px; }
    .node_pane .pane-node-title .pane-content {
      color: white;
      font-size: 14px;
      background-color: #C72026;
      display: inline-block;
      padding: 6px 11px;
      text-transform: uppercase; }
  .node_pane .background-none.panel-pane, .node_pane #fb-like-share.panel-pane {
    padding-left: 0px;
    padding-right: 0px; }
  .node_pane #youtube.panel-pane {
    padding-right: 0px; }
  .node_pane ul, .node_pane ol {
    margin-left: 30px;
    margin-bottom: 25px; }
    .node_pane ul ul, .node_pane ul ol, .node_pane ol ul, .node_pane ol ol {
      margin-bottom: 0px;
      width: 75%; }
    .node_pane ul li, .node_pane ol li {
      margin-bottom: 15px;
      display: block; }
  .node_pane ul {
    list-style: none; }
    .node_pane ul li::before {
      content: "●";
      color: #C72026;
      display: inline-block;
      width: auto;
      margin-right: 20px; }
  .node_pane ol {
    list-style: none;
    counter-reset: li; }
    .node_pane ol li::before {
      content: counter(li);
      color: #C72026;
      display: inline-block;
      min-width: 15px;
      margin-right: 20px;
      font-weight: bold; }
    .node_pane ol li {
      counter-increment: li; }
  .node_pane h1 {
    margin: 0px;
    font-family: magistral, sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px; }
    .node_pane h1 p {
      margin: 0px;
      padding: 20px 0px; }
  .node_pane h4 {
    margin-top: 0px; }
    .node_pane h4 span {
      margin-top: 0px;
      font-size: 18px !important; }
  .node_pane a {
    text-decoration: underline;
    color: #C72026 !important; }
  .node_pane blockquote {
    padding: 31px 27px;
    margin: 0 0 20px;
    border-left: 7px solid #333332;
    background: #FCFCFC; }
    .node_pane blockquote p {
      font-size: 18px !important;
      margin: 0;
      font-style: italic; }
  .node_pane figure {
    margin: 0 !important; }
  .node_pane figcaption {
    margin-top: 5px;
    font-size: 16px;
    border-left: 7px solid #C72026;
    padding: 5px 27px;
    font-weight: 300;
    line-height: 24px;
    font-style: italic;
    text-align: left;
    margin-bottom: -7px; }
  .node_pane #youtube {
    float: left;
    clear: both;
    height: 24px;
    margin-top: 4px;
    margin-right: 5px; }
  .node_pane #fb-like-share {
    float: left;
    margin-top: 2px; }
  .node_pane #fb-save {
    float: right; }
  .node_pane .tabs.primary.clearfix {
    margin-left: 0; }
  .node_pane .field-name-field-picture {
    float: left; }
    .node_pane .field-name-field-picture img {
      border-radius: 20px;
      margin-right: 10px; }
  .node_pane .pane-node-field-published .field-items {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase; }
    .node_pane .pane-node-field-published .field-items a {
      color: #333332 !important;
      text-decoration: none; }
  .node_pane .pane-node-published, .node_pane .pane-node-created {
    font-size: 12px;
    padding-bottom: 35px; }
    .node_pane .pane-node-published .pane-content, .node_pane .pane-node-created .pane-content {
      display: inline-block; }
  .node_pane .field-label {
    font-weight: normal; }
  .node_pane .pane-node-field-tags .field-items {
    display: inline-flex; }
  .node_pane .pane-node-field-tags .field-item {
    margin-right: 6px; }
    .node_pane .pane-node-field-tags .field-item a {
      font-size: 14px;
      padding: 6px 11px;
      color: white !important;
      text-decoration: none; }
    .node_pane .pane-node-field-tags .field-item a:hover {
      text-decoration: none; }
  .node_pane .pane-node-field-subtitled h2 {
    clear: both;
    margin: 0px;
    padding: 30px 0px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px; }
  .node_pane #alapjarat-article.pane-node-field-text p, .node_pane #alapjarat-article.pane-node-field-text span, .node_pane #alapjarat-article.pane-node-field-text ul, .node_pane #alapjarat-article.pane-node-field-text ol {
    font-size: 18px !important;
    font-family: Montserrat !important; }
  .node_pane #alapjarat-article.pane-node-field-text a span {
    color: #C72026 !important; }
  .node_pane #alapjarat-article.pane-node-field-text h3 {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 25px;
    font-size: 30px !important;
    font-weight: 300;
    font-family: magistral, sans-serif;
    clear: both; }
    .node_pane #alapjarat-article.pane-node-field-text h3 span {
      font-size: 30px !important;
      font-weight: 300;
      font-family: magistral, sans-serif; }
  .node_pane #alapjarat-article.pane-node-field-text ul li a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word; }
  .node_pane #alapjarat-article.pane-node-field-text img {
    padding: 5px 0; }
  .node_pane #alapjarat-article.pane-node-field-text iframe {
    max-width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 5px; }
  .node_pane #alapjarat-article.pane-node-field-text .glossary-indicator {
    text-decoration-style: dotted;
    color: #333332 !important;
    cursor: help; }
  .node_pane .pane-node-field-source {
    padding-top: 15px; }
    .node_pane .pane-node-field-source .pane-title {
      font-size: 18px;
      font-family: magistral, sans-serif; }
    .node_pane .pane-node-field-source .even {
      margin-top: 10px; }
    .node_pane .pane-node-field-source p {
      display: list-item;
      font-size: 16px !important;
      margin: 0;
      margin-left: 45px;
      padding-bottom: 10px;
      font-family: magistral, sans-serif; }
    .node_pane .pane-node-field-source a {
      margin-left: 10px;
      color: #C72026 !important;
      text-decoration: none; }
  .node_pane #article4 h4 {
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: solid 2px #333332;
    margin: 0px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    padding-top: 45px; }
  .node_pane #article4 p {
    margin: 0; }
  .node_pane #article4 .views-row {
    width: 47.5%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px; }
  .node_pane #article4 .views-row-1, .node_pane #article4 .views-row-3 {
    margin-right: 3.8%; }
  .node_pane #article4 .views-field-published-at, .node_pane #article4 .views-field-path, .node_pane #article4 .views-field-field-subtitled, .node_pane #article4 .views-field-field-tags {
    padding: 5px 10px; }
  .node_pane #article4 .views-field-published-at {
    padding-top: 5px; }
    .node_pane #article4 .views-field-published-at span {
      font-size: 14px;
      font-family: magistral, sans-serif;
      font-weight: 300; }
    .node_pane #article4 .views-field-published-at span::before {
      content: url("/sites/all/themes/alapjarat_theme_2019/images/clock.png");
      margin-right: 5px;
      vertical-align: sub; }
  .node_pane #article4 .views-field-path a {
    font-weight: bold;
    text-decoration: none;
    color: #333332 !important; }
  .node_pane #article4 .views-field-path a:hover {
    text-decoration: none;
    color: #C72026 !important; }
  .node_pane #article4 .views-field-field-subtitled p {
    font-size: 14px; }
  .node_pane #article4 .views-field-field-tags a {
    font-size: 12px;
    padding: 5px 7px;
    color: white !important;
    text-decoration: none; }
  .node_pane .pane-node-field-tagsa {
    clear: both;
    padding-bottom: 60px;
    padding-top: 15px; }
    .node_pane .pane-node-field-tagsa .pane-title {
      float: left;
      padding-right: 10px; }
    .node_pane .pane-node-field-tagsa .field-item a {
      float: left;
      padding-right: 10px;
      color: #C72026 !important;
      text-decoration: none; }
    .node_pane .pane-node-field-tagsa .field-item a::before {
      content: "#";
      font-style: italic; }
    .node_pane .pane-node-field-tagsa .pane-title, .node_pane .pane-node-field-tagsa .field-item a {
      font-size: 16px;
      font-family: magistral, sans-serif; }
  .node_pane #article-banner {
    max-width: 640px;
    margin-bottom: 30px;
    padding: 0px; }

.node_pane.pages {
  padding-top: 40px; }

.node_pane.impress {
  padding-top: 40px; }
  .node_pane.impress a {
    text-decoration: none;
    color: #333332 !important; }
  .node_pane.impress .view-content {
    padding-top: 55px; }
  .node_pane.impress .views-row {
    padding-bottom: 75px; }
    .node_pane.impress .views-row p {
      margin: 0px;
      padding-top: 15px; }
    .node_pane.impress .views-row .left {
      float: left;
      padding-right: 30px; }
    .node_pane.impress .views-row .views-field-nothing {
      min-height: 331px; }
    .node_pane.impress .views-row .title-link {
      height: 38px; }
    .node_pane.impress .views-row .title {
      font-family: magistral, sans-serif;
      font-size: 30px;
      font-weight: bold; }
    .node_pane.impress .views-row .link {
      float: right;
      padding-top: 10px; }
    .node_pane.impress .views-row .status {
      font-family: magistral, sans-serif;
      color: #C72026 !important; }
    .node_pane.impress .views-row .e-mail {
      background-color: white;
      width: 255px;
      text-align: center;
      padding: 15px 0px;
      margin-top: 20px; }
      .node_pane.impress .views-row .e-mail .button {
        color: #C72026 !important;
        font-weight: 600; }
  .node_pane.impress .impress-else .view-header {
    font-size: 26px;
    font-family: magistral, sans-serif; }
  .node_pane.impress .impress-else .view-content {
    padding-top: 15px;
    padding-bottom: 55px; }
  .node_pane.impress .impress-else .views-row {
    padding-bottom: 0; }
  .node_pane.impress .impress-else .field-content {
    display: list-item;
    margin-left: 40px; }

.taxonomy-page, .archive, .view-search-api-search {
  padding-top: 40px !important; }
  .taxonomy-page .view-content, .archive .view-content, .view-search-api-search .view-content {
    padding-bottom: 20px; }
  .taxonomy-page .views-row, .archive .views-row, .view-search-api-search .views-row {
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: dashed 2px #e6e6e6; }
  .taxonomy-page .pane-term-name, .archive .pane-term-name, .view-search-api-search .pane-term-name {
    border-bottom: #C72026 solid 2px;
    margin-bottom: 20px; }
    .taxonomy-page .pane-term-name h1, .archive .pane-term-name h1, .view-search-api-search .pane-term-name h1 {
      color: white;
      font-size: 14px;
      background-color: #C72026;
      display: inline-block;
      padding: 6px 11px;
      margin: 0;
      text-transform: uppercase; }
  .taxonomy-page img, .archive img, .view-search-api-search img {
    margin-bottom: 10px; }
  .taxonomy-page h3, .archive h3, .view-search-api-search h3 {
    font-size: 24px;
    font-family: magistral, sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 8px; }
  .taxonomy-page .left, .archive .left, .view-search-api-search .left {
    float: left;
    max-width: 255px;
    margin-right: 15px; }
  .taxonomy-page .views-field-field-tags a, .archive .views-field-field-tags a, .view-search-api-search .views-field-field-tags a {
    font-size: 12px;
    padding: 5px 7px;
    display: inline-block; }
  .taxonomy-page .author, .archive .author, .view-search-api-search .author {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 10px; }
  .taxonomy-page .time, .archive .time, .view-search-api-search .time {
    font-size: 14px;
    font-family: magistral, sans-serif; }
  .taxonomy-page .time::before, .archive .time::before, .view-search-api-search .time::before {
    content: url("/sites/all/themes/alapjarat_theme_2019/images/clock.png");
    margin-right: 6px;
    vertical-align: sub; }
  .taxonomy-page .subtitle, .archive .subtitle, .view-search-api-search .subtitle {
    display: flex;
    font-size: 14px; }
    .taxonomy-page .subtitle p, .archive .subtitle p, .view-search-api-search .subtitle p {
      margin: 0; }
  .taxonomy-page .clear-both, .archive .clear-both, .view-search-api-search .clear-both {
    clear: both; }

.view-glossary-list {
  padding-top: 40px; }
  .view-glossary-list .views-row {
    line-height: 20px;
    margin-bottom: 10px; }
  .view-glossary-list .view-header {
    border-bottom: #C72026 solid 2px;
    margin-bottom: 20px; }
    .view-glossary-list .view-header p {
      color: white;
      font-size: 14px;
      background-color: #C72026;
      display: inline-block;
      padding: 6px 11px;
      text-transform: uppercase;
      margin: 0px; }

.menu-footer {
  background-color: #C72026;
  padding: 35px 0px !important; }
  .menu-footer .panels-flexible-row-inside {
    max-width: 1115px;
    margin: auto; }
  .menu-footer .pane-title {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px; }
  .menu-footer a, .menu-footer span, .menu-footer #random-glossory a {
    color: #ffffff !important;
    font-size: 14px; }
  .menu-footer li {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 22px; }
  .menu-footer span {
    display: block;
    text-transform: uppercase; }
  .menu-footer .pane-content {
    padding-top: 10px; }
  .menu-footer .view-content {
    padding-top: 15px; }
  .menu-footer #partners .views-row, .menu-footer .car-partner .views-row {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px; }
  .menu-footer #partners .pane-content, .menu-footer .car-partner .pane-content {
    padding-top: 0; }
    .menu-footer #partners .pane-content img, .menu-footer .car-partner .pane-content img {
      opacity: 0.3; }
  .menu-footer .link {
    display: block;
    text-transform: uppercase;
    line-height: 22px; }
  .menu-footer .mail {
    margin-bottom: 5px; }
  .menu-footer .mail, .menu-footer .tel {
    display: block;
    line-height: 23px; }
  .menu-footer .tel::before, .menu-footer .mail::before {
    vertical-align: middle;
    margin-right: 10px; }
  .menu-footer .tel::before {
    content: url("/sites/all/themes/alapjarat_theme_2019/images/phone.png"); }
  .menu-footer .mail::before {
    content: url("/sites/all/themes/alapjarat_theme_2019/images/email.png"); }
  .menu-footer .popular-tags, .menu-footer .calculator, .menu-footer .car-partner, .menu-footer .glossory {
    margin-right: 18px; }
  .menu-footer .popular-tags {
    width: 180px; }
  .menu-footer .calculator {
    width: 255px; }
  .menu-footer .car-partner {
    width: 250px; }
  .menu-footer .connection {
    width: 167px; }
  .menu-footer .glossory {
    width: 190px; }
    .menu-footer .glossory .pane-content {
      padding-top: 0px; }
    .menu-footer .glossory a {
      font-size: 16px; }
  .menu-footer #random-glossory a {
    text-transform: none; }
  .menu-footer #random-glossory .view-glossary-list {
    padding-top: 0px; }
    .menu-footer #random-glossory .view-glossary-list .views-row {
      line-height: 16px; }
  .menu-footer .atmedia {
    padding-bottom: 15px; }
    .menu-footer .atmedia span {
      padding-bottom: 10px; }

.my-footer {
  background-color: #C72026;
  padding: 15px 0px !important; }
  .my-footer .panels-flexible-row-inside {
    max-width: 1115px;
    margin: auto; }
  .my-footer li {
    display: inline-block;
    font-size: 14px;
    color: #8C181B; }
  .my-footer .copyright {
    width: 65%; }
    .my-footer .copyright a:hover {
      color: #333332 !important; }
  .my-footer .social-media-menu {
    width: 35%; }
  .my-footer .right {
    float: right; }
  .my-footer .left {
    float: left; }
  .my-footer #social-media .views-row {
    display: inline-block;
    margin-left: 10px; }
  .my-footer #social-media .view-content {
    display: inline-block;
    float: right; }

.editor-menu {
  background: black;
  width: 86%; }

.user_name {
  width: 14%;
  background: black; }

#user_name {
  float: right; }

#my_admin_menu, #user_name {
  padding: 10px 5px; }
  #my_admin_menu p, #user_name p {
    color: white !important;
    margin: 0;
    background: red;
    border-radius: 10px;
    padding: 0px 5px;
    width: -moz-fit-content; }
  #my_admin_menu ul li.leaf, #user_name ul li.leaf {
    display: inline; }
    #my_admin_menu ul li.leaf a, #user_name ul li.leaf a {
      color: white !important; }
    #my_admin_menu ul li.leaf a:hover, #user_name ul li.leaf a:hover {
      color: red !important; }

/*# sourceMappingURL=my_style.css.map */
