@import url('https://use.typekit.net/qas2soj.css')

html
	background-color: #f8f8f8

//Body
body::before
	background-image: none
body
	font-size: 18px
	font-family: Montserrat
	color: #333332
	max-width: 1440px
	width: auto
	margin-left: auto
	margin-right: auto
	line-height: 1.42857143
body.front
	.ecdh-api
		padding: 15px 0px !important
		margin-top: 20px !important
		background-color: #C72026
	.main-center
		background-color: white
body.not-front
	.first-block
		background-color: white
	.right-bar
		padding-top: 14px
body.node-type-a-article
	.main-center
		background-color: white
body.page-impress, body.node-type-pages, body.page-taxonomy, body.page-new-archive, body.page-new-kereses
	.right-bar
		padding-top: 54px
		.views-row
			background-color: white
		#event .views-row
			background: none
		#right-top-5
			background-color: white
body.node-type-pages, body.page-autos-kifejezesek
	.right-bar
		padding-top: 40px

//Everywhere
h1, h2, h3, h4, h5, h6
	margin-top: 20px
	margin-bottom: 10px
	padding: 0
h1
	font-size: 36px

h2
	font-size: 30px
h3
	font-size: 24px
h4
	margin-top: 10px
	font-size: 18px
a
	color: #333332 !important
a:hover
	text-decoration: none
	color: #C72026 !important
.ckeditor_links a
	color: white
#admin-menu
	a
		color: white !important
.views-label-field-tags, .views-field-field-tags, .pane-node-field-tags
	a
		color: white !important
		background: #C72026
		text-decoration: none
	a:hover
		color: white !important
.youtube-embed-wrapper
	padding-top: 0px !important
	margin-bottom: 15px
.panels-flexible-region
	width: auto
.inside.panels-flexible-region-inside, .panels-flexible-row
	padding: 0px !important
.panel-separator
	margin: 0px !important
.clearfix::after
	content: ""
.banner
	margin: auto
	background-color: #dbe0e4

//Display
#edit-submit-search-api-search
	display: none
#mini-panel-hamburger_menu_2019
	display: none
#mini-panel-mobil_menu
	display: none
	.pane-content
		display: none
	#category, #car-partners, #connection
		.view-content
			display: none
		.pane-content
			display: block
	#main-menu-2019
		.pane-content
			display: block
	#car-partners, #connection
		display: none

//Pager
.item-list
	.pager
		text-align: left
		margin: 0px
		padding: 20px 0px
		li
			margin: 0px
			padding: 0px
			font-size: 16px
			font-family: magistral, sans-serif
			font-weight: 500
			margin-right: 5px
			a
				background-color: white
				line-height: 26px
				border: solid 1px #ccccc8
		.pager-current
			color: white
			background-color: #C72026
			line-height: 28px
		.pager-ellipsis
			line-height: 21px
			vertical-align: bottom
		.pager-current, a
			width: 30px
			height: 30px
			display: inline-block
			text-align: center
			border-radius: 3px

//Mailchimp
#mc_embed_signup form
	background-color: #333332
	padding: 20px !important
	margin: 0px
	border-radius: 5px
	p
		font-size: 19px
		font-family: magistral, sans-serif
		color: #C72026
		margin: 0px
		padding-bottom: 25px
	span
		font-size: 24px
		font-weight: 500
		color: white
		display: block
		padding-top: 10px
		padding-bottom: 20px
	#mce-EMAIL, #mce-MMERGE2
		padding-left: 20px
		text-indent: 0
		font-size: 18px
		color: #666666
		font-style: italic
		background-color: #2B2B2A
		height: 61px
		border-radius: 3px
		border: 0px
		margin-bottom: 20px
	.mc-field-group
		width: 100%
		padding-bottom: 0
		min-height: auto
	label
		color: white
		font-size: 12px
		display: flow-root !important
		margin-bottom: 15px !important
		line-height: 14px
	a
		color: #C72026 !important
		text-decoration: underline
	#mce-MMERGE3-0, #mce-MMERGE1-0
		float: left
	input[type="radio"]
		margin-right: 10px !important
	#mc-embedded-subscribe
		width: 100%
		height: 61px
		background-color: #C72026
		padding: 0px
		margin: 0px
		font-size: 20px
		font-weight: 600
		margin-top: 15px
	input.mce_inline_error
		border: solid 2px #C72026 !important
		margin-bottom: 10px !important
	div.mce_inline_error
		padding: 0px !important
		background: none !important
		color: #C72026 !important

//Letterhead
.letterhead
	background-color: #ffffff
	.panels-flexible-row-inside
		max-width: 1115px
		margin: auto
		padding: 20px 0px
	.logo
		img
			width: 200px
	.pane-page-slogan
		h1
			margin: 0px
			font-size: 14px
			text-transform: uppercase
			text-align: center
			font-family: magistral, sans-serif
			font-weight: 300
			color: #666666

//Main menu
.header.menu-active
	background-color: #333332
	border-bottom: solid 1px #666666
	#main_menu
		#mobil-menu
			background: url("/sites/all/themes/alapjarat_theme_2019/images/hamburger_menu_x.png")
			background-repeat: no-repeat
			background-position: center
.header
	background-color: #ffffff
	border-top: solid 1px #e6e6e6
	border-bottom: solid 1px #e6e6e6
	height: 54px
	.panels-flexible-row-inside
		max-width: 1115px
		margin: auto
	#main_menu
		height: 52px
		.pane-content
			display: inline-block
		#mobil-menu
			background: url("/sites/all/themes/alapjarat_theme_2019/images/alapjarat_hamburger.png")
			background-repeat: no-repeat
			background-position: center
			width: 21px
			height: 52px
			float: left
			cursor: pointer
			margin-right: 30px
			display: none
		#ham-menu
			margin-right: 30px
		a
			color: #333332 !important
			font-size: 14px
			line-height: 52px
			margin-right: 25px
		.hm-active
			color: white !important
			font-weight: bold
			padding: 0px 5px
			padding-top: 3px
			padding-bottom: 18px
			background-color: #C72026
		a:hover
			color: #C72026 !important
		.hm-active:hover
			color: #333332 !important
		li
			display: inline
			padding: 0
			margin: 0
	.search
		float: right
		width: auto
		#search
			input#edit-search-api-views-fulltext, input#edit-keys
				width: 255px
				height: 38px
				background-color: #F2F2F2
				border: 0px
				font-size: 14px
				font-style: italic
				font-weight: 200
				padding-left: 20px
				margin: 0px
			.views-exposed-form .views-exposed-widget, .views-exposed-widgets
				padding: 0px
				margin: 0px
			#edit-search-api-views-fulltext-wrapper
				padding: 7px 0px

//Mobile menu
.mobile-menu
	width: 100%
	background-color: #333332
	#mini-panel-mobil_menu
		.panels-flexible-region-first
			width: 100%
		.pane-title
			cursor: pointer
		.view-header
			cursor: pointer
		li
			margin: 0
			padding: 0
			list-style: none
		.pane-title, .view-header, #main-menu-2019 a, #connection .link
			display: block
			line-height: 50px
			font-size: 14px
			font-weight: bold
			border-bottom: dashed 1px #4d4d4d
			text-transform: uppercase
			color: white !important
			padding-left: 25px
		.pane-content ul
			background-color: #272727
			margin: 0px
		.pane-content
			li
				a
					color: white !important
					line-height: 50px
					font-size: 14px
					font-weight: bold
					padding-left: 50px
					text-transform: uppercase
				a::before
					content: "-"
					margin-right: 5px
		.pane-content li
			border-bottom: dashed 1px #4d4d4d
		#main-menu-2019
			.pane-content ul
				background-color: transparent
			.pane-content
				li
					border-bottom: 0px
					a::before
						content: none
		#connection
			a
				text-transform: none
			.tel::before, .mail::before
				vertical-align: middle
				margin-right: 10px
			.tel::before
				content: url("/sites/all/themes/alapjarat_theme_2019/images/phone.png")
			.mail::before
				content: url("/sites/all/themes/alapjarat_theme_2019/images/email.png")
		.m-active
			.pane-title, .view-header, #main-menu-2019 a, #connection a
				color: #C72026 !important
		.m-active.pane-title
			color: #C72026 !important

//Default first block
.panels-flexible-region-first.first-block
	width: 100%
	.panels-flexible-region-inside-first
		max-width: 1115px
		margin: auto
	#mini-panel-hamburger_menu_2019
		overflow: hidden
		.panels-flexible-region-inside-first
			position: absolute
			z-index: 10
			border-top: #C72026 5px solid
			background-color: #333332
			padding: 10px 20px !important
			width: 385px
			.pane-title, .view-header
				color: white
				font-size: 24px
				font-family: magistral, sans-serif
				font-weight: bold
				border-bottom: solid 1px white
			.view-category-list, .pane-system-main-menu
				float: left
			.view-category-list
				width: 180px
			.pane-system-main-menu
				width: 135px
				margin-right: 30px
			li
				list-style: none
				margin: 0px
				padding: 0px
			ul
				padding-top: 10px
			a
				color: white !important
				font-size: 16px
				font-family: magistral, sans-serif
				font-weight: 500
			a:hover
				color: #C72026 !important
	#default-page-big-banner
		max-width: 970px
		height: 250px
		margin: 30px auto
	#one
		width: 50%
		float: left
		position: relative
		.views-field-path
			width: 100%
			position: absolute
			bottom: 26px
			padding: 20px
			padding-bottom: 60px
			//background-image: repeating-linear-gradient(-45deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 2px, rgba(0,0,0,0.4) 2px, rgba(0,0,0,0.4) 6px)
			background: rgba(0,0,0,0.5)
			h3
				font-family: magistral, sans-serif
				font-size: 20px
				font-weight: bold
				line-height: 26px
				margin: 0
				a
					color: #ffffff !important
				p
					margin: 0
		.views-field-field-tags
			margin-right: 10px
			margin-left: 20px
			a
				padding: 6px 8px
				font-size: 12px
		.views-field-published-at
			font-family: magistral, sans-serif
			font-size: 13px
			color: #ffffff
			span::before
				content: url("/sites/all/themes/alapjarat_theme_2019/images/clock_w.png")
				margin-right: 5px
				vertical-align: sub
		.views-field-field-tags, .views-field-published-at
			position: relative
			bottom: 50px
			display: inline-block
	#four
		width: 50%
		float: left
		padding-left: 25px
		.views-row
			width: 48%
			display: inline-block
			vertical-align: top
			position: relative
			margin-bottom: 27px
		.views-row-1, .views-row-3
			margin-right: 3%
		.views-field-path
			width: 100%
			position: absolute
			bottom: 0px
			padding: 10px
			padding-bottom: 55px
			//background-image: repeating-linear-gradient(-45deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 2px, rgba(0,0,0,0.4) 2px, rgba(0,0,0,0.4) 6px)
			background: rgba(0,0,0,0.5)
			h3
				font-family: magistral, sans-serif
				font-size: 14px
				font-weight: bold
				margin: 0
				a
					color: #ffffff !important
				p
					margin: 0
		.views-field-field-tags
			bottom: 35px
			margin: 0px 10px
			a
				padding: 2px 3px
				font-size: 10px
		.views-field-published-at
			bottom: 50px
			font-family: magistral, sans-serif
			font-size: 11px
			color: #ffffff
			margin: 0px 10px
			span::before
				content: url("/sites/all/themes/alapjarat_theme_2019/images/clock_w.png")
				margin-right: 5px
				vertical-align: top
		.views-field-field-tags, .views-field-published-at
			position: relative
			height: 0px

//Main center
.main-center
	width: 100%
	padding-bottom: 20px !important
	.panels-flexible-row-inside
		max-width: 1115px
		margin: auto
	.main-content
		width: 65.5%

	//Right bar
	.right-bar
		width: 34.5%
		padding-left: 30px
		padding-top: 47px
		.banner
			max-width: 300px
			height: 250px
		#banner2-in-article
			height: 600px
		.pane-title
			font-size: 14px
			text-transform: uppercase
			font-weight: 600
			padding-bottom: 5px
			border-bottom: solid 2px #333332
			display: block
			margin-bottom: 20px
		.panel-pane
			margin-bottom: 40px
		.panel-pane:last-child
			margin-bottom: 0px
		#right-top-5
			background-color: #F7F7F7
			border: dashed 2px #e6e6e6
			.view-header
				max-width: 310px
				margin: auto
				margin-top: -15px
				p
					display: inline-block
					font-size: 14px
					color: white
					font-weight: 600
					text-transform: uppercase
					background-color: #333332
					padding: 5px 10px
					margin-bottom: 20px
			.views-row
				max-width: 310px
				margin: auto
				margin-bottom: 20px
				.views-field-published-at
					margin-top: 10px
		#archive
			li
				list-style: none
				font-size: 14px
				padding-bottom: 15px
		#event
			.views-row
				padding: 10px 0px
				background-color: #ffffff
				margin: 0px
				border-bottom: dashed 2px #e6e6e6
			.views-row:last-child
				border-bottom: 0px
				padding-bottom: 0px
			.views-row:first-child
				padding-top: 0px
			ul
				list-style-type: none
				padding: 0px 4px
				padding-left: 10px
			.No
				border-left: solid 5px #333332
			.Yes
				border-left: solid 5px #C72026
				a
					color: #C72026 !important
			.time
				font-family: magistral, sans-serif
				font-size: 14px
			.time::before
				content: url("/sites/all/themes/alapjarat_theme_2019/images/clock.png")
				margin-right: 5px
				vertical-align: sub
			a
				font-size: 16px
				font-family: magistral, sans-serif
				font-weight: 500

//Front page and Right bar
.front-page, .right-bar
	padding-top: 20px
	.views-row
		margin-bottom: 20px
		background-color: #F8F8F8
		padding-bottom: 10px
	.views-field-published-at
		line-height: 18px
		span
			font-size: 14px
			font-family: magistral, sans-serif
			font-weight: 300
		span::before
			content: url("/sites/all/themes/alapjarat_theme_2019/images/clock.png")
			margin-right: 5px
			vertical-align: sub
	.views-field-path
		p
			margin: 0px
		h3
			margin: 0px
			margin-top: 3px
			font-size: 18px
			font-weight: bold
			line-height: 20px
	.views-field-field-subtitled
		p
			margin: 0px
			font-size: 14px
			line-height: 20px
	.views-field-field-tags
		clear: both
		padding-top: 10px
		a
			font-size: 12px
			padding: 5px 7px
			color: #ffffff !important
			line-height: 30px
	.view-header
		clear: both
		ul
			border-bottom: solid 2px #333332
			margin-bottom: 30px
			padding-top: 25px
		li
			display: inline-block
			vertical-align: top
			h3
				padding: 0
				margin: 0
				text-transform: uppercase
				font-size: 14px
				font-weight: 600
		li.text
			float: right
			font-size: 12px
			text-decoration: initial
			font-weight: 300
	.helpful-info
		.view-header
			width: 208.5%
			clear: both
	.helpful-info.small
		margin-top: 82px
	.a-1, .a-2
		width: 50%
		float: left
	.a-1
		padding-right: 15px
	.a-2
		padding-left: 15px
	.big
		.views-field-published-at, .views-field-path, .views-field-field-tags, .views-field-field-subtitled
			margin: 0px 10px
			margin-top: 10px
		.views-field-field-tags
			margin-top: 0px
		.views-field-path
			margin-top: 7px
			height: 46px
			h3
				line-height: 24px
	.big.many
		clear: both
		.views-row
			margin-bottom: 25px
	.small
		.views-row
			padding: 10px
		.views-field-field-image
			float: left
		.views-field-published-at
			vertical-align: top
		.views-field-published-at, .views-field-path
			margin-left: 155px
		.views-field-path
			height: 57px
	.many
		.views-row
			width: 48%
			display: inline-block
			vertical-align: top
		.views-row-even
			margin-left: 1.4%
		.views-row-odd
			margin-right: 1.4%

//Article node pane
.node_pane.article
	background-color: #F8F8F8
	padding-top: 20px
	.panel-pane
		padding-left: 20px
		padding-right: 20px

//Node pane
.node_pane
	.background-none
		background-color: white
	.view-header
		.pane-title-2
			font-size: 40px
			font-family: magistral, sans-serif
			font-weight: bold
			padding-bottom: 20px
	.pane-node-title
		border-bottom: #C72026 solid 2px
		margin-bottom: 20px
		.pane-content
			color: white
			font-size: 14px
			background-color: #C72026
			display: inline-block
			padding: 6px 11px
			text-transform: uppercase
	.background-none.panel-pane, #fb-like-share.panel-pane
		padding-left: 0px
		padding-right: 0px
	#youtube.panel-pane
		padding-right: 0px
	ul, ol
		margin-left: 30px
		margin-bottom: 25px
		ul, ol
			margin-bottom: 0px
			width: 75%
		li
			margin-bottom: 15px
			display: block
	ul
		list-style: none
		li::before
			content: "●"
			color: #C72026
			display: inline-block
			width: auto
			margin-right: 20px
	ol
		list-style: none
		counter-reset: li
		li::before
			content: counter(li)
			color: #C72026
			display: inline-block
			min-width: 15px
			margin-right: 20px
			font-weight: bold
		li
			counter-increment: li
	h1
		margin: 0px
		font-family: magistral, sans-serif
		font-size: 40px
		font-weight: 800
		line-height: 50px
		p
			margin: 0px
			padding: 20px 0px
	h4
		margin-top: 0px
		span
			margin-top: 0px
			font-size: 18px !important
	a
		text-decoration: underline
		color: #C72026 !important
	blockquote
		padding: 31px 27px
		margin: 0 0 20px
		border-left: 7px solid #333332
		background: #FCFCFC
		p
			font-size: 18px !important
			margin: 0
			font-style: italic
	figure
		margin: 0 !important
	figcaption
		margin-top: 5px
		font-size: 16px
		border-left: 7px solid #C72026
		padding: 5px 27px
		font-weight: 300
		line-height: 24px
		font-style: italic
		text-align: left
		margin-bottom: -7px
	#youtube
		float: left
		clear: both
		height: 24px
		margin-top: 4px
		margin-right: 5px
	#fb-like-share
		float: left
		margin-top: 2px
	#fb-save
		float: right
	.tabs.primary.clearfix
		margin-left: 0
	.field-name-field-picture
		float: left
		img
			border-radius: 20px
			margin-right: 10px
	.pane-node-field-published
		.field-items
			font-weight: 600
			font-size: 14px
			text-transform: uppercase
			a
				color: #333332 !important
				text-decoration: none
	.pane-node-published
		font-size: 12px
		padding-bottom: 35px
		.pane-content
			display: inline-block
	.field-label
		font-weight: normal
	.pane-node-field-tags
		.field-items
			display: inline-flex
		.field-item
			margin-right: 6px
			a
				font-size: 14px
				padding: 6px 11px
				color: white !important
				text-decoration: none
			a:hover
				text-decoration: none
	.pane-node-field-subtitled
		h2
			clear: both
			margin: 0px
			padding: 30px 0px
			font-size: 20px
			font-weight: 600
			line-height: 30px
	#alapjarat-article.pane-node-field-text
		p, span, ul, ol
			font-size: 18px !important
			font-family: Montserrat !important
		h3
			margin: 0
			padding-top: 15px
			padding-bottom: 25px
			font-size: 30px !important
			font-weight: 300
			font-family: magistral, sans-serif
			span
				font-size: 30px !important
				font-weight: 300
				font-family: magistral, sans-serif
		ul li a
			overflow-wrap: break-word
			word-wrap: break-word
			word-break: break-all
			word-break: break-word
		img
			padding: 5px 0
		iframe
			max-width: 100%
			display: block
			margin: auto
			margin-bottom: 5px
	.pane-node-field-source
		padding-top: 15px
		.pane-title
			font-size: 18px
			font-family: magistral, sans-serif
		.even
			margin-top: 10px
		p
			display: list-item
			font-size: 16px !important
			margin: 0
			margin-left: 45px
			padding-bottom: 10px
			font-family: magistral, sans-serif
		a
			margin-left: 10px
			color: #C72026 !important
			text-decoration: none
	#article4
		h4
			font-size: 14px
			text-transform: uppercase
			border-bottom: solid 2px #333332
			margin: 0px
			padding-bottom: 10px
			margin-bottom: 30px
			padding-top: 45px
		p
			margin: 0
		.views-row
			width: 47.5%
			display: inline-block
			vertical-align: top
			margin-bottom: 40px
		.views-row-1, .views-row-3
			margin-right: 3.8%
		.views-field-published-at, .views-field-path, .views-field-field-subtitled, .views-field-field-tags
			padding: 5px 10px
		.views-field-published-at
			padding-top: 5px
			span
				font-size: 14px
				font-family: magistral, sans-serif
				font-weight: 300
			span::before
				content: url("/sites/all/themes/alapjarat_theme_2019/images/clock.png")
				margin-right: 5px
				vertical-align: sub
		.views-field-path
			a
				font-weight: bold
				text-decoration: none
				color: #333332 !important
			a:hover
				text-decoration: none
				color: #C72026 !important
		.views-field-field-subtitled
			p
				font-size: 14px
		.views-field-field-tags
			a
				font-size: 12px
				padding: 5px 7px
				color: white !important
				text-decoration: none
	.pane-node-field-tagsa
		clear: both
		padding-bottom: 60px
		padding-top: 15px
		.pane-title
			float: left
			padding-right: 10px
		.field-item
			a
				float: left
				padding-right: 10px
				color: #C72026 !important
				text-decoration: none
			a::before
				content: "#"
				font-style: italic
		.pane-title, .field-item a
			font-size: 16px
			font-family: magistral, sans-serif
	#article-banner
		max-width: 640px
		height: 360px
		margin-bottom: 30px
		padding: 0px

//Pages node pane
.node_pane.pages
	padding-top: 40px

//Impress node pane
.node_pane.impress
	padding-top: 40px
	a
		text-decoration: none
		color: #333332 !important
	.view-content
		padding-top: 55px
	.views-row
		padding-bottom: 75px
		p
			margin: 0px
			padding-top: 15px
		.left
			float: left
			padding-right: 30px
		.views-field-nothing
			min-height: 331px
		.title-link
			height: 38px
		.title
			font-family: magistral, sans-serif
			font-size: 30px
			font-weight: bold
		.link
			float: right
			padding-top: 10px
		.status
			font-family: magistral, sans-serif
			color: #C72026 !important
		.e-mail
			background-color: white
			width: 255px
			text-align: center
			padding: 15px 0px
			margin-top: 20px
			.button
				color: #C72026 !important
				font-weight: 600
	.impress-else
		.view-header
			font-size: 26px
			font-family: magistral, sans-serif
		.view-content
			padding-top: 15px
			padding-bottom: 55px
		.views-row
			padding-bottom: 0
		.field-content
			display: list-item
			margin-left: 40px

//Taxonomy Pane and Archive
.taxonomy-page, .archive, .view-search-api-search
	padding-top: 40px !important
	.view-content
		padding-bottom: 20px
	.views-row
		padding-top: 30px
		padding-bottom: 20px
		border-bottom: dashed 2px #e6e6e6
	.pane-term-name
		border-bottom: #C72026 solid 2px
		margin-bottom: 20px
		h1
			color: white
			font-size: 14px
			background-color: #C72026
			display: inline-block
			padding: 6px 11px
			margin: 0
			text-transform: uppercase
	img
		margin-bottom: 10px
	h3
		font-size: 24px
		font-family: magistral, sans-serif
		font-weight: bold
		margin-top: 3px
		margin-bottom: 8px
	.left
		float: left
		max-width: 255px
		margin-right: 15px
	.views-field-field-tags
		a
			font-size: 12px
			padding: 5px 7px
			line-height: 30px
	.author
		font-weight: 600
		font-size: 14px
		text-transform: uppercase
		padding-right: 10px
		vertical-align: top
	.time
		font-size: 14px
		font-family: magistral, sans-serif
		vertical-align: top
	.time::before
		content: url("/sites/all/themes/alapjarat_theme_2019/images/clock.png")
		margin-right: 6px
		vertical-align: sub
	.subtitle
		display: flex
		font-size: 14px
		p
			margin: 0
	.clear-both
		clear: both

.view-glossary-list
	padding-top: 40px
	.view-header
		border-bottom: #C72026 solid 2px
		margin-bottom: 20px
		p
			color: white
			font-size: 14px
			background-color: #C72026
			display: inline-block
			padding: 6px 11px
			text-transform: uppercase
			margin: 0px
//Footer
.menu-footer
	background-color: #C72026
	padding: 35px 0px !important
	.panels-flexible-row-inside
		max-width: 1115px
		margin: auto
	.pane-title
		text-transform: uppercase
		color: #ffffff
		font-weight: bold
		font-size: 16px
	a
		color: #ffffff !important
		font-size: 14px
	li
		list-style: none !important
		margin: 0 !important
		padding: 0 !important
		line-height: 22px
	.pane-content
		padding-top: 10px
	.view-content
		padding-top: 15px
	#partners
		.views-row
			display: inline-block
			margin-right: 15px
			margin-bottom: 15px
		.pane-content
			padding-top: 0
			img
				opacity: 0.3
	.link
		display: block
		text-transform: uppercase
		line-height: 22px
	.mail
		margin-bottom: 10px
	.mail, .tel
		display: block
		line-height: 23px
	.tel::before, .mail::before
		vertical-align: middle
		margin-right: 10px
	.tel::before
		content: url("/sites/all/themes/alapjarat_theme_2019/images/phone.png")
	.mail::before
		content: url("/sites/all/themes/alapjarat_theme_2019/images/email.png")
	.popular-tags
		width: 17%
		margin-right: 6%
	.calculator
		width: 23%
		margin-right: 6%
	.car-partner
		width: 27.5%
		margin-right: 5.5%
	.connection
		width: 15%
.my-footer
	background-color: #C72026
	padding: 15px 0px !important
	.panels-flexible-row-inside
		max-width: 1115px
		margin: auto
	li
		display: inline-block
		font-size: 14px
		color: #8C181B
	.copyright
		width: 65%
	.social-media-menu
		width: 35%
	.right
		float: right
	.left
		float: left
	#social-media
		.views-row
			display: inline-block
			margin-left: 10px
		.view-content
			display: inline-block
			float: right

.editor-menu
	background: black
	width: 86%
.user_name
	width: 14%
	background: black
#user_name
	float: right
#my_admin_menu, #user_name
	padding: 10px 5px
	p
		color: white !important
		margin: 0
		background: red
		border-radius: 10px
		padding: 0px 5px
		width: -moz-fit-content
	ul li.leaf
		display: inline
		a
			color: white !important
		a:hover
			color: red !important


