@media screen and (max-width: 1145px) {
  #edit-profiles, #ecdh-city {
    margin-right: 15px;
    width: 245px; }

  .letterhead, .header, .panels-flexible-region-first.first-block, .main-center, .menu-footer, .my-footer, #ecdh-api {
    padding-right: 25px !important;
    padding-left: 25px !important; }

  .panels-flexible-region-first.first-block #four {
    padding-left: 20px; }
    .panels-flexible-region-first.first-block #four .views-row {
      margin-bottom: 23px; }
    .panels-flexible-region-first.first-block #four .views-row-1, .panels-flexible-region-first.first-block #four .views-row-3 {
      margin-right: 2.7%; }

  .front-page .small img {
    width: 135px; }
  .front-page .small .views-row {
    padding: 5px; }
  .front-page .small .views-field-published-at, .front-page .small .views-field-path {
    margin-left: 145px; }
  .front-page .small .views-field-published-at {
    line-height: 14px; }
    .front-page .small .views-field-published-at span {
      font-size: 13px; }
  .front-page .small .views-field-path h3 {
    font-size: 16px; }

  .right-bar .small img {
    display: none; }
  .right-bar .small .views-field-published-at, .right-bar .small .views-field-path {
    margin-left: 0px; }
  .right-bar .small .views-field-path {
    height: auto; }
  .right-bar #right-top-5 {
    padding: 0px 20px; }

  .node_pane #article-banner {
    margin: 0px 20px;
    margin-bottom: 30px; }

  .menu-footer .panels-flexible-row-inside {
    max-width: 1020px; }
  .menu-footer .pane-title {
    font-size: 15px; }
  .menu-footer a, .menu-footer span, .menu-footer #random-glossory a {
    font-size: 13px; }
  .menu-footer .popular-tags, .menu-footer .calculator, .menu-footer .car-partner, .menu-footer .glossory {
    margin-right: 15px; }
  .menu-footer .popular-tags {
    width: 170px; }
  .menu-footer .calculator {
    width: 230px; }
  .menu-footer .car-partner {
    width: 225px; }
  .menu-footer .connection {
    width: 155px; }
  .menu-footer .glossory {
    width: 180px; }
    .menu-footer .glossory .pane-content {
      padding-top: 0px; }
    .menu-footer .glossory a {
      font-size: 15px; } }
@media screen and (max-width: 1070px) {
  .panels-flexible-region-first.first-block #mini-panel-hamburger_menu_2019 .panels-flexible-region-inside-first {
    display: none; }

  #main-menu-2019 .menu .kalkul-torok {
    display: none; }

  #mobile-logo, #mobile-search {
    display: block !important; }

  .letterhead, #search {
    display: none; }

  .search-tablet {
    position: absolute;
    top: 0px;
    right: 25px; }

  #main_menu #mobil-menu {
    display: block !important; }
  #main_menu #ham-menu, #main_menu .pane-content {
    display: none !important; }
  #main_menu ul {
    display: none; }

  .menu-footer {
    padding-bottom: 10px !important; }
    .menu-footer .panels-flexible-row-inside {
      max-width: 595px; }
    .menu-footer .car-partner {
      width: 420px; }
    .menu-footer .popular-tags, .menu-footer .calculator {
      display: none; }
    .menu-footer .glossory {
      display: none; } }
@media screen and (max-width: 1055px) {
  body.front .ecdh-api {
    margin-top: 10px !important; }

  .panels-flexible-region-first.first-block #one, .panels-flexible-region-first.first-block #four {
    float: none;
    padding: 0px;
    width: auto;
    max-width: 570px;
    margin: auto; }
  .panels-flexible-region-first.first-block #one {
    margin-top: 25px; }

  .ecdh-api .panels-flexible-row-inside {
    max-width: 742px; }

  #ecdh-api span {
    display: contents; }
  #ecdh-api .pane-title {
    font-size: 20px;
    padding-top: 0px;
    font-weight: 500;
    text-transform: uppercase; }
  #ecdh-api .pane-content {
    float: none;
    padding-top: 15px; }

  .main-center .main-content, .main-center .right-bar {
    width: auto;
    max-width: 730px;
    padding-left: 0px;
    float: none;
    margin: auto; }
  .main-center .right-bar #event .views-row, .main-center .right-bar #right-top-5 .views-row {
    width: 47.5%;
    display: inline-block;
    vertical-align: top; }
  .main-center .right-bar #event .views-row-odd, .main-center .right-bar #right-top-5 .views-row-odd {
    margin-right: 3.8%; }
  .main-center .right-bar #event ul {
    padding-right: 0px; }
  .main-center .right-bar #event .views-row {
    vertical-align: middle; }
  .main-center .right-bar #event .views-row-2 {
    padding-top: 0px; }
  .main-center .right-bar #event .views-row:nth-last-child(2) {
    border-bottom: 0px;
    padding-bottom: 0px; }
  .main-center .right-bar .view-articles-2019 .views-row {
    width: 48%;
    display: inline-block;
    vertical-align: top; }
  .main-center .right-bar .view-articles-2019 .views-row-odd {
    margin-right: 3%; }
  .main-center .right-bar .view-articles-2019 .views-row:nth-last-child(2), .main-center .right-bar .view-articles-2019 .views-row:last-child {
    margin-bottom: 0px; }
  .main-center .right-bar #archive li {
    width: 33.3%;
    display: inline-block;
    text-align: center; }
  .main-center .right-bar #right-top-5 .view-header {
    max-width: 203px; }
  .main-center .right-bar #right-top-5 .view-content {
    max-width: 655px;
    margin: auto; }
  .main-center .right-bar #right-top-5 .views-row-5 {
    margin: auto;
    display: block; }

  .my-footer .copyright, .my-footer .social-media-menu {
    width: 50%; }
  .my-footer .left, .my-footer .right {
    float: none; } }
@media screen and (max-width: 750px) {
  .ecdh-api .panels-flexible-row-inside {
    max-width: 643px; }

  #ecdh-api .pane-title {
    font-size: 17px; }
  #ecdh-api span {
    font-size: 17px; }
  #ecdh-api .pane-content {
    padding-top: 10px; }
  #ecdh-api #edit-profiles, #ecdh-api #ecdh-city {
    width: 225px;
    height: 50px;
    margin-right: 10px;
    padding-left: 10px; }
  #ecdh-api #ecdh-company-search-form .form-submit {
    height: 50px;
    width: 112px; } }
@media screen and (max-width: 710px) {
  .front-page .views-field-field-tags a {
    font-size: 10px; }
  .front-page .views-field-path h3 {
    font-size: 14px;
    line-height: 18px;
    margin: 0px; }
  .front-page .big .views-field-path {
    height: 36px;
    margin-top: 2px; }
    .front-page .big .views-field-path h3 {
      line-height: 20px; }
  .front-page .small .views-field-path, .front-page .small .views-field-published-at {
    margin-left: 135px; }
  .front-page .small .views-field-path {
    height: 51px; }
    .front-page .small .views-field-path h3 {
      font-size: 13px; }
  .front-page .small img {
    width: 125px; }

  .node_pane .view-header .pane-title-2 {
    font-size: 30px; }
  .node_pane #article4 .views-field-field-subtitled {
    display: none; }
  .node_pane #article4 .views-field-field-tags {
    line-height: 24px; }
  .node_pane #article4 .views-field-published-at, .node_pane #article4 .views-field-path, .node_pane #article4 .views-field-field-subtitled, .node_pane #article4 .views-field-field-tags {
    padding: 0px;
    border-right: dashed 2px #e6e6e6; }
  .node_pane #article4 .views-row {
    border-bottom: dashed 2px #e6e6e6;
    margin-bottom: 25px; }
  .node_pane #article4 .views-field-path {
    padding-bottom: 5px;
    line-height: 24px; }

  .node_pane.impress .views-row {
    padding-bottom: 60px; }
    .node_pane.impress .views-row .views-field-nothing {
      min-height: 180px; }
    .node_pane.impress .views-row .left {
      width: 150px;
      padding-right: 20px; }
    .node_pane.impress .views-row .picture {
      height: auto; }
    .node_pane.impress .views-row .e-mail {
      width: 130px;
      padding: 5px 0px;
      margin-top: 10px; }
      .node_pane.impress .views-row .e-mail .button {
        font-size: 12px; }
    .node_pane.impress .views-row .title-link {
      height: 25px; }
    .node_pane.impress .views-row .title {
      font-size: 24px;
      line-height: 22px; }
    .node_pane.impress .views-row .link {
      padding-top: 0px; }
    .node_pane.impress .views-row p {
      padding-top: 10px;
      font-size: 16px; } }
@media screen and (max-width: 675px) {
  .taxonomy-page .author, .taxonomy-page .time, .archive .author, .archive .time, .view-search-api-search .author, .view-search-api-search .time {
    font-size: 13px; }
  .taxonomy-page .left, .archive .left, .view-search-api-search .left {
    max-width: 235px; } }
@media screen and (max-width: 655px) {
  .front-page .views-field-field-tags {
    padding-top: 2px; }
  .front-page .big .views-field-path {
    height: auto; }
  .front-page .small .views-field-path, .front-page .small .views-field-published-at {
    margin-left: 125px; }
  .front-page .small .views-field-path {
    height: 51px; }
    .front-page .small .views-field-path h3 {
      font-size: 13px;
      line-height: 17px; }
  .front-page .small img {
    width: 115px; } }
@media screen and (max-width: 645px) {
  #mini-panel-mobil_menu #car-partners, #mini-panel-mobil_menu #connection {
    display: block !important; }

  .menu-footer {
    display: none; }

  .my-footer .copyright, .my-footer .social-media-menu {
    width: auto;
    display: inline-block; }
  .my-footer li {
    margin-bottom: 5px;
    font-size: 12px;
    display: block; }
  .my-footer .social-media-menu {
    float: right;
    margin-top: 10px; }

  #ecdh-api .pane-title {
    font-size: 16px; }
  #ecdh-api span {
    font-size: 22px;
    margin-bottom: 5px;
    display: block; }
  #ecdh-api #edit-profiles, #ecdh-api #ecdh-city {
    width: 100%;
    margin-right: 0px;
    display: ruby;
    margin-bottom: 10px; }
  #ecdh-api #ecdh-company-search-form .form-submit {
    width: 100%; }
  #ecdh-api #ecdh-company-search-form .form-item {
    display: block; } }
@media screen and (max-width: 635px) {
  .front-page .big .views-field-field-subtitled {
    margin-top: 5px; }
  .front-page .small .views-field-path {
    height: auto; }
    .front-page .small .views-field-path h3 {
      font-size: 14px;
      line-height: 18px;
      margin-top: 3px; }
  .front-page .small .views-field-path, .front-page .small .views-field-published-at {
    margin-left: 0px; }
  .front-page .small img {
    display: none; }

  .taxonomy-page .left, .archive .left, .view-search-api-search .left {
    max-width: 185px;
    margin-right: 10px; }
  .taxonomy-page .author, .taxonomy-page .time, .archive .author, .archive .time, .view-search-api-search .author, .view-search-api-search .time {
    font-size: 12px; }
  .taxonomy-page .author, .archive .author, .view-search-api-search .author {
    line-height: 18px; }
  .taxonomy-page h3, .archive h3, .view-search-api-search h3 {
    font-size: 18px;
    margin-top: 0px; } }
@media screen and (max-width: 600px) {
  .panels-flexible-region-first.first-block #one .views-field-path, .panels-flexible-region-first.first-block #four .views-field-path {
    padding: 20px;
    padding-bottom: 55px; }
    .panels-flexible-region-first.first-block #one .views-field-path h3, .panels-flexible-region-first.first-block #four .views-field-path h3 {
      font-size: 18px;
      line-height: 24px; }
  .panels-flexible-region-first.first-block #one .views-field-field-tags a, .panels-flexible-region-first.first-block #four .views-field-field-tags a {
    padding: 5px;
    font-size: 11px; }
  .panels-flexible-region-first.first-block #one .views-field-published-at, .panels-flexible-region-first.first-block #four .views-field-published-at {
    font-size: 12px; }
  .panels-flexible-region-first.first-block #one .views-field-field-tags, .panels-flexible-region-first.first-block #one .views-field-published-at, .panels-flexible-region-first.first-block #four .views-field-field-tags, .panels-flexible-region-first.first-block #four .views-field-published-at {
    bottom: 45px; }
  .panels-flexible-region-first.first-block #four .views-row {
    width: 100%; }
  .panels-flexible-region-first.first-block #four .views-row-1, .panels-flexible-region-first.first-block #four .views-row-3 {
    margin-right: 0px; }
  .panels-flexible-region-first.first-block #four .views-field-path {
    padding-bottom: 75px; }
  .panels-flexible-region-first.first-block #four .views-field-published-at {
    bottom: 68px;
    vertical-align: sub; }
  .panels-flexible-region-first.first-block #four .views-field-field-tags, .panels-flexible-region-first.first-block #four .views-field-published-at {
    margin-left: 20px; }

  .main-center .right-bar #event .views-row {
    width: 100%; }
  .main-center .right-bar #event .views-row-odd {
    margin-right: 0px; }
  .main-center .right-bar #event .views-row-2 {
    padding-top: 10px; }
  .main-center .right-bar #event .views-row:nth-last-child(2) {
    padding-bottom: 10px;
    border-bottom: dashed 2px #e6e6e6; }
  .main-center .right-bar .view-articles-2019 .views-row-odd {
    margin-right: 0px; }
  .main-center .right-bar .view-articles-2019 .views-row {
    width: 100%; }
  .main-center .right-bar .view-articles-2019 .views-row:nth-last-child(2) {
    margin-bottom: 20px; }

  .node_pane #article4 .views-field-path {
    line-height: 22px; }
    .node_pane #article4 .views-field-path a {
      font-size: 16px; }
  .node_pane #article4 h4 {
    margin-bottom: 20px; } }
@media screen and (max-width: 550px) {
  .front-page {
    padding-top: 15px; }
    .front-page .a-1 {
      padding-right: 12px; }
    .front-page .a-2 {
      padding-left: 12px; }
    .front-page .helpful-info.small {
      margin-top: 62px; }

  .front-page .view-header ul, .right-bar .view-header ul {
    margin-bottom: 20px;
    padding-top: 15px; }

  .node_pane .pane-node-title .pane-content {
    font-size: 12px; }
  .node_pane .pane-node-field-tags .field-item a {
    font-size: 12px;
    padding: 4px 9px; }
  .node_pane .pane-node-field-published {
    padding-top: 3px; }
    .node_pane .pane-node-field-published .field-items {
      font-size: 12px; }
  .node_pane .pane-node-published {
    padding-bottom: 25px; }
  .node_pane h1 {
    font-size: 30px;
    line-height: 40px; }
    .node_pane h1 p {
      padding: 15px 0px; }
  .node_pane #youtube {
    margin-top: 2px; }
  .node_pane #fb-like-share {
    margin-bottom: 10px;
    margin-top: 0px; }
  .node_pane #fb-save {
    float: left; }

  body.page-impress .right-bar #right-top-5 .views-row {
    background-color: #F7F7F7; }

  .main-center .right-bar #right-top-5 .views-row {
    max-width: 100%;
    width: 100%;
    margin-right: 0px;
    padding: 5px;
    background-color: white; }
  .main-center .right-bar #right-top-5 .views-row:last-child {
    margin-bottom: 20px; }
    .main-center .right-bar #right-top-5 .views-row:last-child .views-field-published-at {
      margin-top: 0px; }
  .main-center .right-bar #right-top-5 .views-field-field-image {
    display: none; }
  .main-center .right-bar #right-top-5 .views-field-path h3 {
    font-size: 16px; }
  .main-center .right-bar #right-top-5 .views-field-field-tags {
    padding-top: 5px; }

  .node_pane.impress .view-content {
    padding-top: 45px; }
  .node_pane.impress .views-row {
    padding-bottom: 45px; }
    .node_pane.impress .views-row .views-field-nothing {
      min-height: 125px; }
    .node_pane.impress .views-row .left {
      width: 80px;
      padding-right: 10px; }
    .node_pane.impress .views-row .e-mail {
      width: 70px;
      padding: 5px 0px;
      margin-top: 10px;
      line-height: 13px; }
    .node_pane.impress .views-row .title-link {
      height: 22px; }
    .node_pane.impress .views-row .title {
      font-size: 22px; }
    .node_pane.impress .views-row .link {
      width: 45px; }
    .node_pane.impress .views-row .status {
      font-size: 17px; }
    .node_pane.impress .views-row p {
      padding-top: 2px;
      font-size: 14px; }
  .node_pane.impress .impress-else .view-header {
    font-size: 22px; }
  .node_pane.impress .impress-else .view-content {
    padding-top: 10px;
    padding-bottom: 30px; }

  .taxonomy-page .left, .archive .left, .view-search-api-search .left {
    max-width: 135px;
    margin-right: 10px; }
  .taxonomy-page .author, .taxonomy-page .time, .archive .author, .archive .time, .view-search-api-search .author, .view-search-api-search .time {
    font-size: 11px; }
  .taxonomy-page img, .archive img, .view-search-api-search img {
    margin-bottom: 5px; } }
@media screen and (max-width: 520px) {
  .panels-flexible-region-first.first-block #one .views-field-path {
    padding-bottom: 75px; }
  .panels-flexible-region-first.first-block #one .views-field-published-at {
    display: block;
    margin-left: 20px;
    bottom: 94px; }
  .panels-flexible-region-first.first-block #one .views-field-field-tags, .panels-flexible-region-first.first-block #one .views-field-published-at {
    height: 0px; } }
@media screen and (max-width: 500px) {
  .front-page .a-1 {
    padding-right: 10px; }
  .front-page .a-2 {
    padding-left: 10px; }

  .item-list .pager {
    padding: 10px 0px; }
    .item-list .pager li {
      font-size: 14px;
      margin-right: 0px; }
      .item-list .pager li a {
        line-height: 18px; }
    .item-list .pager .pager-current {
      line-height: 19px; }
    .item-list .pager .pager-ellipsis {
      line-height: 17px; }
    .item-list .pager .pager-current, .item-list .pager a {
      width: 20px;
      height: 20px; }

  .node_pane #article4 .views-row {
    padding-bottom: 15px;
    width: 100%;
    margin-bottom: 15px; }
  .node_pane #article4 .views-row:last-child {
    border-bottom: 0px; }
  .node_pane #article4 .views-row-1, .node_pane #article4 .views-row-3 {
    margin-right: 0px; }
  .node_pane #article4 .views-field-field-image {
    display: none; }
  .node_pane #article4 .views-field-published-at, .node_pane #article4 .views-field-path, .node_pane #article4 .views-field-field-subtitled, .node_pane #article4 .views-field-field-tags {
    border-right: 0px; }

  .search #search-mobile input#edit-search-api-views-fulltext, .search #search-mobile input#edit-keys {
    width: 262px; }
  .search #search-mobile .views-exposed-widgets {
    max-width: 300px; } }
@media screen and (max-width: 485px) {
  .main-center .right-bar #archive li {
    width: 50%; }

  .front-page {
    max-width: 350px;
    margin: auto; }
    .front-page .a-1, .front-page .a-2 {
      padding: 0px; }
    .front-page .a-1, .front-page .a-2 {
      float: none;
      width: auto; }
    .front-page .views-field-path h3 {
      font-size: 18px;
      line-height: 24px; }
    .front-page .helpful-info .view-header {
      width: auto; }
    .front-page .helpful-info.small {
      margin-top: 0px; }
    .front-page .big.many .views-row {
      margin-bottom: 20px;
      width: auto; }
    .front-page .big.many .views-row-odd, .front-page .big.many .views-row-even {
      margin-left: 0px;
      margin-right: 0px; }
    .front-page .big .views-field-path h3 {
      line-height: 24px; }
    .front-page .small .views-field-path, .front-page .small .views-field-published-at {
      margin-left: 155px; }
    .front-page .small .views-field-path {
      height: 65px; }
      .front-page .small .views-field-path h3 {
        font-size: 16px;
        line-height: 22px; }
    .front-page .small .views-row {
      padding: 10px; }
    .front-page .small img {
      display: block;
      width: 145px; }

  .node_pane .view-header .pane-title-2 {
    font-size: 22px; }

  .taxonomy-page .left, .archive .left, .view-search-api-search .left {
    max-width: 130px; }
  .taxonomy-page .author, .taxonomy-page .time, .archive .author, .archive .time, .view-search-api-search .author, .view-search-api-search .time {
    display: block; }
  .taxonomy-page .time, .archive .time, .view-search-api-search .time {
    margin: 2px 0px; }
  .taxonomy-page h3, .archive h3, .view-search-api-search h3 {
    margin-bottom: 5px;
    font-size: 14px; }
  .taxonomy-page .subtitle, .archive .subtitle, .view-search-api-search .subtitle {
    font-size: 12px; } }
@media screen and (max-width: 450px) {
  .letterhead .panels-flexible-row-inside {
    max-width: 200px; }

  .mobile-menu #mini-panel-mobil_menu .pane-title, .mobile-menu #mini-panel-mobil_menu .view-header, .mobile-menu #mini-panel-mobil_menu #main-menu-2019 a, .mobile-menu #mini-panel-mobil_menu #connection .link, .mobile-menu #mini-panel-mobil_menu #ham-menu {
    font-size: 12px; }
  .mobile-menu #mini-panel-mobil_menu .pane-content li a {
    font-size: 12px;
    padding-left: 40px; }

  .node_pane.article {
    padding-top: 10px; }
    .node_pane.article .panel-pane {
      padding-right: 10px;
      padding-left: 10px; }

  .node_pane ul, .node_pane ol {
    margin-left: 15px;
    margin-bottom: 20px; }
    .node_pane ul li, .node_pane ol li {
      margin-bottom: 10px; }
    .node_pane ul li::before, .node_pane ol li::before {
      margin-right: 15px; }
  .node_pane .pane-node-field-tags .field-item a {
    font-size: 11px; }
  .node_pane h1 {
    font-size: 24px;
    line-height: 30px; }
  .node_pane .pane-node-field-subtitle h2 {
    font-size: 18px;
    line-height: 24px; }
  .node_pane #alapjarat-article.pane-node-field-text p, .node_pane #alapjarat-article.pane-node-field-text span, .node_pane #alapjarat-article.pane-node-field-text ul, .node_pane #alapjarat-article.pane-node-field-text ol {
    font-size: 16px !important; }
  .node_pane #alapjarat-article.pane-node-field-text p {
    margin-bottom: 10px; }
  .node_pane #alapjarat-article.pane-node-field-text h3 {
    font-size: 20px !important;
    padding-bottom: 20px; }
    .node_pane #alapjarat-article.pane-node-field-text h3 span {
      font-size: 20px !important;
      padding-bottom: 20px; }
  .node_pane figcaption {
    font-size: 14px;
    line-height: 18px;
    padding: 5px 8px;
    margin-bottom: -9px; }
  .node_pane blockquote {
    padding: 15px; } }
@media screen and (max-width: 400px) {
  .mobile-menu #mini-panel-mobil_menu .pane-content li a {
    font-size: 11px;
    padding-left: 35px; }

  .panels-flexible-region-first.first-block #one .views-field-path, .panels-flexible-region-first.first-block #four .views-field-path {
    padding: 10px;
    padding-bottom: 61px; }
  .panels-flexible-region-first.first-block #one .views-field-path h3, .panels-flexible-region-first.first-block #four .views-field-path h3 {
    font-size: 15px;
    line-height: 18px; }
  .panels-flexible-region-first.first-block #one .views-field-field-tags, .panels-flexible-region-first.first-block #four .views-field-field-tags {
    bottom: 36px;
    margin-left: 10px;
    margin-right: 0px; }
    .panels-flexible-region-first.first-block #one .views-field-field-tags a, .panels-flexible-region-first.first-block #four .views-field-field-tags a {
      font-size: 10px;
      padding: 3px 5px; }
  .panels-flexible-region-first.first-block #one .views-field-published-at, .panels-flexible-region-first.first-block #four .views-field-published-at {
    margin-left: 10px;
    bottom: 80px; }
  .panels-flexible-region-first.first-block #four .views-field-published-at {
    bottom: 53px; }

  .front-page .small .views-field-path, .front-page .small .views-field-published-at {
    margin-left: 135px; }
  .front-page .small .views-field-path {
    height: 51px; }
    .front-page .small .views-field-path h3 {
      font-size: 13px;
      line-height: 18px; }
  .front-page .small img {
    width: 125px; }

  .right-bar .views-field-field-tags a {
    font-size: 11px;
    padding: 3px 5px; }

  .node_pane .view-header .pane-title-2 {
    font-size: 20px; }

  .node_pane.impress .view-content {
    padding-top: 25px; }
  .node_pane.impress .views-row {
    padding-bottom: 35px; }
    .node_pane.impress .views-row .views-field-nothing {
      min-height: 90px; }
    .node_pane.impress .views-row .title-link {
      height: 18px; }
    .node_pane.impress .views-row .title {
      font-size: 18px; }
    .node_pane.impress .views-row .link {
      width: 35px; }
    .node_pane.impress .views-row .status {
      font-size: 14px; }
    .node_pane.impress .views-row p {
      padding-top: 2px;
      font-size: 14px; } }
@media screen and (max-width: 360px) {
  .header .search #search input#edit-search-api-views-fulltext, .header .search #search input#edit-keys {
    width: 219px; } }
@media screen and (max-width: 350px) {
  .front-page .small .views-row {
    padding: 5px; }
  .front-page .small .views-field-path, .front-page .small .views-field-published-at {
    margin-left: 125px; }
  .front-page .small .views-field-path {
    height: 45px; }
    .front-page .small .views-field-path h3 {
      font-size: 12px;
      line-height: 16px; }
  .front-page .small img {
    width: 115px; }

  .node_pane #fb-like-share {
    margin-top: 5px; }
  .node_pane #fb-like-share.panel-pane {
    padding: 0px 10px; }

  .taxonomy-page .views-row, .archive .views-row, .view-search-api-search .views-row {
    padding-top: 20px; }
  .taxonomy-page .left, .archive .left, .view-search-api-search .left {
    max-width: 100%;
    display: contents; }
    .taxonomy-page .left img, .archive .left img, .view-search-api-search .left img {
      display: none; }
  .taxonomy-page .author, .taxonomy-page .time, .archive .author, .archive .time, .view-search-api-search .author, .view-search-api-search .time {
    display: inline-block;
    padding-top: 7px;
    font-size: 12px; } }

/*# sourceMappingURL=my_style_mobil.css.map */
