
.ylayout-2col-bricks {
/*  overflow: hidden;  */
  margin-top: 0;
  padding-top: 0;
}

.ylayout-2col-bricks .ylayout-col-top,
.ylayout-2col-bricks .ylayout-col-middle,
.ylayout-2col-bricks .ylayout-col-bottom {
  width: 99.9%; 
  clear: both;
}

.ylayout-2col-bricks .ylayout-col-top .inside,
.ylayout-2col-bricks .ylayout-col-middle .inside {
  margin-bottom: .5em;
}

.ylayout-2col-bricks .ylayout-col-first {
  float: left; 
  width: 50%; 
}
* html .ylayout-2col-bricks .ylayout-col-first {
  width: 49.9%;
}

.ylayout-2col-bricks .ylayout-col-first .inside {
  margin: 0 .5em .5em 0;
}

.ylayout-2col-bricks .ylayout-col-last {
  float: right;
  width: 50%; 
}
* html .ylayout-2col-bricks .ylayout-col-last {
  width: 49.9%;
}

.ylayout-2col-bricks .ylayout-col-last .inside {
  margin: 0 0 .5em .5em;
}

.ylayout-2col-bricks .ylayout-separator {
  margin: 0 0 1em 0;
}
