.panels-flexible-1 .panels-flexible-region {
  padding: 0;
}

.panels-flexible-1 .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-1 .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-1 .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-1 .panels-flexible-column {
  padding: 0;
}

.panels-flexible-1 .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-1 .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-1 .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-1 .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-1 .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-1-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-1-inside {
  padding-right: 0px;
}

.panels-flexible-1 {
  width: auto;
}

.panels-flexible-region-1-admin_menu {
  float: left;
  width: 49.5000%;
}

.panels-flexible-region-1-user {
  float: left;
  width: 49.5000%;
}

.panels-flexible-row-1-8-inside {
  padding-right: 0px;
}

.panels-flexible-region-1-time {
  float: left;
  width: 49.5000%;
}

.panels-flexible-region-1-so {
  float: left;
  width: 49.5000%;
}

.panels-flexible-row-1-6-inside {
  padding-right: 0px;
}

.panels-flexible-region-1-second_menu {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-1-3-inside {
  padding-right: 0px;
}

.panels-flexible-region-1-logo {
  float: left;
  width: 39.6000%;
}

.panels-flexible-region-1-banner {
  float: left;
  width: 59.4000%;
}

.panels-flexible-row-1-2-inside {
  padding-right: 0px;
}

.panels-flexible-region-1-main_menu {
  float: left;
  width: 79.2000%;
}

.panels-flexible-region-1-search {
  float: left;
  width: 19.8000%;
}

.panels-flexible-row-1-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-1-main_content {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-1-4-inside {
  padding-right: 0px;
}

.panels-flexible-region-1-footer_text {
  float: left;
  width: 49.5000%;
}

.panels-flexible-region-1-banner_ {
  float: left;
  width: 49.5000%;
}

.panels-flexible-row-1-5-inside {
  padding-right: 0px;
}

.panels-flexible-region-1-footer_ {
  float: left;
  width: 49.5000%;
}

.panels-flexible-region-1-footer_text_ {
  float: left;
  width: 49.5000%;
}

.panels-flexible-row-1-7-inside {
  padding-right: 0px;
}

