@media screen and (max-width: 1145px) {
  /* line 2, ../sass/my_style_mobil.sass */
  #edit-profiles, #ecdh-city {
    margin-right: 15px;
    width: 245px;
  }

  /* line 5, ../sass/my_style_mobil.sass */
  .letterhead, .header, .panels-flexible-region-first.first-block, .main-center, .menu-footer, .my-footer, #ecdh-api {
    padding-right: 25px !important;
    padding-left: 25px !important;
  }

  /* line 9, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #four {
    padding-left: 20px;
  }
  /* line 11, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #four .views-row {
    margin-bottom: 23px;
  }
  /* line 13, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #four .views-row-1, .panels-flexible-region-first.first-block #four .views-row-3 {
    margin-right: 2.7%;
  }

  /* line 17, ../sass/my_style_mobil.sass */
  .front-page .small img {
    width: 135px;
  }
  /* line 19, ../sass/my_style_mobil.sass */
  .front-page .small .views-row {
    padding: 5px;
  }
  /* line 21, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-published-at, .front-page .small .views-field-path {
    margin-left: 145px;
  }
  /* line 23, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-published-at {
    line-height: 14px;
  }
  /* line 25, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-published-at span {
    font-size: 13px;
  }
  /* line 28, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-path h3 {
    font-size: 16px;
  }

  /* line 32, ../sass/my_style_mobil.sass */
  .right-bar .small img {
    display: none;
  }
  /* line 34, ../sass/my_style_mobil.sass */
  .right-bar .small .views-field-published-at, .right-bar .small .views-field-path {
    margin-left: 0px;
  }
  /* line 36, ../sass/my_style_mobil.sass */
  .right-bar .small .views-field-path {
    height: auto;
  }
  /* line 38, ../sass/my_style_mobil.sass */
  .right-bar #right-top-5 {
    padding: 0px 20px;
  }

  /* line 41, ../sass/my_style_mobil.sass */
  .node_pane #article-banner {
    margin: 0px 20px;
    margin-bottom: 30px;
  }

  /* line 45, ../sass/my_style_mobil.sass */
  .menu-footer .pane-title {
    font-size: 15px;
  }
  /* line 47, ../sass/my_style_mobil.sass */
  .menu-footer a {
    font-size: 13px;
  }
}
@media screen and (max-width: 1055px) {
  /* line 51, ../sass/my_style_mobil.sass */
  body.front .ecdh-api {
    margin-top: 10px !important;
  }

  /* line 54, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #one, .panels-flexible-region-first.first-block #four {
    float: none;
    padding: 0px;
    width: auto;
    max-width: 570px;
    margin: auto;
  }

  /* line 60, ../sass/my_style_mobil.sass */
  .ecdh-api .panels-flexible-row-inside {
    max-width: 742px;
  }

  /* line 63, ../sass/my_style_mobil.sass */
  #ecdh-api span {
    display: contents;
  }
  /* line 65, ../sass/my_style_mobil.sass */
  #ecdh-api .pane-title {
    font-size: 20px;
    padding-top: 0px;
    font-weight: 500;
    text-transform: uppercase;
  }
  /* line 70, ../sass/my_style_mobil.sass */
  #ecdh-api .pane-content {
    float: none;
    padding-top: 15px;
  }

  /* line 74, ../sass/my_style_mobil.sass */
  .main-center .main-content, .main-center .right-bar {
    width: auto;
    max-width: 730px;
    padding-left: 0px;
    float: none;
    margin: auto;
  }
  /* line 82, ../sass/my_style_mobil.sass */
  .main-center .right-bar #event .views-row, .main-center .right-bar #right-top-5 .views-row {
    width: 47.5%;
    display: inline-block;
    vertical-align: top;
  }
  /* line 86, ../sass/my_style_mobil.sass */
  .main-center .right-bar #event .views-row-odd, .main-center .right-bar #right-top-5 .views-row-odd {
    margin-right: 3.8%;
  }
  /* line 89, ../sass/my_style_mobil.sass */
  .main-center .right-bar #event ul {
    padding-right: 0px;
  }
  /* line 91, ../sass/my_style_mobil.sass */
  .main-center .right-bar #event .views-row {
    vertical-align: middle;
  }
  /* line 93, ../sass/my_style_mobil.sass */
  .main-center .right-bar #event .views-row-2 {
    padding-top: 0px;
  }
  /* line 95, ../sass/my_style_mobil.sass */
  .main-center .right-bar #event .views-row:nth-last-child(2) {
    border-bottom: 0px;
    padding-bottom: 0px;
  }
  /* line 99, ../sass/my_style_mobil.sass */
  .main-center .right-bar .view-articles-2019 .views-row {
    width: 48%;
    display: inline-block;
    vertical-align: top;
  }
  /* line 103, ../sass/my_style_mobil.sass */
  .main-center .right-bar .view-articles-2019 .views-row-odd {
    margin-right: 3%;
  }
  /* line 105, ../sass/my_style_mobil.sass */
  .main-center .right-bar .view-articles-2019 .views-row:nth-last-child(2), .main-center .right-bar .view-articles-2019 .views-row:last-child {
    margin-bottom: 0px;
  }
  /* line 108, ../sass/my_style_mobil.sass */
  .main-center .right-bar #archive li {
    width: 33.3%;
    display: inline-block;
    text-align: center;
  }
  /* line 113, ../sass/my_style_mobil.sass */
  .main-center .right-bar #right-top-5 .view-header {
    max-width: 203px;
  }
  /* line 115, ../sass/my_style_mobil.sass */
  .main-center .right-bar #right-top-5 .view-content {
    max-width: 655px;
    margin: auto;
  }
  /* line 118, ../sass/my_style_mobil.sass */
  .main-center .right-bar #right-top-5 .views-row-5 {
    margin: auto;
    display: block;
  }

  /* line 122, ../sass/my_style_mobil.sass */
  .menu-footer .panels-flexible-row-inside {
    max-width: 820px;
  }
  /* line 124, ../sass/my_style_mobil.sass */
  .menu-footer .pane-title {
    font-size: 14px;
  }
  /* line 126, ../sass/my_style_mobil.sass */
  .menu-footer a {
    font-size: 12px;
  }
  /* line 128, ../sass/my_style_mobil.sass */
  .menu-footer .popular-tags {
    width: 155px;
    margin-right: 30px;
  }
  /* line 131, ../sass/my_style_mobil.sass */
  .menu-footer .calculator, .menu-footer .car-partner {
    width: 215px;
    margin-right: 30px;
  }
  /* line 134, ../sass/my_style_mobil.sass */
  .menu-footer .connection {
    width: 145px;
  }

  /* line 137, ../sass/my_style_mobil.sass */
  .my-footer .copyright, .my-footer .social-media-menu {
    width: 50%;
  }
  /* line 139, ../sass/my_style_mobil.sass */
  .my-footer .left, .my-footer .right {
    float: none;
  }
}
@media screen and (max-width: 870px) {
  /* line 144, ../sass/my_style_mobil.sass */
  #main_menu #mobil-menu {
    display: block !important;
  }
  /* line 146, ../sass/my_style_mobil.sass */
  #main_menu #ham-menu {
    display: none;
  }
  /* line 148, ../sass/my_style_mobil.sass */
  #main_menu ul {
    display: none;
  }

  /* line 150, ../sass/my_style_mobil.sass */
  .menu-footer {
    padding-bottom: 10px !important;
  }
  /* line 152, ../sass/my_style_mobil.sass */
  .menu-footer .panels-flexible-row-inside {
    max-width: 595px;
  }
  /* line 154, ../sass/my_style_mobil.sass */
  .menu-footer .car-partner {
    width: 420px;
  }
  /* line 156, ../sass/my_style_mobil.sass */
  .menu-footer .popular-tags, .menu-footer .calculator {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  /* line 160, ../sass/my_style_mobil.sass */
  .ecdh-api .panels-flexible-row-inside {
    max-width: 643px;
  }

  /* line 163, ../sass/my_style_mobil.sass */
  #ecdh-api .pane-title {
    font-size: 17px;
  }
  /* line 165, ../sass/my_style_mobil.sass */
  #ecdh-api span {
    font-size: 17px;
  }
  /* line 167, ../sass/my_style_mobil.sass */
  #ecdh-api .pane-content {
    padding-top: 10px;
  }
  /* line 169, ../sass/my_style_mobil.sass */
  #ecdh-api #edit-profiles, #ecdh-api #ecdh-city {
    width: 225px;
    height: 50px;
    margin-right: 10px;
    padding-left: 10px;
  }
  /* line 174, ../sass/my_style_mobil.sass */
  #ecdh-api #ecdh-company-search-form .form-submit {
    height: 50px;
    width: 112px;
  }
}
@media screen and (max-width: 710px) {
  /* line 181, ../sass/my_style_mobil.sass */
  .front-page .views-field-field-tags a {
    font-size: 10px;
  }
  /* line 184, ../sass/my_style_mobil.sass */
  .front-page .views-field-path h3 {
    font-size: 14px;
    line-height: 18px;
    margin: 0px;
  }
  /* line 189, ../sass/my_style_mobil.sass */
  .front-page .big .views-field-path {
    height: 36px;
    margin-top: 2px;
  }
  /* line 192, ../sass/my_style_mobil.sass */
  .front-page .big .views-field-path h3 {
    line-height: 20px;
  }
  /* line 195, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-path, .front-page .small .views-field-published-at {
    margin-left: 135px;
  }
  /* line 197, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-path {
    height: 51px;
  }
  /* line 199, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-path h3 {
    font-size: 13px;
  }
  /* line 201, ../sass/my_style_mobil.sass */
  .front-page .small img {
    width: 125px;
  }
}
@media screen and (max-width: 655px) {
  /* line 206, ../sass/my_style_mobil.sass */
  .front-page .views-field-field-tags {
    padding-top: 2px;
  }
  /* line 209, ../sass/my_style_mobil.sass */
  .front-page .big .views-field-path {
    height: auto;
  }
  /* line 212, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-path, .front-page .small .views-field-published-at {
    margin-left: 125px;
  }
  /* line 214, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-path {
    height: 51px;
  }
  /* line 216, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-path h3 {
    font-size: 13px;
    line-height: 17px;
  }
  /* line 219, ../sass/my_style_mobil.sass */
  .front-page .small img {
    width: 115px;
  }
}
@media screen and (max-width: 645px) {
  /* line 224, ../sass/my_style_mobil.sass */
  #mini-panel-mobil_menu #car-partners, #mini-panel-mobil_menu #connection {
    display: block !important;
  }

  /* line 226, ../sass/my_style_mobil.sass */
  .menu-footer {
    display: none;
  }

  /* line 229, ../sass/my_style_mobil.sass */
  .my-footer .copyright, .my-footer .social-media-menu {
    width: auto;
    display: inline-block;
  }
  /* line 232, ../sass/my_style_mobil.sass */
  .my-footer li {
    margin-bottom: 5px;
    font-size: 12px;
    display: block;
  }
  /* line 236, ../sass/my_style_mobil.sass */
  .my-footer .social-media-menu {
    float: right;
    margin-top: 10px;
  }

  /* line 240, ../sass/my_style_mobil.sass */
  #ecdh-api .pane-title {
    font-size: 16px;
  }
  /* line 242, ../sass/my_style_mobil.sass */
  #ecdh-api span {
    font-size: 22px;
    margin-bottom: 5px;
    display: block;
  }
  /* line 246, ../sass/my_style_mobil.sass */
  #ecdh-api #edit-profiles, #ecdh-api #ecdh-city {
    width: 100%;
    margin-right: 0px;
    display: ruby;
    margin-bottom: 10px;
  }
  /* line 251, ../sass/my_style_mobil.sass */
  #ecdh-api #ecdh-company-search-form .form-submit {
    width: 100%;
  }
  /* line 253, ../sass/my_style_mobil.sass */
  #ecdh-api #ecdh-company-search-form .form-item {
    display: block;
  }
}
@media screen and (max-width: 635px) {
  /* line 259, ../sass/my_style_mobil.sass */
  .front-page .big .views-field-field-subtitled {
    margin-top: 5px;
  }
  /* line 262, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-path {
    height: auto;
  }
  /* line 264, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-path h3 {
    font-size: 14px;
    line-height: 18px;
    margin-top: 3px;
  }
  /* line 268, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-path, .front-page .small .views-field-published-at {
    margin-left: 0px;
  }
  /* line 270, ../sass/my_style_mobil.sass */
  .front-page .small img {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  /* line 276, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #one .views-field-path, .panels-flexible-region-first.first-block #four .views-field-path {
    padding: 20px;
    padding-bottom: 55px;
  }
  /* line 279, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #one .views-field-path h3, .panels-flexible-region-first.first-block #four .views-field-path h3 {
    font-size: 18px;
    line-height: 24px;
  }
  /* line 283, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #one .views-field-field-tags a, .panels-flexible-region-first.first-block #four .views-field-field-tags a {
    padding: 5px;
    font-size: 11px;
  }
  /* line 286, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #one .views-field-published-at, .panels-flexible-region-first.first-block #four .views-field-published-at {
    font-size: 12px;
  }
  /* line 288, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #one .views-field-field-tags, .panels-flexible-region-first.first-block #one .views-field-published-at, .panels-flexible-region-first.first-block #four .views-field-field-tags, .panels-flexible-region-first.first-block #four .views-field-published-at {
    bottom: 45px;
  }
  /* line 291, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #four .views-row {
    width: 100%;
  }
  /* line 293, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #four .views-row-1, .panels-flexible-region-first.first-block #four .views-row-3 {
    margin-right: 0px;
  }
  /* line 295, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #four .views-field-path {
    padding-bottom: 75px;
  }
  /* line 297, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #four .views-field-published-at {
    bottom: 67px;
  }
  /* line 299, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #four .views-field-field-tags, .panels-flexible-region-first.first-block #four .views-field-published-at {
    margin-left: 20px;
  }

  /* line 304, ../sass/my_style_mobil.sass */
  .main-center .right-bar #event .views-row {
    width: 100%;
  }
  /* line 306, ../sass/my_style_mobil.sass */
  .main-center .right-bar #event .views-row-odd {
    margin-right: 0px;
  }
  /* line 308, ../sass/my_style_mobil.sass */
  .main-center .right-bar #event .views-row-2 {
    padding-top: 10px;
  }
  /* line 310, ../sass/my_style_mobil.sass */
  .main-center .right-bar #event .views-row:nth-last-child(2) {
    padding-bottom: 10px;
    border-bottom: dashed 2px #e6e6e6;
  }
  /* line 314, ../sass/my_style_mobil.sass */
  .main-center .right-bar .view-articles-2019 .views-row-odd {
    margin-right: 0px;
  }
  /* line 316, ../sass/my_style_mobil.sass */
  .main-center .right-bar .view-articles-2019 .views-row {
    width: 100%;
  }
  /* line 318, ../sass/my_style_mobil.sass */
  .main-center .right-bar .view-articles-2019 .views-row:nth-last-child(2) {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 550px) {
  /* line 321, ../sass/my_style_mobil.sass */
  .front-page {
    padding-top: 15px;
  }
  /* line 323, ../sass/my_style_mobil.sass */
  .front-page .a-1 {
    padding-right: 12px;
  }
  /* line 325, ../sass/my_style_mobil.sass */
  .front-page .a-2 {
    padding-left: 12px;
  }
  /* line 327, ../sass/my_style_mobil.sass */
  .front-page .helpful-info.small {
    margin-top: 62px;
  }

  /* line 331, ../sass/my_style_mobil.sass */
  .front-page .view-header ul, .right-bar .view-header ul {
    margin-bottom: 20px;
    padding-top: 15px;
  }
}
@media screen and (max-width: 520px) {
  /* line 338, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #one .views-field-path {
    padding-bottom: 75px;
  }
  /* line 340, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #one .views-field-published-at {
    display: block;
    margin-left: 20px;
    bottom: 94px;
  }
  /* line 344, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #one .views-field-field-tags, .panels-flexible-region-first.first-block #one .views-field-published-at {
    height: 0px;
  }
}
@media screen and (max-width: 500px) {
  /* line 349, ../sass/my_style_mobil.sass */
  .front-page .a-1 {
    padding-right: 10px;
  }
  /* line 351, ../sass/my_style_mobil.sass */
  .front-page .a-2 {
    padding-left: 10px;
  }
}
@media screen and (max-width: 485px) {
  /* line 358, ../sass/my_style_mobil.sass */
  .main-center .right-bar #archive li {
    width: 50%;
  }

  /* line 360, ../sass/my_style_mobil.sass */
  .front-page {
    max-width: 350px;
    margin: auto;
  }
  /* line 363, ../sass/my_style_mobil.sass */
  .front-page .a-1, .front-page .a-2 {
    padding: 0px;
  }
  /* line 365, ../sass/my_style_mobil.sass */
  .front-page .a-1, .front-page .a-2 {
    float: none;
    width: auto;
  }
  /* line 369, ../sass/my_style_mobil.sass */
  .front-page .views-field-path h3 {
    font-size: 18px;
    line-height: 24px;
  }
  /* line 373, ../sass/my_style_mobil.sass */
  .front-page .helpful-info .view-header {
    width: auto;
  }
  /* line 375, ../sass/my_style_mobil.sass */
  .front-page .helpful-info.small {
    margin-top: 0px;
  }
  /* line 378, ../sass/my_style_mobil.sass */
  .front-page .big.many .views-row {
    margin-bottom: 20px;
    width: auto;
  }
  /* line 381, ../sass/my_style_mobil.sass */
  .front-page .big.many .views-row-odd, .front-page .big.many .views-row-even {
    margin-left: 0px;
    margin-right: 0px;
  }
  /* line 386, ../sass/my_style_mobil.sass */
  .front-page .big .views-field-path h3 {
    line-height: 24px;
  }
  /* line 389, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-path, .front-page .small .views-field-published-at {
    margin-left: 155px;
  }
  /* line 391, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-path {
    height: 65px;
  }
  /* line 393, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-path h3 {
    font-size: 16px;
    line-height: 22px;
  }
  /* line 396, ../sass/my_style_mobil.sass */
  .front-page .small .views-row {
    padding: 10px;
  }
  /* line 398, ../sass/my_style_mobil.sass */
  .front-page .small img {
    display: block;
    width: 145px;
  }
}
@media screen and (max-width: 450px) {
  /* line 405, ../sass/my_style_mobil.sass */
  .mobile-menu #mini-panel-mobil_menu .pane-title, .mobile-menu #mini-panel-mobil_menu .view-header, .mobile-menu #mini-panel-mobil_menu #main-menu-2019 a, .mobile-menu #mini-panel-mobil_menu #connection .link {
    font-size: 12px;
  }
  /* line 409, ../sass/my_style_mobil.sass */
  .mobile-menu #mini-panel-mobil_menu .pane-content li a {
    font-size: 12px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 400px) {
  /* line 418, ../sass/my_style_mobil.sass */
  .mobile-menu #mini-panel-mobil_menu .pane-content li a {
    font-size: 11px;
    padding-left: 35px;
  }

  /* line 423, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #one .views-field-path, .panels-flexible-region-first.first-block #four .views-field-path {
    padding: 10px;
    padding-bottom: 61px;
  }
  /* line 427, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #one .views-field-path h3, .panels-flexible-region-first.first-block #four .views-field-path h3 {
    font-size: 15px;
    line-height: 18px;
  }
  /* line 430, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #one .views-field-field-tags, .panels-flexible-region-first.first-block #four .views-field-field-tags {
    bottom: 36px;
    margin-left: 10px;
    margin-right: 0px;
  }
  /* line 434, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #one .views-field-field-tags a, .panels-flexible-region-first.first-block #four .views-field-field-tags a {
    font-size: 10px;
    padding: 3px 5px;
  }
  /* line 437, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #one .views-field-published-at, .panels-flexible-region-first.first-block #four .views-field-published-at {
    margin-left: 10px;
    bottom: 80px;
  }
  /* line 441, ../sass/my_style_mobil.sass */
  .panels-flexible-region-first.first-block #four .views-field-published-at {
    bottom: 53px;
  }

  /* line 445, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-path, .front-page .small .views-field-published-at {
    margin-left: 135px;
  }
  /* line 447, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-path {
    height: 51px;
  }
  /* line 449, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-path h3 {
    font-size: 13px;
    line-height: 18px;
  }
  /* line 452, ../sass/my_style_mobil.sass */
  .front-page .small img {
    width: 125px;
  }
}
@media screen and (max-width: 360px) {
  /* line 456, ../sass/my_style_mobil.sass */
  .header .search #search input#edit-search-api-views-fulltext, .header .search #search input#edit-keys {
    width: 219px;
  }
}
@media screen and (max-width: 350px) {
  /* line 462, ../sass/my_style_mobil.sass */
  .front-page .small .views-row {
    padding: 5px;
  }
  /* line 464, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-path, .front-page .small .views-field-published-at {
    margin-left: 125px;
  }
  /* line 466, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-path {
    height: 45px;
  }
  /* line 468, ../sass/my_style_mobil.sass */
  .front-page .small .views-field-path h3 {
    font-size: 12px;
    line-height: 16px;
  }
  /* line 471, ../sass/my_style_mobil.sass */
  .front-page .small img {
    width: 115px;
  }
}
