@charset "UTF-8";
@import url("https://use.typekit.net/qas2soj.css");
/* line 3, ../sass/my_style.sass */
html {
  background-color: #f8f8f8;
}

/* line 6, ../sass/my_style.sass */
body::before {
  background-image: none;
}

/* line 9, ../sass/my_style.sass */
body {
  font-size: 18px;
  font-family: Montserrat;
  color: #333332;
  max-width: 1440px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.42857;
}

/* line 19, ../sass/my_style.sass */
h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0;
}

/* line 23, ../sass/my_style.sass */
h3 {
  font-size: 24px;
}

/* line 25, ../sass/my_style.sass */
h4 {
  margin-top: 10px;
  font-size: 18px;
}

/* line 29, ../sass/my_style.sass */
table {
  margin: auto;
}

/* line 32, ../sass/my_style.sass */
.ckeditor_links a {
  color: white;
}

/* line 36, ../sass/my_style.sass */
.banner {
  margin: auto;
  background-color: #dbe0e4;
}

/* line 41, ../sass/my_style.sass */
.views-field-field-tags a {
  color: white !important;
  background: #C72026;
}

/* line 45, ../sass/my_style.sass */
#mc_embed_signup form {
  padding: 0 !important;
  margin: 25px 0px 20px 0px;
}
/* line 48, ../sass/my_style.sass */
#mc_embed_signup form p {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px;
}
/* line 52, ../sass/my_style.sass */
#mc_embed_signup form .consent {
  min-height: auto;
  margin-bottom: 10px;
}
/* line 55, ../sass/my_style.sass */
#mc_embed_signup form a, #mc_embed_signup form .consent label {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  color: #C72026;
}
/* line 60, ../sass/my_style.sass */
#mc_embed_signup form #mce-EMAIL, #mc_embed_signup form #mce-MMERGE2 {
  width: 100%;
  max-width: 480px;
  padding: 8px 16px;
  text-indent: 0;
  font-size: 16px;
}
/* line 66, ../sass/my_style.sass */
#mc_embed_signup form #mce-MMERGE1-0, #mc_embed_signup form #mce-MMERGE3-0 {
  margin-right: 8px;
  height: 16px;
}
/* line 69, ../sass/my_style.sass */
#mc_embed_signup form #mc-embedded-subscribe {
  background-color: #d9534f !important;
  border: solid 1px #b52b27;
  border-radius: 0;
  padding: 12px 17px;
  height: auto;
  line-height: normal;
  color: white;
}
/* line 77, ../sass/my_style.sass */
#mc_embed_signup form #mc-embedded-subscribe:hover {
  background-color: #A83935 !important;
}
/* line 79, ../sass/my_style.sass */
#mc_embed_signup form .mc-field-group {
  width: 100%;
  padding-bottom: 0;
  min-height: auto;
}

/* line 84, ../sass/my_style.sass */
.youtube-embed-wrapper {
  padding-top: 0px !important;
  margin-bottom: 15px;
}

/* line 88, ../sass/my_style.sass */
.pager {
  float: left;
  border: 1px solid #ddd;
  padding-top: 0px !important;
  border-radius: 4px;
  margin-top: 40px !important;
  margin-bottom: 20px !important;
}
/* line 89, ../sass/my_style.sass */
.pager .first {
  width: auto;
}
/* line 97, ../sass/my_style.sass */
.pager a {
  padding: 5px 10px;
}
/* line 99, ../sass/my_style.sass */
.pager li {
  padding: 0px !important;
  display: inline-flex !important;
  border-right: solid 1px #ddd;
}
/* line 103, ../sass/my_style.sass */
.pager li:hover {
  background: #EBE9E9;
}
/* line 105, ../sass/my_style.sass */
.pager li.pager-first, .pager li.pager-current.first {
  border-radius: 4px 0 0 4px;
}
/* line 107, ../sass/my_style.sass */
.pager li.pager-current.last {
  border-radius: 0 4px 4px 0;
}
/* line 109, ../sass/my_style.sass */
.pager li.pager-last.last {
  border-right: 0px;
}
/* line 111, ../sass/my_style.sass */
.pager .pager-current {
  background: #d82222;
  padding: 5px 10px !important;
}
/* line 114, ../sass/my_style.sass */
.pager .pager-ellipsis {
  padding: 5px 10px !important;
}

/* line 118, ../sass/my_style.sass */
#admin-menu a {
  color: white !important;
}

/* line 121, ../sass/my_style.sass */
.panels-flexible-region {
  width: auto;
}

/* line 124, ../sass/my_style.sass */
.inside.panels-flexible-region-inside, .panels-flexible-row {
  padding: 0px !important;
}

/* line 127, ../sass/my_style.sass */
.panel-separator {
  margin: 0px !important;
}

/* line 130, ../sass/my_style.sass */
a {
  color: #C72026 !important;
}

/* line 133, ../sass/my_style.sass */
a:hover {
  text-decoration: none;
}

/* line 136, ../sass/my_style.sass */
#time {
  padding-top: 8px;
  font-size: 13px;
  font-weight: blod;
  padding-left: 43px;
  padding-bottom: 0;
}

/* line 143, ../sass/my_style.sass */
.editor-menu {
  background: black;
  width: 86%;
}

/* line 146, ../sass/my_style.sass */
.user_name {
  width: 14%;
  background: black;
}

/* line 149, ../sass/my_style.sass */
#user_name {
  float: right;
}

/* line 151, ../sass/my_style.sass */
#my_admin_menu, #user_name {
  padding: 10px 5px;
}
/* line 153, ../sass/my_style.sass */
#my_admin_menu p, #user_name p {
  color: white !important;
  margin: 0;
  background: red;
  border-radius: 10px;
  padding: 0px 5px;
  width: -moz-fit-content;
}
/* line 160, ../sass/my_style.sass */
#my_admin_menu ul li.leaf, #user_name ul li.leaf {
  display: inline;
}
/* line 162, ../sass/my_style.sass */
#my_admin_menu ul li.leaf a, #user_name ul li.leaf a {
  color: white !important;
}
/* line 164, ../sass/my_style.sass */
#my_admin_menu ul li.leaf a:hover, #user_name ul li.leaf a:hover {
  color: red !important;
}

/* line 167, ../sass/my_style.sass */
.letterhead {
  background-color: #ffffff;
}
/* line 169, ../sass/my_style.sass */
.letterhead .panels-flexible-row-inside {
  max-width: 1115px;
  margin: auto;
  padding: 20px 0px;
}
/* line 173, ../sass/my_style.sass */
.letterhead .logo {
  width: 200px;
}
/* line 176, ../sass/my_style.sass */
.letterhead .pane-page-slogan h1 {
  margin: 0px;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  font-family: magistral, sans-serif;
  font-weight: 300;
  color: #666666;
}

/* line 185, ../sass/my_style.sass */
.header {
  background-color: #ffffff;
  border-top: solid 1px #e6e6e6;
  border-bottom: solid 1px #e6e6e6;
}
/* line 189, ../sass/my_style.sass */
.header .panels-flexible-row-inside {
  max-width: 1115px;
  margin: auto;
}
/* line 193, ../sass/my_style.sass */
.header #main_menu #ham-menu {
  padding: 0px !important;
  width: 20px;
  margin-top: 17px;
  margin-right: 10px;
}
/* line 198, ../sass/my_style.sass */
.header #main_menu li {
  display: inline;
  padding: 0;
  margin: 0;
}
/* line 202, ../sass/my_style.sass */
.header #main_menu li a {
  color: #333332 !important;
  font-size: 14px;
  padding: 0px 7px;
  line-height: 52px;
}
/* line 208, ../sass/my_style.sass */
.header .search {
  float: right;
  width: auto;
}
/* line 212, ../sass/my_style.sass */
.header .search #search input#edit-search-api-views-fulltext, .header .search #search input#edit-keys {
  width: 240px;
  height: 38px;
  background-color: #F2F2F2;
  border: 0px;
  font-size: 14px;
  font-style: italic;
  font-weight: 200;
  padding-left: 20px;
  margin: 0px;
}
/* line 222, ../sass/my_style.sass */
.header .search #search .views-exposed-form .views-exposed-widget, .header .search #search .views-exposed-widgets {
  padding: 0px;
  margin: 0px;
}
/* line 225, ../sass/my_style.sass */
.header .search #search #edit-search-api-views-fulltext-wrapper {
  padding: 7px 0px;
}

/* line 228, ../sass/my_style.sass */
.panels-flexible-region-first.first {
  width: 100%;
}
/* line 230, ../sass/my_style.sass */
.panels-flexible-region-first.first .panels-flexible-region-inside-first {
  max-width: 1115px;
  margin: auto;
}
/* line 233, ../sass/my_style.sass */
.panels-flexible-region-first.first #default-page-big-banner {
  max-width: 970px;
  height: 250px;
  margin: 30px auto;
}
/* line 237, ../sass/my_style.sass */
.panels-flexible-region-first.first #one {
  width: 50%;
  float: left;
  position: relative;
}
/* line 241, ../sass/my_style.sass */
.panels-flexible-region-first.first #one .views-field-path {
  width: 100%;
  position: absolute;
  bottom: 26px;
  padding: 20px;
  padding-bottom: 60px;
  background-image: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 2px, rgba(0, 0, 0, 0.4) 2px, rgba(0, 0, 0, 0.4) 6px);
}
/* line 248, ../sass/my_style.sass */
.panels-flexible-region-first.first #one .views-field-path h3 {
  font-family: magistral, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
}
/* line 254, ../sass/my_style.sass */
.panels-flexible-region-first.first #one .views-field-path h3 a {
  color: #ffffff !important;
}
/* line 256, ../sass/my_style.sass */
.panels-flexible-region-first.first #one .views-field-path h3 p {
  margin: 0;
}
/* line 258, ../sass/my_style.sass */
.panels-flexible-region-first.first #one .views-field-field-tags {
  margin-right: 10px;
  margin-left: 20px;
}
/* line 261, ../sass/my_style.sass */
.panels-flexible-region-first.first #one .views-field-field-tags a {
  padding: 6px 8px;
  font-size: 12px;
}
/* line 264, ../sass/my_style.sass */
.panels-flexible-region-first.first #one .views-field-published-at {
  font-family: magistral, sans-serif;
  font-size: 14px;
  color: #ffffff;
}
/* line 268, ../sass/my_style.sass */
.panels-flexible-region-first.first #one .views-field-field-tags, .panels-flexible-region-first.first #one .views-field-published-at {
  position: relative;
  bottom: 50px;
  display: inline-block;
}
/* line 272, ../sass/my_style.sass */
.panels-flexible-region-first.first #four {
  width: 50%;
  float: left;
  padding-left: 25px;
}
/* line 276, ../sass/my_style.sass */
.panels-flexible-region-first.first #four .views-row {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
/* line 281, ../sass/my_style.sass */
.panels-flexible-region-first.first #four .views-row-1, .panels-flexible-region-first.first #four .views-row-3 {
  margin-right: 3%;
}
/* line 283, ../sass/my_style.sass */
.panels-flexible-region-first.first #four .views-field-path {
  width: 100%;
  position: absolute;
  bottom: 26px;
  padding: 10px;
  padding-bottom: 37px;
  background-image: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 2px, rgba(0, 0, 0, 0.4) 2px, rgba(0, 0, 0, 0.4) 6px);
}
/* line 290, ../sass/my_style.sass */
.panels-flexible-region-first.first #four .views-field-path h3 {
  font-family: magistral, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
/* line 295, ../sass/my_style.sass */
.panels-flexible-region-first.first #four .views-field-path h3 a {
  color: #ffffff !important;
}
/* line 297, ../sass/my_style.sass */
.panels-flexible-region-first.first #four .views-field-path h3 p {
  margin: 0;
}
/* line 299, ../sass/my_style.sass */
.panels-flexible-region-first.first #four .views-field-field-tags {
  margin-right: 3px;
  margin-left: 10px;
}
/* line 302, ../sass/my_style.sass */
.panels-flexible-region-first.first #four .views-field-field-tags a {
  padding: 2px 3px;
  font-size: 10px;
}
/* line 305, ../sass/my_style.sass */
.panels-flexible-region-first.first #four .views-field-published-at {
  font-family: magistral, sans-serif;
  font-size: 10px;
  color: #ffffff;
}
/* line 309, ../sass/my_style.sass */
.panels-flexible-region-first.first #four .views-field-field-tags, .panels-flexible-region-first.first #four .views-field-published-at {
  position: relative;
  bottom: 35px;
  display: inline-block;
}

/* line 560, ../sass/my_style.sass */
.panels-flexible-region-1-footer_text_ {
  margin-bottom: -21px;
}

/* line 563, ../sass/my_style.sass */
.pane-term-name, #media_title {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0px 15px;
}

/* line 568, ../sass/my_style.sass */
.pane-term-description, .views-field-description {
  margin-top: 15px;
  padding: 0px 15px;
  font-size: 16px;
}
/* line 572, ../sass/my_style.sass */
.pane-term-description p, .views-field-description p {
  margin: 0px !important;
}

/* line 576, ../sass/my_style.sass */
.header h1, .header .pane-title, .header .view-header h1, .header .views-field-name, .header .view-header p, .view-id-search_api_search h1, .view-id-search_api_search .pane-title, .view-id-search_api_search .view-header h1, .view-id-search_api_search .views-field-name, .view-id-search_api_search .view-header p, .view-id-glossary_list h1, .view-id-glossary_list .pane-title, .view-id-glossary_list .view-header h1, .view-id-glossary_list .views-field-name, .view-id-glossary_list .view-header p {
  line-height: 1.1;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 36px;
  font-family: montserrat, sans-serif;
}
/* line 582, ../sass/my_style.sass */
.header .pane-title, .view-id-search_api_search .pane-title, .view-id-glossary_list .pane-title {
  float: left;
  margin-right: 10px;
}
/* line 585, ../sass/my_style.sass */
.header .view-header, .view-id-search_api_search .view-header, .view-id-glossary_list .view-header {
  margin-top: 20px;
}

/* line 588, ../sass/my_style.sass */
#article-header-banner {
  margin-bottom: 15px;
}

/* line 591, ../sass/my_style.sass */
#category, #archive_list, #media, #published, #tag, #menu_pane, .view-id-search_api_search, .view-id-glossary_list {
  padding: 0px 15px !important;
  padding-bottom: 15px !important;
}
/* line 594, ../sass/my_style.sass */
#category p, #archive_list p, #media p, #published p, #tag p, #menu_pane p, .view-id-search_api_search p, .view-id-glossary_list p {
  margin: 0 !important;
}
/* line 596, ../sass/my_style.sass */
#category .views-row-1, #archive_list .views-row-1, #media .views-row-1, #published .views-row-1, #tag .views-row-1, #menu_pane .views-row-1, .view-id-search_api_search .views-row-1, .view-id-glossary_list .views-row-1 {
  border-top: 1px solid #eee;
  margin-top: 20px;
}
/* line 599, ../sass/my_style.sass */
#category .views-field-path, #category .views-field-nid, #archive_list .views-field-path, #archive_list .views-field-nid, #media .views-field-path, #media .views-field-nid, #published .views-field-path, #published .views-field-nid, #tag .views-field-path, #tag .views-field-nid, #menu_pane .views-field-path, #menu_pane .views-field-nid, .view-id-search_api_search .views-field-path, .view-id-search_api_search .views-field-nid, .view-id-glossary_list .views-field-path, .view-id-glossary_list .views-field-nid {
  clear: both;
  padding-top: 30px;
  margin-bottom: 5px;
}
/* line 603, ../sass/my_style.sass */
#category .views-field-path h3, #category .views-field-nid h3, #archive_list .views-field-path h3, #archive_list .views-field-nid h3, #media .views-field-path h3, #media .views-field-nid h3, #published .views-field-path h3, #published .views-field-nid h3, #tag .views-field-path h3, #tag .views-field-nid h3, #menu_pane .views-field-path h3, #menu_pane .views-field-nid h3, .view-id-search_api_search .views-field-path h3, .view-id-search_api_search .views-field-nid h3, .view-id-glossary_list .views-field-path h3, .view-id-glossary_list .views-field-nid h3 {
  margin: 0;
  font-size: 36px;
}
/* line 606, ../sass/my_style.sass */
#category .views-field-path h3 a, #category .views-field-nid h3 a, #archive_list .views-field-path h3 a, #archive_list .views-field-nid h3 a, #media .views-field-path h3 a, #media .views-field-nid h3 a, #published .views-field-path h3 a, #published .views-field-nid h3 a, #tag .views-field-path h3 a, #tag .views-field-nid h3 a, #menu_pane .views-field-path h3 a, #menu_pane .views-field-nid h3 a, .view-id-search_api_search .views-field-path h3 a, .view-id-search_api_search .views-field-nid h3 a, .view-id-glossary_list .views-field-path h3 a, .view-id-glossary_list .views-field-nid h3 a {
  line-height: 40px;
}
/* line 608, ../sass/my_style.sass */
#category .views-label-field-published, #category .views-field-field-published .field-content, #category .views-label-field-tags, #category .views-field-field-tags .field-content, #archive_list .views-label-field-published, #archive_list .views-field-field-published .field-content, #archive_list .views-label-field-tags, #archive_list .views-field-field-tags .field-content, #media .views-label-field-published, #media .views-field-field-published .field-content, #media .views-label-field-tags, #media .views-field-field-tags .field-content, #published .views-label-field-published, #published .views-field-field-published .field-content, #published .views-label-field-tags, #published .views-field-field-tags .field-content, #tag .views-label-field-published, #tag .views-field-field-published .field-content, #tag .views-label-field-tags, #tag .views-field-field-tags .field-content, #menu_pane .views-label-field-published, #menu_pane .views-field-field-published .field-content, #menu_pane .views-label-field-tags, #menu_pane .views-field-field-tags .field-content, .view-id-search_api_search .views-label-field-published, .view-id-search_api_search .views-field-field-published .field-content, .view-id-search_api_search .views-label-field-tags, .view-id-search_api_search .views-field-field-tags .field-content, .view-id-glossary_list .views-label-field-published, .view-id-glossary_list .views-field-field-published .field-content, .view-id-glossary_list .views-label-field-tags, .view-id-glossary_list .views-field-field-tags .field-content {
  float: left;
  padding: 10px 0px;
}
/* line 611, ../sass/my_style.sass */
#category .views-label-field-published, #archive_list .views-label-field-published, #media .views-label-field-published, #published .views-label-field-published, #tag .views-label-field-published, #menu_pane .views-label-field-published, .view-id-search_api_search .views-label-field-published, .view-id-glossary_list .views-label-field-published {
  padding-left: 10px;
}
/* line 613, ../sass/my_style.sass */
#category .views-field-field-published .field-content, #archive_list .views-field-field-published .field-content, #media .views-field-field-published .field-content, #published .views-field-field-published .field-content, #tag .views-field-field-published .field-content, #menu_pane .views-field-field-published .field-content, .view-id-search_api_search .views-field-field-published .field-content, .view-id-glossary_list .views-field-field-published .field-content {
  margin-left: 3px;
  margin-right: 10px;
  font-weight: bold;
}
/* line 617, ../sass/my_style.sass */
#category .views-label-field-tags, #archive_list .views-label-field-tags, #media .views-label-field-tags, #published .views-label-field-tags, #tag .views-label-field-tags, #menu_pane .views-label-field-tags, .view-id-search_api_search .views-label-field-tags, .view-id-glossary_list .views-label-field-tags {
  margin-right: 3px;
}
/* line 619, ../sass/my_style.sass */
#category .views-field-published-at, #archive_list .views-field-published-at, #media .views-field-published-at, #published .views-field-published-at, #tag .views-field-published-at, #menu_pane .views-field-published-at, .view-id-search_api_search .views-field-published-at, .view-id-glossary_list .views-field-published-at {
  text-align: right;
  padding: 10px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px;
}
/* line 625, ../sass/my_style.sass */
#category .views-field-published-at .field-content, #archive_list .views-field-published-at .field-content, #media .views-field-published-at .field-content, #published .views-field-published-at .field-content, #tag .views-field-published-at .field-content, #menu_pane .views-field-published-at .field-content, .view-id-search_api_search .views-field-published-at .field-content, .view-id-glossary_list .views-field-published-at .field-content {
  color: #d82222 !important;
}
/* line 627, ../sass/my_style.sass */
#category .views-field-field-image, #archive_list .views-field-field-image, #media .views-field-field-image, #published .views-field-field-image, #tag .views-field-field-image, #menu_pane .views-field-field-image, .view-id-search_api_search .views-field-field-image, .view-id-glossary_list .views-field-field-image {
  float: left;
  padding: 0px 15px;
  width: 35%;
}
/* line 631, ../sass/my_style.sass */
#category .views-field-field-subtitled, #archive_list .views-field-field-subtitled, #media .views-field-field-subtitled, #published .views-field-field-subtitled, #tag .views-field-field-subtitled, #menu_pane .views-field-field-subtitled, .view-id-search_api_search .views-field-field-subtitled, .view-id-glossary_list .views-field-field-subtitled {
  margin-left: 35%;
  font-size: 16px;
  margin-top: 3px;
}
/* line 636, ../sass/my_style.sass */
#category .item-list ul, #archive_list .item-list ul, #media .item-list ul, #published .item-list ul, #tag .item-list ul, #menu_pane .item-list ul, .view-id-search_api_search .item-list ul, .view-id-glossary_list .item-list ul {
  padding-top: 40px;
  text-align: left;
}
/* line 640, ../sass/my_style.sass */
#category .item-list ul li, #archive_list .item-list ul li, #media .item-list ul li, #published .item-list ul li, #tag .item-list ul li, #menu_pane .item-list ul li, .view-id-search_api_search .item-list ul li, .view-id-glossary_list .item-list ul li {
  margin: 0 !important;
}
/* line 643, ../sass/my_style.sass */
#category ul.pager li.pager-item, #category ul.pager li.pager-current, #category ul.pager li.pager-next, #category ul.pager li.pager-last, #category ul.pager li.pager-previous, #category ul.pager li.pager-ellipsis, #archive_list ul.pager li.pager-item, #archive_list ul.pager li.pager-current, #archive_list ul.pager li.pager-next, #archive_list ul.pager li.pager-last, #archive_list ul.pager li.pager-previous, #archive_list ul.pager li.pager-ellipsis, #media ul.pager li.pager-item, #media ul.pager li.pager-current, #media ul.pager li.pager-next, #media ul.pager li.pager-last, #media ul.pager li.pager-previous, #media ul.pager li.pager-ellipsis, #published ul.pager li.pager-item, #published ul.pager li.pager-current, #published ul.pager li.pager-next, #published ul.pager li.pager-last, #published ul.pager li.pager-previous, #published ul.pager li.pager-ellipsis, #tag ul.pager li.pager-item, #tag ul.pager li.pager-current, #tag ul.pager li.pager-next, #tag ul.pager li.pager-last, #tag ul.pager li.pager-previous, #tag ul.pager li.pager-ellipsis, #menu_pane ul.pager li.pager-item, #menu_pane ul.pager li.pager-current, #menu_pane ul.pager li.pager-next, #menu_pane ul.pager li.pager-last, #menu_pane ul.pager li.pager-previous, #menu_pane ul.pager li.pager-ellipsis, .view-id-search_api_search ul.pager li.pager-item, .view-id-search_api_search ul.pager li.pager-current, .view-id-search_api_search ul.pager li.pager-next, .view-id-search_api_search ul.pager li.pager-last, .view-id-search_api_search ul.pager li.pager-previous, .view-id-search_api_search ul.pager li.pager-ellipsis, .view-id-glossary_list ul.pager li.pager-item, .view-id-glossary_list ul.pager li.pager-current, .view-id-glossary_list ul.pager li.pager-next, .view-id-glossary_list ul.pager li.pager-last, .view-id-glossary_list ul.pager li.pager-previous, .view-id-glossary_list ul.pager li.pager-ellipsis {
  margin-left: -4.3px !important;
}
/* line 645, ../sass/my_style.sass */
#category ul.pager li.pager-current.first, #archive_list ul.pager li.pager-current.first, #media ul.pager li.pager-current.first, #published ul.pager li.pager-current.first, #tag ul.pager li.pager-current.first, #menu_pane ul.pager li.pager-current.first, .view-id-search_api_search ul.pager li.pager-current.first, .view-id-glossary_list ul.pager li.pager-current.first {
  margin-left: 0px !important;
}

/* line 649, ../sass/my_style.sass */
.view-id-glossary_list .views-field-name {
  font-size: 16px;
  padding: 5px 0px !important;
}

/* line 653, ../sass/my_style.sass */
#edit-submit-search-api-search {
  display: none;
}

/* line 656, ../sass/my_style.sass */
#mini-panel-hamburger_menu {
  display: none;
}

/* line 661, ../sass/my_style.sass */
.node_pane {
  padding: 0px 15px !important;
  padding-bottom: 15px !important;
  width: -moz-available;
}
/* line 666, ../sass/my_style.sass */
.node_pane ul, .node_pane ol {
  margin-left: 30px;
}
/* line 668, ../sass/my_style.sass */
.node_pane ul li, .node_pane ol li {
  margin-bottom: 15px;
  display: flex;
  min-width: 90%;
}
/* line 672, ../sass/my_style.sass */
.node_pane ul {
  list-style: none;
}
/* line 674, ../sass/my_style.sass */
.node_pane ul li::before {
  content: "●";
  color: #C72026;
  display: inline-block;
  width: auto;
  margin-right: 20px;
}
/* line 680, ../sass/my_style.sass */
.node_pane ol {
  list-style: none;
  counter-reset: li;
}
/* line 683, ../sass/my_style.sass */
.node_pane ol li::before {
  content: counter(li);
  color: #C72026;
  display: inline-block;
  min-width: 15px;
  margin-right: 20px;
  font-weight: bold;
}
/* line 690, ../sass/my_style.sass */
.node_pane ol li {
  counter-increment: li;
}
/* line 693, ../sass/my_style.sass */
.node_pane blockquote {
  padding: 31px 27px;
  margin: 0 0 20px;
  border-left: 7px solid #333332;
  background: #FCFCFC;
}
/* line 698, ../sass/my_style.sass */
.node_pane blockquote p {
  font-size: 18px !important;
  margin: 0;
  font-style: italic;
}
/* line 703, ../sass/my_style.sass */
.node_pane figure {
  margin: 0 !important;
}
/* line 706, ../sass/my_style.sass */
.node_pane figcaption {
  margin-top: 5px;
  font-size: 16px;
  border-left: 7px solid #C72026;
  padding: 5px 27px;
  font-weight: 300;
  line-height: 24px;
  font-style: italic;
  text-align: left;
  margin-bottom: -7px;
}
/* line 717, ../sass/my_style.sass */
.node_pane #youtube {
  float: left;
  clear: both;
  height: 24px;
  margin-top: 4px;
  margin-right: 5px;
}
/* line 724, ../sass/my_style.sass */
.node_pane #fb-like-share {
  float: left;
  margin-top: 3px;
}
/* line 728, ../sass/my_style.sass */
.node_pane #fb-save {
  float: right;
}
/* line 730, ../sass/my_style.sass */
.node_pane .tabs.primary.clearfix {
  margin-left: 0;
}
/* line 734, ../sass/my_style.sass */
.node_pane .pane-node-field-title2 h1 {
  margin: 0px;
  font-family: magistral, sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
}
/* line 740, ../sass/my_style.sass */
.node_pane .pane-node-field-title2 h1 p {
  margin: 0px;
  padding: 20px 0px;
}
/* line 744, ../sass/my_style.sass */
.node_pane .field-name-field-picture {
  float: left;
}
/* line 746, ../sass/my_style.sass */
.node_pane .field-name-field-picture img {
  border-radius: 20px;
  margin-right: 10px;
}
/* line 751, ../sass/my_style.sass */
.node_pane .pane-node-field-published .field-items {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 755, ../sass/my_style.sass */
.node_pane .pane-node-field-published a {
  color: #333332 !important;
}
/* line 758, ../sass/my_style.sass */
.node_pane .pane-node-published {
  font-size: 12px;
  padding-bottom: 45px;
}
/* line 761, ../sass/my_style.sass */
.node_pane .pane-node-published .pane-content {
  display: inline-block;
}
/* line 763, ../sass/my_style.sass */
.node_pane .field-label {
  font-weight: normal;
}
/* line 767, ../sass/my_style.sass */
.node_pane .pane-node-field-tags .field-items {
  display: inline-flex;
}
/* line 769, ../sass/my_style.sass */
.node_pane .pane-node-field-tags .field-item {
  margin-right: 6px;
}
/* line 771, ../sass/my_style.sass */
.node_pane .pane-node-field-tags .field-item a {
  color: white !important;
  font-size: 14px;
  padding: 6px 11px;
  background: #C72026;
}
/* line 776, ../sass/my_style.sass */
.node_pane .pane-node-field-tags .field-item a:hover {
  text-decoration: none;
}
/* line 780, ../sass/my_style.sass */
.node_pane .pane-node-field-subtitled h2 {
  clear: both;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
/* line 790, ../sass/my_style.sass */
.node_pane #alapjarat-article.pane-node-field-text p, .node_pane #alapjarat-article.pane-node-field-text span, .node_pane #alapjarat-article.pane-node-field-text ul, .node_pane #alapjarat-article.pane-node-field-text ol {
  font-size: 18px !important;
  font-family: Montserrat !important;
}
/* line 793, ../sass/my_style.sass */
.node_pane #alapjarat-article.pane-node-field-text a {
  text-decoration: underline;
}
/* line 796, ../sass/my_style.sass */
.node_pane #alapjarat-article.pane-node-field-text h3 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 25px;
  font-size: 30px !important;
  font-weight: 300;
  font-family: magistral, sans-serif;
}
/* line 803, ../sass/my_style.sass */
.node_pane #alapjarat-article.pane-node-field-text h3 span {
  font-size: 30px !important;
  font-weight: 300;
  font-family: magistral, sans-serif;
}
/* line 808, ../sass/my_style.sass */
.node_pane #alapjarat-article.pane-node-field-text h4 span {
  margin-top: 10px;
  font-size: 18px !important;
}
/* line 811, ../sass/my_style.sass */
.node_pane #alapjarat-article.pane-node-field-text ul, .node_pane #alapjarat-article.pane-node-field-text ol {
  margin-bottom: 25px;
}
/* line 813, ../sass/my_style.sass */
.node_pane #alapjarat-article.pane-node-field-text ul li a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}
/* line 818, ../sass/my_style.sass */
.node_pane #alapjarat-article.pane-node-field-text img {
  padding: 5px 0;
}
/* line 820, ../sass/my_style.sass */
.node_pane #alapjarat-article.pane-node-field-text iframe {
  max-width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}
/* line 827, ../sass/my_style.sass */
.node_pane .pane-node-field-source .pane-title {
  font-size: 18px;
  font-family: magistral, sans-serif;
}
/* line 830, ../sass/my_style.sass */
.node_pane .pane-node-field-source .even {
  margin-top: 10px;
}
/* line 832, ../sass/my_style.sass */
.node_pane .pane-node-field-source p {
  display: list-item;
  font-size: 16px !important;
  margin: 0;
  margin-left: 45px;
  margin-bottom: 10px;
  font-family: magistral, sans-serif;
}
/* line 839, ../sass/my_style.sass */
.node_pane .pane-node-field-source a {
  margin-left: 10px;
}
/* line 843, ../sass/my_style.sass */
.node_pane #article4 h4 {
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: solid 2px #333332;
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-top: 45px;
}
/* line 850, ../sass/my_style.sass */
.node_pane #article4 p {
  margin: 0;
}
/* line 852, ../sass/my_style.sass */
.node_pane #article4 .views-row {
  width: 47.5%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 40px;
}
/* line 857, ../sass/my_style.sass */
.node_pane #article4 .views-row-1, .node_pane #article4 .views-row-3 {
  margin-right: 3.8%;
}
/* line 859, ../sass/my_style.sass */
.node_pane #article4 .views-field-published-at, .node_pane #article4 .views-field-path, .node_pane #article4 .views-field-field-subtitled, .node_pane #article4 .views-field-field-tags {
  padding: 5px 10px;
}
/* line 861, ../sass/my_style.sass */
.node_pane #article4 .views-field-published-at {
  padding-top: 5px;
}
/* line 863, ../sass/my_style.sass */
.node_pane #article4 .views-field-published-at span {
  font-size: 14px;
  font-family: magistral, sans-serif;
  font-weight: 300;
}
/* line 867, ../sass/my_style.sass */
.node_pane #article4 .views-field-published-at span::before {
  content: "🕓";
  margin-right: 5px;
}
/* line 871, ../sass/my_style.sass */
.node_pane #article4 .views-field-path a {
  font-weight: bold;
}
/* line 874, ../sass/my_style.sass */
.node_pane #article4 .views-field-field-subtitled p {
  font-size: 14px;
}
/* line 877, ../sass/my_style.sass */
.node_pane #article4 .views-field-field-tags a {
  font-size: 12px;
  padding: 5px 7px;
}
/* line 881, ../sass/my_style.sass */
.node_pane .pane-node-field-tagsa {
  clear: both;
  padding-bottom: 60px;
  padding-top: 15px;
}
/* line 885, ../sass/my_style.sass */
.node_pane .pane-node-field-tagsa .pane-title {
  float: left;
}
/* line 888, ../sass/my_style.sass */
.node_pane .pane-node-field-tagsa .field-item a {
  float: left;
  padding-left: 10px;
}
/* line 891, ../sass/my_style.sass */
.node_pane .pane-node-field-tagsa .field-item a::before {
  content: "#";
  font-style: italic;
}
/* line 894, ../sass/my_style.sass */
.node_pane .pane-node-field-tagsa .pane-title, .node_pane .pane-node-field-tagsa .field-item a {
  font-size: 16px;
  font-family: magistral, sans-serif;
}
/* line 897, ../sass/my_style.sass */
.node_pane #article-banner {
  max-width: 640px;
  height: 360px;
  margin-bottom: 40px;
}

/* line 904, ../sass/my_style.sass */
#impress {
  padding: 0px 15px !important;
}
/* line 907, ../sass/my_style.sass */
#impress .view-header p {
  margin: 0 !important;
  font-size: 30px;
  font-family: montserrat, sans-serif;
}
/* line 911, ../sass/my_style.sass */
#impress h1 {
  margin-top: 20px;
  margin-bottom: 35px;
  padding: 0;
}
/* line 915, ../sass/my_style.sass */
#impress h2 {
  margin-bottom: 0;
}
/* line 917, ../sass/my_style.sass */
#impress .views-field-field-e-mail {
  float: left;
}
/* line 919, ../sass/my_style.sass */
#impress .views-row {
  clear: both;
  padding-top: 25px;
}
/* line 922, ../sass/my_style.sass */
#impress .views-field-title {
  color: #d82222;
  float: left;
  margin-left: 6px;
  margin-right: 9px;
}
/* line 927, ../sass/my_style.sass */
#impress .views-field-field-status {
  margin-bottom: 10px;
}
/* line 929, ../sass/my_style.sass */
#impress .views-field-title, #impress .views-field-field-status {
  font-family: montserrat, sans-serif;
  font-size: 24px;
  line-height: 30px;
}
/* line 933, ../sass/my_style.sass */
#impress .views-field-field-picture {
  float: left;
  padding-top: 10px;
  margin-right: 1.5em;
  margin-left: 25px;
}
/* line 938, ../sass/my_style.sass */
#impress .views-field-field-description {
  padding: 10px 20px;
  font-size: 16px;
  border-left: 5px solid #eee;
}

/* line 943, ../sass/my_style.sass */
#impress_yes {
  padding: 0px 15px !important;
  margin-bottom: 30px;
}
/* line 946, ../sass/my_style.sass */
#impress_yes .view-content {
  margin-left: 20px;
}
/* line 948, ../sass/my_style.sass */
#impress_yes h2 {
  margin-top: 25px !important;
  margin-bottom: 10px !important;
}
/* line 951, ../sass/my_style.sass */
#impress_yes .views-field-title {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
}
/* line 955, ../sass/my_style.sass */
#impress_yes .views-field-title .field-content {
  margin-left: 15px;
  display: list-item;
}

/* line 959, ../sass/my_style.sass */
div.pages {
  padding: 0px 15px !important;
  margin-bottom: 30px;
}
/* line 962, ../sass/my_style.sass */
div.pages ul, div.pages ol {
  margin-left: 45px;
}
/* line 964, ../sass/my_style.sass */
div.pages .tabs.primary.clearfix {
  margin-left: 0;
}
/* line 966, ../sass/my_style.sass */
div.pages .pane-node-title {
  font-weight: 500;
  line-height: 1.1;
  font-size: 36px;
  font-family: montserrat, sans-serif;
  margin-top: 20px !important;
  margin-bottom: 35px !important;
}

/* line 974, ../sass/my_style.sass */
.partner {
  padding: 0px 15px !important;
}
/* line 976, ../sass/my_style.sass */
.partner h3 {
  margin-top: 40px;
}
/* line 978, ../sass/my_style.sass */
.partner table {
  border-collapse: unset;
}
/* line 981, ../sass/my_style.sass */
.partner #premium img {
  max-width: 158px;
}
/* line 984, ../sass/my_style.sass */
.partner #recreation img {
  max-width: 104px;
}
/* line 986, ../sass/my_style.sass */
.partner .views-field-field-picturep, .partner .views-field-field-descriptionp {
  padding: 10px;
}
/* line 988, ../sass/my_style.sass */
.partner .views-field-field-picturep p, .partner .views-field-field-descriptionp p {
  margin: 0 !important;
}
/* line 990, ../sass/my_style.sass */
.partner .even, .partner .odd {
  background-color: white;
  border: 0;
  padding: 0;
}

/* line 995, ../sass/my_style.sass */
.my_footer {
  margin-top: 10px !important;
  padding: 0px 10px !important;
}
/* line 998, ../sass/my_style.sass */
.my_footer a {
  padding-right: 7px;
  border-right: solid 1px black;
  padding-left: 2.7px;
}
/* line 1002, ../sass/my_style.sass */
.my_footer .second_menu_footer {
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  float: none;
}
/* line 1007, ../sass/my_style.sass */
.my_footer .second_menu_footer li {
  display: inline;
  padding: 0;
  margin: 0;
}
/* line 1011, ../sass/my_style.sass */
.my_footer .second_menu_footer li:last-child a {
  border-right: 0px;
}
/* line 1013, ../sass/my_style.sass */
.my_footer .panels-flexible-region-last {
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  float: none;
}
/* line 1018, ../sass/my_style.sass */
.my_footer .footer_text {
  margin-top: 5px;
}
/* line 1020, ../sass/my_style.sass */
.my_footer .footer_text a {
  margin-right: 7px;
}
