@charset "UTF-8";
@import url("https://use.typekit.net/qas2soj.css");
/* line 3, ../sass/my_style.sass */
html {
  background-color: #f8f8f8;
}

/* line 7, ../sass/my_style.sass */
body::before {
  background-image: none;
}

/* line 9, ../sass/my_style.sass */
body {
  font-size: 18px;
  font-family: Montserrat;
  color: #333332;
  max-width: 1440px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.42857;
}

/* line 19, ../sass/my_style.sass */
body.front .ecdh-api {
  padding: 15px 0px !important;
  margin-top: 20px !important;
  background-color: #C72026;
}
/* line 23, ../sass/my_style.sass */
body.front .main-center {
  background-color: white;
}

/* line 26, ../sass/my_style.sass */
body.not-front .first-block {
  background-color: white;
}
/* line 28, ../sass/my_style.sass */
body.not-front .right-bar {
  padding-top: 14px;
}

/* line 31, ../sass/my_style.sass */
body.node-type-a-article .main-center {
  background-color: white;
}

/* line 34, ../sass/my_style.sass */
body.page-impress .right-bar, body.node-type-pages .right-bar {
  padding-top: 54px;
}
/* line 36, ../sass/my_style.sass */
body.page-impress .right-bar .views-row, body.node-type-pages .right-bar .views-row {
  background-color: white;
}
/* line 38, ../sass/my_style.sass */
body.page-impress .right-bar #event .views-row, body.node-type-pages .right-bar #event .views-row {
  background: none;
}
/* line 40, ../sass/my_style.sass */
body.page-impress .right-bar #right-top-5, body.node-type-pages .right-bar #right-top-5 {
  background-color: white;
}

/* line 44, ../sass/my_style.sass */
h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0;
}

/* line 48, ../sass/my_style.sass */
h1 {
  font-size: 36px;
}

/* line 51, ../sass/my_style.sass */
h2 {
  font-size: 30px;
}

/* line 53, ../sass/my_style.sass */
h3 {
  font-size: 24px;
}

/* line 55, ../sass/my_style.sass */
h4 {
  margin-top: 10px;
  font-size: 18px;
}

/* line 58, ../sass/my_style.sass */
a {
  color: #333332 !important;
}

/* line 60, ../sass/my_style.sass */
a:hover {
  text-decoration: none;
  color: #C72026 !important;
}

/* line 63, ../sass/my_style.sass */
.ckeditor_links a {
  color: white;
}

/* line 66, ../sass/my_style.sass */
#admin-menu a {
  color: white !important;
}

/* line 69, ../sass/my_style.sass */
.views-label-field-tags a, .views-field-field-tags a, .pane-node-field-tags a {
  color: white !important;
  background: #C72026;
  text-decoration: none;
}
/* line 73, ../sass/my_style.sass */
.views-label-field-tags a:hover, .views-field-field-tags a:hover, .pane-node-field-tags a:hover {
  color: white !important;
}

/* line 75, ../sass/my_style.sass */
.youtube-embed-wrapper {
  padding-top: 0px !important;
  margin-bottom: 15px;
}

/* line 78, ../sass/my_style.sass */
.panels-flexible-region {
  width: auto;
}

/* line 80, ../sass/my_style.sass */
.inside.panels-flexible-region-inside, .panels-flexible-row {
  padding: 0px !important;
}

/* line 82, ../sass/my_style.sass */
.panel-separator {
  margin: 0px !important;
}

/* line 84, ../sass/my_style.sass */
.banner {
  margin: auto;
  background-color: #dbe0e4;
}

/* line 89, ../sass/my_style.sass */
#mc_embed_signup form {
  background-color: #333332;
  padding: 20px !important;
  margin: 0px;
  border-radius: 5px;
}
/* line 94, ../sass/my_style.sass */
#mc_embed_signup form p {
  font-size: 19px;
  font-family: magistral, sans-serif;
  color: #C72026;
  margin: 0px;
  padding-bottom: 25px;
}
/* line 100, ../sass/my_style.sass */
#mc_embed_signup form span {
  font-size: 24px;
  font-weight: 500;
  color: white;
  display: block;
  padding-top: 10px;
  padding-bottom: 20px;
}
/* line 107, ../sass/my_style.sass */
#mc_embed_signup form #mce-EMAIL, #mc_embed_signup form #mce-MMERGE2 {
  padding-left: 20px;
  text-indent: 0;
  font-size: 18px;
  color: #666666;
  font-style: italic;
  background-color: #2B2B2A;
  height: 61px;
  border-radius: 3px;
  border: 0px;
  margin-bottom: 20px;
}
/* line 118, ../sass/my_style.sass */
#mc_embed_signup form .mc-field-group {
  width: 100%;
  padding-bottom: 0;
  min-height: auto;
}
/* line 122, ../sass/my_style.sass */
#mc_embed_signup form label {
  color: white;
  font-size: 12px;
  display: flex !important;
  margin-bottom: 15px !important;
  line-height: 14px;
}
/* line 128, ../sass/my_style.sass */
#mc_embed_signup form a {
  color: #C72026 !important;
  text-decoration: underline;
}
/* line 131, ../sass/my_style.sass */
#mc_embed_signup form #mce-MMERGE3-0, #mc_embed_signup form #mce-MMERGE1-0 {
  float: left;
}
/* line 133, ../sass/my_style.sass */
#mc_embed_signup form input[type="radio"] {
  margin-right: 10px !important;
}
/* line 135, ../sass/my_style.sass */
#mc_embed_signup form #mc-embedded-subscribe {
  width: 100%;
  height: 61px;
  background-color: #C72026;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}
/* line 144, ../sass/my_style.sass */
#mc_embed_signup form input.mce_inline_error {
  border: solid 2px #C72026 !important;
  margin-bottom: 10px !important;
}
/* line 147, ../sass/my_style.sass */
#mc_embed_signup form div.mce_inline_error {
  padding: 0px !important;
  background: none !important;
  color: #C72026 !important;
}

/* line 153, ../sass/my_style.sass */
.letterhead {
  background-color: #ffffff;
}
/* line 155, ../sass/my_style.sass */
.letterhead .panels-flexible-row-inside {
  max-width: 1115px;
  margin: auto;
  padding: 20px 0px;
}
/* line 161, ../sass/my_style.sass */
.letterhead .pane-page-slogan h1 {
  margin: 0px;
  font-size: 13.5px;
  text-transform: uppercase;
  text-align: center;
  font-family: magistral, sans-serif;
  font-weight: 300;
  color: #666666;
}

/* line 171, ../sass/my_style.sass */
.header {
  background-color: #ffffff;
  border-top: solid 1px #e6e6e6;
  border-bottom: solid 1px #e6e6e6;
}
/* line 175, ../sass/my_style.sass */
.header .panels-flexible-row-inside {
  max-width: 1115px;
  margin: auto;
}
/* line 179, ../sass/my_style.sass */
.header #main_menu #ham-menu {
  padding: 0px !important;
  width: 20px;
  margin-top: 17px;
  margin-right: 10px;
}
/* line 184, ../sass/my_style.sass */
.header #main_menu li {
  display: inline;
  padding: 0;
  margin: 0;
}
/* line 188, ../sass/my_style.sass */
.header #main_menu li a {
  color: #333332 !important;
  font-size: 14px;
  padding: 0px 7px;
  line-height: 52px;
}
/* line 193, ../sass/my_style.sass */
.header .search {
  float: right;
  width: auto;
}
/* line 197, ../sass/my_style.sass */
.header .search #search input#edit-search-api-views-fulltext, .header .search #search input#edit-keys {
  width: 240px;
  height: 38px;
  background-color: #F2F2F2;
  border: 0px;
  font-size: 14px;
  font-style: italic;
  font-weight: 200;
  padding-left: 20px;
  margin: 0px;
}
/* line 207, ../sass/my_style.sass */
.header .search #search .views-exposed-form .views-exposed-widget, .header .search #search .views-exposed-widgets {
  padding: 0px;
  margin: 0px;
}
/* line 210, ../sass/my_style.sass */
.header .search #search #edit-search-api-views-fulltext-wrapper {
  padding: 7px 0px;
}

/* line 214, ../sass/my_style.sass */
.panels-flexible-region-first.first-block {
  width: 100%;
}
/* line 216, ../sass/my_style.sass */
.panels-flexible-region-first.first-block .panels-flexible-region-inside-first {
  max-width: 1115px;
  margin: auto;
}
/* line 219, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #default-page-big-banner {
  max-width: 970px;
  height: 250px;
  margin: 30px auto;
}
/* line 223, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #one {
  width: 50%;
  float: left;
  position: relative;
}
/* line 227, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #one .views-field-path {
  width: 100%;
  position: absolute;
  bottom: 26px;
  padding: 20px;
  padding-bottom: 60px;
  background: rgba(0, 0, 0, 0.5);
}
/* line 235, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #one .views-field-path h3 {
  font-family: magistral, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
}
/* line 241, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #one .views-field-path h3 a {
  color: #ffffff !important;
}
/* line 243, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #one .views-field-path h3 p {
  margin: 0;
}
/* line 245, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #one .views-field-field-tags {
  margin-right: 10px;
  margin-left: 20px;
}
/* line 248, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #one .views-field-field-tags a {
  padding: 6px 8px;
  font-size: 12px;
}
/* line 251, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #one .views-field-published-at {
  font-family: magistral, sans-serif;
  font-size: 13px;
  color: #ffffff;
}
/* line 255, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #one .views-field-published-at span::before {
  content: url("/sites/all/themes/alapjarat_theme_2019/images/clock_w.png");
  margin-right: 5px;
  vertical-align: sub;
}
/* line 259, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #one .views-field-field-tags, .panels-flexible-region-first.first-block #one .views-field-published-at {
  position: relative;
  bottom: 50px;
  display: inline-block;
}
/* line 263, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #four {
  width: 50%;
  float: left;
  padding-left: 25px;
}
/* line 267, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #four .views-row {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-bottom: 27px;
}
/* line 273, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #four .views-row-1, .panels-flexible-region-first.first-block #four .views-row-3 {
  margin-right: 3%;
}
/* line 275, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #four .views-field-path {
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 10px;
  padding-bottom: 55px;
  background: rgba(0, 0, 0, 0.5);
}
/* line 283, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #four .views-field-path h3 {
  font-family: magistral, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
/* line 288, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #four .views-field-path h3 a {
  color: #ffffff !important;
}
/* line 290, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #four .views-field-path h3 p {
  margin: 0;
}
/* line 292, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #four .views-field-field-tags {
  bottom: 35px;
  margin: 0px 10px;
}
/* line 295, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #four .views-field-field-tags a {
  padding: 2px 3px;
  font-size: 10px;
}
/* line 298, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #four .views-field-published-at {
  bottom: 50px;
  font-family: magistral, sans-serif;
  font-size: 11px;
  color: #ffffff;
  margin: 0px 10px;
}
/* line 304, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #four .views-field-published-at span::before {
  content: url("/sites/all/themes/alapjarat_theme_2019/images/clock_w.png");
  margin-right: 5px;
  vertical-align: top;
}
/* line 308, ../sass/my_style.sass */
.panels-flexible-region-first.first-block #four .views-field-field-tags, .panels-flexible-region-first.first-block #four .views-field-published-at {
  position: relative;
  height: 0px;
}

/* line 313, ../sass/my_style.sass */
.main-center {
  width: 100%;
}
/* line 315, ../sass/my_style.sass */
.main-center .panels-flexible-row-inside {
  max-width: 1115px;
  margin: auto;
}
/* line 318, ../sass/my_style.sass */
.main-center .main-content {
  width: 65.5%;
}
/* line 322, ../sass/my_style.sass */
.main-center .right-bar {
  width: 34.5%;
  padding-left: 30px;
  padding-top: 47px;
}
/* line 326, ../sass/my_style.sass */
.main-center .right-bar .banner {
  width: 300px;
  height: 250px;
}
/* line 329, ../sass/my_style.sass */
.main-center .right-bar #banner2-in-article {
  height: 600px;
}
/* line 331, ../sass/my_style.sass */
.main-center .right-bar .pane-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: solid 2px #333332;
  display: block;
  margin-bottom: 20px;
}
/* line 339, ../sass/my_style.sass */
.main-center .right-bar .panel-pane {
  margin-bottom: 40px;
}
/* line 341, ../sass/my_style.sass */
.main-center .right-bar #right-top-5 {
  background-color: #F7F7F7;
  border: dashed 2px #e6e6e6;
}
/* line 344, ../sass/my_style.sass */
.main-center .right-bar #right-top-5 .view-header {
  max-width: 310px;
  margin: auto;
  margin-top: -15px;
}
/* line 348, ../sass/my_style.sass */
.main-center .right-bar #right-top-5 .view-header p {
  display: inline-block;
  font-size: 14px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #333332;
  padding: 5px 10px;
  margin-bottom: 20px;
}
/* line 357, ../sass/my_style.sass */
.main-center .right-bar #right-top-5 .views-row {
  max-width: 310px;
  margin: auto;
  margin-bottom: 20px;
}
/* line 361, ../sass/my_style.sass */
.main-center .right-bar #right-top-5 .views-row .views-field-published-at {
  margin-top: 10px;
}
/* line 364, ../sass/my_style.sass */
.main-center .right-bar #archive li {
  list-style: none;
  font-size: 14px;
  padding-bottom: 15px;
}
/* line 369, ../sass/my_style.sass */
.main-center .right-bar #event .views-row {
  padding: 10px 0px;
  background-color: #ffffff;
  margin: 0px;
  border-bottom: dashed 2px #e6e6e6;
}
/* line 374, ../sass/my_style.sass */
.main-center .right-bar #event .views-row:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
}
/* line 377, ../sass/my_style.sass */
.main-center .right-bar #event .views-row:first-child {
  padding-top: 0px;
}
/* line 379, ../sass/my_style.sass */
.main-center .right-bar #event ul {
  list-style-type: none;
  padding: 0px 4px;
  padding-left: 10px;
}
/* line 383, ../sass/my_style.sass */
.main-center .right-bar #event .No {
  border-left: solid 5px #333332;
}
/* line 385, ../sass/my_style.sass */
.main-center .right-bar #event .Yes {
  border-left: solid 5px #C72026;
}
/* line 387, ../sass/my_style.sass */
.main-center .right-bar #event .Yes a {
  color: #C72026 !important;
}
/* line 389, ../sass/my_style.sass */
.main-center .right-bar #event .time {
  font-family: magistral, sans-serif;
  font-size: 14px;
}
/* line 392, ../sass/my_style.sass */
.main-center .right-bar #event .time::before {
  content: url("/sites/all/themes/alapjarat_theme_2019/images/clock.png");
  margin-right: 5px;
  vertical-align: sub;
}
/* line 396, ../sass/my_style.sass */
.main-center .right-bar #event a {
  font-size: 16px;
  font-family: magistral, sans-serif;
  font-weight: 500;
}

/* line 402, ../sass/my_style.sass */
.front-page, .right-bar {
  padding-top: 20px;
}
/* line 404, ../sass/my_style.sass */
.front-page .views-row, .right-bar .views-row {
  margin-bottom: 20px;
  background-color: #F8F8F8;
  padding-bottom: 10px;
}
/* line 408, ../sass/my_style.sass */
.front-page .views-field-published-at, .right-bar .views-field-published-at {
  line-height: 18px;
}
/* line 410, ../sass/my_style.sass */
.front-page .views-field-published-at span, .right-bar .views-field-published-at span {
  font-size: 14px;
  font-family: magistral, sans-serif;
  font-weight: 300;
}
/* line 414, ../sass/my_style.sass */
.front-page .views-field-published-at span::before, .right-bar .views-field-published-at span::before {
  content: url("/sites/all/themes/alapjarat_theme_2019/images/clock.png");
  margin-right: 5px;
  vertical-align: sub;
}
/* line 419, ../sass/my_style.sass */
.front-page .views-field-path p, .right-bar .views-field-path p {
  margin: 0px;
}
/* line 421, ../sass/my_style.sass */
.front-page .views-field-path h3, .right-bar .views-field-path h3 {
  margin: 0px;
  margin-top: 3px;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}
/* line 428, ../sass/my_style.sass */
.front-page .views-field-field-subtitled p, .right-bar .views-field-field-subtitled p {
  margin: 0px;
  font-size: 14px;
  line-height: 20px;
}
/* line 432, ../sass/my_style.sass */
.front-page .views-field-field-tags, .right-bar .views-field-field-tags {
  clear: both;
  padding-top: 10px;
}
/* line 435, ../sass/my_style.sass */
.front-page .views-field-field-tags a, .right-bar .views-field-field-tags a {
  font-size: 12px;
  padding: 5px 7px;
  color: #ffffff !important;
  line-height: 30px;
}
/* line 440, ../sass/my_style.sass */
.front-page .view-header, .right-bar .view-header {
  clear: both;
}
/* line 442, ../sass/my_style.sass */
.front-page .view-header ul, .right-bar .view-header ul {
  border-bottom: solid 2px #333332;
  margin-bottom: 30px;
  padding-top: 25px;
}
/* line 446, ../sass/my_style.sass */
.front-page .view-header li, .right-bar .view-header li {
  display: inline-block;
  vertical-align: top;
}
/* line 449, ../sass/my_style.sass */
.front-page .view-header li h3, .right-bar .view-header li h3 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
/* line 455, ../sass/my_style.sass */
.front-page .view-header li.text, .right-bar .view-header li.text {
  float: right;
  font-size: 12px;
  text-decoration: initial;
  font-weight: 300;
}
/* line 461, ../sass/my_style.sass */
.front-page .helpful-info .view-header, .right-bar .helpful-info .view-header {
  width: 208.5%;
  clear: both;
}
/* line 464, ../sass/my_style.sass */
.front-page .helpful-info.small, .right-bar .helpful-info.small {
  margin-top: 88px;
}
/* line 466, ../sass/my_style.sass */
.front-page .a-1, .front-page .a-2, .right-bar .a-1, .right-bar .a-2 {
  width: 50%;
  float: left;
}
/* line 469, ../sass/my_style.sass */
.front-page .a-1, .right-bar .a-1 {
  padding-right: 15px;
}
/* line 471, ../sass/my_style.sass */
.front-page .a-2, .right-bar .a-2 {
  padding-left: 15px;
}
/* line 474, ../sass/my_style.sass */
.front-page .big .views-field-published-at, .front-page .big .views-field-path, .front-page .big .views-field-field-tags, .front-page .big .views-field-field-subtitled, .right-bar .big .views-field-published-at, .right-bar .big .views-field-path, .right-bar .big .views-field-field-tags, .right-bar .big .views-field-field-subtitled {
  margin: 0px 10px;
  margin-top: 10px;
}
/* line 477, ../sass/my_style.sass */
.front-page .big .views-field-field-tags, .right-bar .big .views-field-field-tags {
  margin-top: 0px;
}
/* line 479, ../sass/my_style.sass */
.front-page .big .views-field-path, .right-bar .big .views-field-path {
  margin-top: 7px;
  height: 46px;
}
/* line 482, ../sass/my_style.sass */
.front-page .big .views-field-path h3, .right-bar .big .views-field-path h3 {
  line-height: 24px;
}
/* line 484, ../sass/my_style.sass */
.front-page .big.many, .right-bar .big.many {
  clear: both;
}
/* line 486, ../sass/my_style.sass */
.front-page .big.many .views-row, .right-bar .big.many .views-row {
  margin-bottom: 25px;
}
/* line 489, ../sass/my_style.sass */
.front-page .small .views-row, .right-bar .small .views-row {
  padding: 10px;
}
/* line 491, ../sass/my_style.sass */
.front-page .small .views-field-field-image, .right-bar .small .views-field-field-image {
  float: left;
}
/* line 493, ../sass/my_style.sass */
.front-page .small .views-field-published-at, .right-bar .small .views-field-published-at {
  vertical-align: top;
}
/* line 495, ../sass/my_style.sass */
.front-page .small .views-field-published-at, .front-page .small .views-field-path, .right-bar .small .views-field-published-at, .right-bar .small .views-field-path {
  margin-left: 155px;
}
/* line 497, ../sass/my_style.sass */
.front-page .small .views-field-path, .right-bar .small .views-field-path {
  height: 57px;
}
/* line 500, ../sass/my_style.sass */
.front-page .many .views-row, .right-bar .many .views-row {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}
/* line 504, ../sass/my_style.sass */
.front-page .many .views-row-2, .front-page .many .views-row-4, .front-page .many .views-row-6, .front-page .many .views-row-8, .right-bar .many .views-row-2, .right-bar .many .views-row-4, .right-bar .many .views-row-6, .right-bar .many .views-row-8 {
  margin-left: 11.5px;
}
/* line 506, ../sass/my_style.sass */
.front-page .many .views-row-1, .front-page .many .views-row-3, .front-page .many .views-row-5, .front-page .many .views-row-7, .right-bar .many .views-row-1, .right-bar .many .views-row-3, .right-bar .many .views-row-5, .right-bar .many .views-row-7 {
  margin-right: 11.5px;
}

/* line 510, ../sass/my_style.sass */
.node_pane.article {
  background-color: #F8F8F8;
  padding-top: 20px;
}
/* line 513, ../sass/my_style.sass */
.node_pane.article .panel-pane {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 519, ../sass/my_style.sass */
.node_pane .background-none {
  background-color: white;
}
/* line 522, ../sass/my_style.sass */
.node_pane .view-header .pane-title-2 {
  font-size: 40px;
  font-family: magistral, sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
}
/* line 527, ../sass/my_style.sass */
.node_pane .pane-node-title {
  border-bottom: #C72026 solid 2px;
  margin-bottom: 20px;
}
/* line 530, ../sass/my_style.sass */
.node_pane .pane-node-title .pane-content {
  color: white;
  font-size: 14px;
  background-color: #C72026;
  display: inline-block;
  padding: 6px 11px;
}
/* line 536, ../sass/my_style.sass */
.node_pane .background-none.panel-pane, .node_pane #fb-like-share.panel-pane {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 539, ../sass/my_style.sass */
.node_pane #youtube.panel-pane {
  padding-right: 0px;
}
/* line 541, ../sass/my_style.sass */
.node_pane ul, .node_pane ol {
  margin-left: 30px;
  margin-bottom: 25px;
}
/* line 544, ../sass/my_style.sass */
.node_pane ul li, .node_pane ol li {
  margin-bottom: 15px;
  display: flex;
  min-width: 90%;
}
/* line 548, ../sass/my_style.sass */
.node_pane ul li p, .node_pane ol li p {
  margin: 0px;
}
/* line 550, ../sass/my_style.sass */
.node_pane ul {
  list-style: none;
}
/* line 552, ../sass/my_style.sass */
.node_pane ul li::before {
  content: "●";
  color: #C72026;
  display: inline-block;
  width: auto;
  margin-right: 20px;
}
/* line 558, ../sass/my_style.sass */
.node_pane ol {
  list-style: none;
  counter-reset: li;
}
/* line 561, ../sass/my_style.sass */
.node_pane ol li::before {
  content: counter(li);
  color: #C72026;
  display: inline-block;
  min-width: 15px;
  margin-right: 20px;
  font-weight: bold;
}
/* line 568, ../sass/my_style.sass */
.node_pane ol li {
  counter-increment: li;
}
/* line 570, ../sass/my_style.sass */
.node_pane h1 {
  margin: 0px;
  font-family: magistral, sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
}
/* line 576, ../sass/my_style.sass */
.node_pane h1 p {
  margin: 0px;
  padding: 20px 0px;
}
/* line 579, ../sass/my_style.sass */
.node_pane h3 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 25px;
  font-size: 30px !important;
  font-weight: 300;
  font-family: magistral, sans-serif;
}
/* line 586, ../sass/my_style.sass */
.node_pane h3 span {
  font-size: 30px !important;
  font-weight: 300;
  font-family: magistral, sans-serif;
}
/* line 590, ../sass/my_style.sass */
.node_pane h4 {
  margin-top: 0px;
}
/* line 592, ../sass/my_style.sass */
.node_pane h4 span {
  margin-top: 0px;
  font-size: 18px !important;
}
/* line 595, ../sass/my_style.sass */
.node_pane a {
  text-decoration: underline;
  color: #C72026 !important;
}
/* line 598, ../sass/my_style.sass */
.node_pane blockquote {
  padding: 31px 27px;
  margin: 0 0 20px;
  border-left: 7px solid #333332;
  background: #FCFCFC;
}
/* line 603, ../sass/my_style.sass */
.node_pane blockquote p {
  font-size: 18px !important;
  margin: 0;
  font-style: italic;
}
/* line 607, ../sass/my_style.sass */
.node_pane figure {
  margin: 0 !important;
}
/* line 609, ../sass/my_style.sass */
.node_pane figcaption {
  margin-top: 5px;
  font-size: 16px;
  border-left: 7px solid #C72026;
  padding: 5px 27px;
  font-weight: 300;
  line-height: 24px;
  font-style: italic;
  text-align: left;
  margin-bottom: -7px;
}
/* line 619, ../sass/my_style.sass */
.node_pane #youtube {
  float: left;
  clear: both;
  height: 24px;
  margin-top: 4px;
  margin-right: 5px;
}
/* line 625, ../sass/my_style.sass */
.node_pane #fb-like-share {
  float: left;
  margin-top: 2px;
}
/* line 628, ../sass/my_style.sass */
.node_pane #fb-save {
  float: right;
}
/* line 630, ../sass/my_style.sass */
.node_pane .tabs.primary.clearfix {
  margin-left: 0;
}
/* line 632, ../sass/my_style.sass */
.node_pane .field-name-field-picture {
  float: left;
}
/* line 634, ../sass/my_style.sass */
.node_pane .field-name-field-picture img {
  border-radius: 20px;
  margin-right: 10px;
}
/* line 638, ../sass/my_style.sass */
.node_pane .pane-node-field-published .field-items {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 642, ../sass/my_style.sass */
.node_pane .pane-node-field-published .field-items a {
  color: #333332 !important;
  text-decoration: none;
}
/* line 645, ../sass/my_style.sass */
.node_pane .pane-node-published {
  font-size: 12px;
  padding-bottom: 40px;
}
/* line 648, ../sass/my_style.sass */
.node_pane .pane-node-published .pane-content {
  display: inline-block;
}
/* line 650, ../sass/my_style.sass */
.node_pane .field-label {
  font-weight: normal;
}
/* line 653, ../sass/my_style.sass */
.node_pane .pane-node-field-tags .field-items {
  display: inline-flex;
}
/* line 655, ../sass/my_style.sass */
.node_pane .pane-node-field-tags .field-item {
  margin-right: 6px;
}
/* line 657, ../sass/my_style.sass */
.node_pane .pane-node-field-tags .field-item a {
  font-size: 14px;
  padding: 6px 11px;
  color: white !important;
  text-decoration: none;
}
/* line 662, ../sass/my_style.sass */
.node_pane .pane-node-field-tags .field-item a:hover {
  text-decoration: none;
}
/* line 665, ../sass/my_style.sass */
.node_pane .pane-node-field-subtitled h2 {
  clear: both;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
/* line 674, ../sass/my_style.sass */
.node_pane #alapjarat-article.pane-node-field-text p, .node_pane #alapjarat-article.pane-node-field-text span, .node_pane #alapjarat-article.pane-node-field-text ul, .node_pane #alapjarat-article.pane-node-field-text ol {
  font-size: 18px !important;
  font-family: Montserrat !important;
}
/* line 678, ../sass/my_style.sass */
.node_pane #alapjarat-article.pane-node-field-text ul li a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}
/* line 683, ../sass/my_style.sass */
.node_pane #alapjarat-article.pane-node-field-text img {
  padding: 5px 0;
}
/* line 685, ../sass/my_style.sass */
.node_pane #alapjarat-article.pane-node-field-text iframe {
  max-width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}
/* line 690, ../sass/my_style.sass */
.node_pane .pane-node-field-source {
  padding-top: 15px;
}
/* line 692, ../sass/my_style.sass */
.node_pane .pane-node-field-source .pane-title {
  font-size: 18px;
  font-family: magistral, sans-serif;
}
/* line 695, ../sass/my_style.sass */
.node_pane .pane-node-field-source .even {
  margin-top: 10px;
}
/* line 697, ../sass/my_style.sass */
.node_pane .pane-node-field-source p {
  display: list-item;
  font-size: 16px !important;
  margin: 0;
  margin-left: 45px;
  padding-bottom: 10px;
  font-family: magistral, sans-serif;
}
/* line 704, ../sass/my_style.sass */
.node_pane .pane-node-field-source a {
  margin-left: 10px;
  color: #C72026 !important;
  text-decoration: none;
}
/* line 709, ../sass/my_style.sass */
.node_pane #article4 h4 {
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: solid 2px #333332;
  margin: 0px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  padding-top: 45px;
}
/* line 717, ../sass/my_style.sass */
.node_pane #article4 p {
  margin: 0;
}
/* line 719, ../sass/my_style.sass */
.node_pane #article4 .views-row {
  width: 47.5%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 40px;
}
/* line 724, ../sass/my_style.sass */
.node_pane #article4 .views-row-1, .node_pane #article4 .views-row-3 {
  margin-right: 3.8%;
}
/* line 726, ../sass/my_style.sass */
.node_pane #article4 .views-field-published-at, .node_pane #article4 .views-field-path, .node_pane #article4 .views-field-field-subtitled, .node_pane #article4 .views-field-field-tags {
  padding: 5px 10px;
}
/* line 728, ../sass/my_style.sass */
.node_pane #article4 .views-field-published-at {
  padding-top: 5px;
}
/* line 730, ../sass/my_style.sass */
.node_pane #article4 .views-field-published-at span {
  font-size: 14px;
  font-family: magistral, sans-serif;
  font-weight: 300;
}
/* line 734, ../sass/my_style.sass */
.node_pane #article4 .views-field-published-at span::before {
  content: url("/sites/all/themes/alapjarat_theme_2019/images/clock.png");
  margin-right: 5px;
  vertical-align: sub;
}
/* line 739, ../sass/my_style.sass */
.node_pane #article4 .views-field-path a {
  font-weight: bold;
  text-decoration: none;
  color: #333332 !important;
}
/* line 743, ../sass/my_style.sass */
.node_pane #article4 .views-field-path a:hover {
  text-decoration: none;
  color: #C72026 !important;
}
/* line 747, ../sass/my_style.sass */
.node_pane #article4 .views-field-field-subtitled p {
  font-size: 14px;
}
/* line 750, ../sass/my_style.sass */
.node_pane #article4 .views-field-field-tags a {
  font-size: 12px;
  padding: 5px 7px;
  color: white !important;
  text-decoration: none;
}
/* line 755, ../sass/my_style.sass */
.node_pane .pane-node-field-tagsa {
  clear: both;
  padding-bottom: 60px;
  padding-top: 15px;
}
/* line 759, ../sass/my_style.sass */
.node_pane .pane-node-field-tagsa .pane-title {
  float: left;
}
/* line 762, ../sass/my_style.sass */
.node_pane .pane-node-field-tagsa .field-item a {
  float: left;
  padding-left: 10px;
  color: #C72026 !important;
  text-decoration: none;
}
/* line 767, ../sass/my_style.sass */
.node_pane .pane-node-field-tagsa .field-item a::before {
  content: "#";
  font-style: italic;
}
/* line 770, ../sass/my_style.sass */
.node_pane .pane-node-field-tagsa .pane-title, .node_pane .pane-node-field-tagsa .field-item a {
  font-size: 16px;
  font-family: magistral, sans-serif;
}
/* line 773, ../sass/my_style.sass */
.node_pane #article-banner {
  max-width: 640px;
  height: 360px;
  margin-bottom: 40px;
}

/* line 779, ../sass/my_style.sass */
.node_pane.pages {
  padding-top: 40px;
}

/* line 783, ../sass/my_style.sass */
.node_pane.impress {
  padding-top: 40px;
}
/* line 785, ../sass/my_style.sass */
.node_pane.impress a {
  text-decoration: none;
  color: #333332 !important;
}
/* line 788, ../sass/my_style.sass */
.node_pane.impress .view-content {
  padding-top: 55px;
}
/* line 790, ../sass/my_style.sass */
.node_pane.impress .views-row {
  padding-bottom: 75px;
}
/* line 792, ../sass/my_style.sass */
.node_pane.impress .views-row p {
  margin: 0px;
  padding-top: 15px;
}
/* line 795, ../sass/my_style.sass */
.node_pane.impress .views-row .left {
  float: left;
  padding-right: 30px;
}
/* line 798, ../sass/my_style.sass */
.node_pane.impress .views-row .views-field-nothing {
  min-height: 331px;
}
/* line 800, ../sass/my_style.sass */
.node_pane.impress .views-row .title-link {
  height: 38px;
}
/* line 802, ../sass/my_style.sass */
.node_pane.impress .views-row .title {
  font-family: magistral, sans-serif;
  font-size: 30px;
  font-weight: bold;
}
/* line 806, ../sass/my_style.sass */
.node_pane.impress .views-row .link {
  float: right;
  padding-top: 10px;
}
/* line 809, ../sass/my_style.sass */
.node_pane.impress .views-row .status {
  font-family: magistral, sans-serif;
  color: #C72026 !important;
}
/* line 812, ../sass/my_style.sass */
.node_pane.impress .views-row .e-mail {
  background-color: white;
  width: 255px;
  text-align: center;
  padding: 15px 0px;
  margin-top: 20px;
}
/* line 818, ../sass/my_style.sass */
.node_pane.impress .views-row .e-mail .button {
  color: #C72026 !important;
  font-weight: 600;
}
/* line 822, ../sass/my_style.sass */
.node_pane.impress .impress-else .view-header {
  font-size: 26px;
  font-family: magistral, sans-serif;
}
/* line 825, ../sass/my_style.sass */
.node_pane.impress .impress-else .view-content {
  padding-top: 15px;
  padding-bottom: 55px;
}
/* line 828, ../sass/my_style.sass */
.node_pane.impress .impress-else .views-row {
  padding-bottom: 0;
}
/* line 830, ../sass/my_style.sass */
.node_pane.impress .impress-else .field-content {
  display: list-item;
  margin-left: 40px;
}

/* line 835, ../sass/my_style.sass */
.menu-footer {
  background-color: #C72026;
  padding: 35px 0px !important;
}
/* line 838, ../sass/my_style.sass */
.menu-footer .panels-flexible-row-inside {
  max-width: 1115px;
  margin: auto;
}
/* line 841, ../sass/my_style.sass */
.menu-footer .pane-title {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}
/* line 846, ../sass/my_style.sass */
.menu-footer a {
  color: #ffffff !important;
  font-size: 14px;
}
/* line 849, ../sass/my_style.sass */
.menu-footer li {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 22px;
}
/* line 854, ../sass/my_style.sass */
.menu-footer .pane-content {
  padding-top: 10px;
}
/* line 856, ../sass/my_style.sass */
.menu-footer .view-content {
  padding-top: 15px;
}
/* line 859, ../sass/my_style.sass */
.menu-footer #partners .views-row {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}
/* line 863, ../sass/my_style.sass */
.menu-footer #partners .pane-content {
  padding-top: 0;
}
/* line 865, ../sass/my_style.sass */
.menu-footer #partners .pane-content img {
  opacity: 0.3;
}
/* line 867, ../sass/my_style.sass */
.menu-footer .link {
  display: block;
  text-transform: uppercase;
  line-height: 22px;
}
/* line 871, ../sass/my_style.sass */
.menu-footer .mail {
  margin-bottom: 10px;
}
/* line 873, ../sass/my_style.sass */
.menu-footer .mail, .menu-footer .tel {
  display: block;
  line-height: 23px;
}
/* line 876, ../sass/my_style.sass */
.menu-footer .tel::before, .menu-footer .mail::before {
  vertical-align: middle;
  margin-right: 10px;
}
/* line 879, ../sass/my_style.sass */
.menu-footer .tel::before {
  content: url("/sites/all/themes/alapjarat_theme_2019/images/phone.png");
}
/* line 881, ../sass/my_style.sass */
.menu-footer .mail::before {
  content: url("/sites/all/themes/alapjarat_theme_2019/images/email.png");
}
/* line 883, ../sass/my_style.sass */
.menu-footer .popular-tags {
  width: 17%;
  margin-right: 6%;
}
/* line 886, ../sass/my_style.sass */
.menu-footer .calculator {
  width: 23%;
  margin-right: 6%;
}
/* line 889, ../sass/my_style.sass */
.menu-footer .car-partner {
  width: 27.5%;
  margin-right: 5.5%;
}
/* line 892, ../sass/my_style.sass */
.menu-footer .connection {
  width: 15%;
}

/* line 894, ../sass/my_style.sass */
.my-footer {
  background-color: #C72026;
  padding: 15px 0px !important;
}
/* line 897, ../sass/my_style.sass */
.my-footer .panels-flexible-row-inside {
  max-width: 1115px;
  margin: auto;
}
/* line 900, ../sass/my_style.sass */
.my-footer li {
  display: inline-block;
  font-size: 14px;
  color: #8C181B;
}
/* line 904, ../sass/my_style.sass */
.my-footer .copyright {
  width: 65%;
}
/* line 906, ../sass/my_style.sass */
.my-footer .social-media-menu {
  width: 35%;
}
/* line 908, ../sass/my_style.sass */
.my-footer .right {
  float: right;
}
/* line 910, ../sass/my_style.sass */
.my-footer .left {
  float: left;
}
/* line 913, ../sass/my_style.sass */
.my-footer #social-media .views-row {
  display: inline-block;
  margin-left: 10px;
}
/* line 916, ../sass/my_style.sass */
.my-footer #social-media .view-content {
  display: inline-block;
  float: right;
}

/* line 922, ../sass/my_style.sass */
.pager {
  float: left;
  border: 1px solid #ddd;
  padding-top: 0px !important;
  border-radius: 4px;
  margin-top: 40px !important;
  margin-bottom: 20px !important;
}
/* line 923, ../sass/my_style.sass */
.pager .first {
  width: auto;
}
/* line 931, ../sass/my_style.sass */
.pager a {
  padding: 5px 10px;
}
/* line 933, ../sass/my_style.sass */
.pager li {
  padding: 0px !important;
  display: inline-flex !important;
  border-right: solid 1px #ddd;
}
/* line 937, ../sass/my_style.sass */
.pager li:hover {
  background: #EBE9E9;
}
/* line 939, ../sass/my_style.sass */
.pager li.pager-first, .pager li.pager-current.first {
  border-radius: 4px 0 0 4px;
}
/* line 941, ../sass/my_style.sass */
.pager li.pager-current.last {
  border-radius: 0 4px 4px 0;
}
/* line 943, ../sass/my_style.sass */
.pager li.pager-last.last {
  border-right: 0px;
}
/* line 945, ../sass/my_style.sass */
.pager .pager-current {
  background: #d82222;
  padding: 5px 10px !important;
}
/* line 948, ../sass/my_style.sass */
.pager .pager-ellipsis {
  padding: 5px 10px !important;
}

/* line 952, ../sass/my_style.sass */
.editor-menu {
  background: black;
  width: 86%;
}

/* line 955, ../sass/my_style.sass */
.user_name {
  width: 14%;
  background: black;
}

/* line 958, ../sass/my_style.sass */
#user_name {
  float: right;
}

/* line 960, ../sass/my_style.sass */
#my_admin_menu, #user_name {
  padding: 10px 5px;
}
/* line 962, ../sass/my_style.sass */
#my_admin_menu p, #user_name p {
  color: white !important;
  margin: 0;
  background: red;
  border-radius: 10px;
  padding: 0px 5px;
  width: -moz-fit-content;
}
/* line 969, ../sass/my_style.sass */
#my_admin_menu ul li.leaf, #user_name ul li.leaf {
  display: inline;
}
/* line 971, ../sass/my_style.sass */
#my_admin_menu ul li.leaf a, #user_name ul li.leaf a {
  color: white !important;
}
/* line 973, ../sass/my_style.sass */
#my_admin_menu ul li.leaf a:hover, #user_name ul li.leaf a:hover {
  color: red !important;
}

/* line 977, ../sass/my_style.sass */
.pane-term-name, #media_title {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0px 15px;
}

/* line 982, ../sass/my_style.sass */
.pane-term-description, .views-field-description {
  margin-top: 15px;
  padding: 0px 15px;
  font-size: 16px;
}
/* line 986, ../sass/my_style.sass */
.pane-term-description p, .views-field-description p {
  margin: 0px !important;
}

/* line 990, ../sass/my_style.sass */
.header h1, .header .pane-title, .header .view-header h1, .header .views-field-name, .header .view-header p, .view-id-search_api_search h1, .view-id-search_api_search .pane-title, .view-id-search_api_search .view-header h1, .view-id-search_api_search .views-field-name, .view-id-search_api_search .view-header p, .view-id-glossary_list h1, .view-id-glossary_list .pane-title, .view-id-glossary_list .view-header h1, .view-id-glossary_list .views-field-name, .view-id-glossary_list .view-header p {
  line-height: 1.1;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 36px;
  font-family: montserrat, sans-serif;
}
/* line 996, ../sass/my_style.sass */
.header .pane-title, .view-id-search_api_search .pane-title, .view-id-glossary_list .pane-title {
  float: left;
  margin-right: 10px;
}
/* line 999, ../sass/my_style.sass */
.header .view-header, .view-id-search_api_search .view-header, .view-id-glossary_list .view-header {
  margin-top: 20px;
}

/* line 1002, ../sass/my_style.sass */
#article-header-banner {
  margin-bottom: 15px;
}

/* line 1005, ../sass/my_style.sass */
#category, #archive_list, #media, #published, #tag, #menu_pane, .view-id-search_api_search, .view-id-glossary_list {
  padding: 0px 15px !important;
  padding-bottom: 15px !important;
}
/* line 1008, ../sass/my_style.sass */
#category p, #archive_list p, #media p, #published p, #tag p, #menu_pane p, .view-id-search_api_search p, .view-id-glossary_list p {
  margin: 0 !important;
}
/* line 1010, ../sass/my_style.sass */
#category .views-row-1, #archive_list .views-row-1, #media .views-row-1, #published .views-row-1, #tag .views-row-1, #menu_pane .views-row-1, .view-id-search_api_search .views-row-1, .view-id-glossary_list .views-row-1 {
  border-top: 1px solid #eee;
  margin-top: 20px;
}
/* line 1013, ../sass/my_style.sass */
#category .views-field-path, #category .views-field-nid, #archive_list .views-field-path, #archive_list .views-field-nid, #media .views-field-path, #media .views-field-nid, #published .views-field-path, #published .views-field-nid, #tag .views-field-path, #tag .views-field-nid, #menu_pane .views-field-path, #menu_pane .views-field-nid, .view-id-search_api_search .views-field-path, .view-id-search_api_search .views-field-nid, .view-id-glossary_list .views-field-path, .view-id-glossary_list .views-field-nid {
  clear: both;
  padding-top: 30px;
  margin-bottom: 5px;
}
/* line 1017, ../sass/my_style.sass */
#category .views-field-path h3, #category .views-field-nid h3, #archive_list .views-field-path h3, #archive_list .views-field-nid h3, #media .views-field-path h3, #media .views-field-nid h3, #published .views-field-path h3, #published .views-field-nid h3, #tag .views-field-path h3, #tag .views-field-nid h3, #menu_pane .views-field-path h3, #menu_pane .views-field-nid h3, .view-id-search_api_search .views-field-path h3, .view-id-search_api_search .views-field-nid h3, .view-id-glossary_list .views-field-path h3, .view-id-glossary_list .views-field-nid h3 {
  margin: 0;
  font-size: 36px;
}
/* line 1020, ../sass/my_style.sass */
#category .views-field-path h3 a, #category .views-field-nid h3 a, #archive_list .views-field-path h3 a, #archive_list .views-field-nid h3 a, #media .views-field-path h3 a, #media .views-field-nid h3 a, #published .views-field-path h3 a, #published .views-field-nid h3 a, #tag .views-field-path h3 a, #tag .views-field-nid h3 a, #menu_pane .views-field-path h3 a, #menu_pane .views-field-nid h3 a, .view-id-search_api_search .views-field-path h3 a, .view-id-search_api_search .views-field-nid h3 a, .view-id-glossary_list .views-field-path h3 a, .view-id-glossary_list .views-field-nid h3 a {
  line-height: 40px;
}
/* line 1022, ../sass/my_style.sass */
#category .views-label-field-published, #category .views-field-field-published .field-content, #category .views-label-field-tags, #category .views-field-field-tags .field-content, #archive_list .views-label-field-published, #archive_list .views-field-field-published .field-content, #archive_list .views-label-field-tags, #archive_list .views-field-field-tags .field-content, #media .views-label-field-published, #media .views-field-field-published .field-content, #media .views-label-field-tags, #media .views-field-field-tags .field-content, #published .views-label-field-published, #published .views-field-field-published .field-content, #published .views-label-field-tags, #published .views-field-field-tags .field-content, #tag .views-label-field-published, #tag .views-field-field-published .field-content, #tag .views-label-field-tags, #tag .views-field-field-tags .field-content, #menu_pane .views-label-field-published, #menu_pane .views-field-field-published .field-content, #menu_pane .views-label-field-tags, #menu_pane .views-field-field-tags .field-content, .view-id-search_api_search .views-label-field-published, .view-id-search_api_search .views-field-field-published .field-content, .view-id-search_api_search .views-label-field-tags, .view-id-search_api_search .views-field-field-tags .field-content, .view-id-glossary_list .views-label-field-published, .view-id-glossary_list .views-field-field-published .field-content, .view-id-glossary_list .views-label-field-tags, .view-id-glossary_list .views-field-field-tags .field-content {
  float: left;
  padding: 10px 0px;
}
/* line 1025, ../sass/my_style.sass */
#category .views-label-field-published, #archive_list .views-label-field-published, #media .views-label-field-published, #published .views-label-field-published, #tag .views-label-field-published, #menu_pane .views-label-field-published, .view-id-search_api_search .views-label-field-published, .view-id-glossary_list .views-label-field-published {
  padding-left: 10px;
}
/* line 1027, ../sass/my_style.sass */
#category .views-field-field-published .field-content, #archive_list .views-field-field-published .field-content, #media .views-field-field-published .field-content, #published .views-field-field-published .field-content, #tag .views-field-field-published .field-content, #menu_pane .views-field-field-published .field-content, .view-id-search_api_search .views-field-field-published .field-content, .view-id-glossary_list .views-field-field-published .field-content {
  margin-left: 3px;
  margin-right: 10px;
  font-weight: bold;
}
/* line 1031, ../sass/my_style.sass */
#category .views-label-field-tags, #archive_list .views-label-field-tags, #media .views-label-field-tags, #published .views-label-field-tags, #tag .views-label-field-tags, #menu_pane .views-label-field-tags, .view-id-search_api_search .views-label-field-tags, .view-id-glossary_list .views-label-field-tags {
  margin-right: 3px;
}
/* line 1033, ../sass/my_style.sass */
#category .views-field-published-at, #archive_list .views-field-published-at, #media .views-field-published-at, #published .views-field-published-at, #tag .views-field-published-at, #menu_pane .views-field-published-at, .view-id-search_api_search .views-field-published-at, .view-id-glossary_list .views-field-published-at {
  text-align: right;
  padding: 10px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px;
}
/* line 1039, ../sass/my_style.sass */
#category .views-field-published-at .field-content, #archive_list .views-field-published-at .field-content, #media .views-field-published-at .field-content, #published .views-field-published-at .field-content, #tag .views-field-published-at .field-content, #menu_pane .views-field-published-at .field-content, .view-id-search_api_search .views-field-published-at .field-content, .view-id-glossary_list .views-field-published-at .field-content {
  color: #d82222 !important;
}
/* line 1041, ../sass/my_style.sass */
#category .views-field-field-image, #archive_list .views-field-field-image, #media .views-field-field-image, #published .views-field-field-image, #tag .views-field-field-image, #menu_pane .views-field-field-image, .view-id-search_api_search .views-field-field-image, .view-id-glossary_list .views-field-field-image {
  float: left;
  padding: 0px 15px;
  width: 35%;
}
/* line 1045, ../sass/my_style.sass */
#category .views-field-field-subtitled, #archive_list .views-field-field-subtitled, #media .views-field-field-subtitled, #published .views-field-field-subtitled, #tag .views-field-field-subtitled, #menu_pane .views-field-field-subtitled, .view-id-search_api_search .views-field-field-subtitled, .view-id-glossary_list .views-field-field-subtitled {
  margin-left: 35%;
  font-size: 16px;
  margin-top: 3px;
}
/* line 1050, ../sass/my_style.sass */
#category .item-list ul, #archive_list .item-list ul, #media .item-list ul, #published .item-list ul, #tag .item-list ul, #menu_pane .item-list ul, .view-id-search_api_search .item-list ul, .view-id-glossary_list .item-list ul {
  padding-top: 40px;
  text-align: left;
}
/* line 1054, ../sass/my_style.sass */
#category .item-list ul li, #archive_list .item-list ul li, #media .item-list ul li, #published .item-list ul li, #tag .item-list ul li, #menu_pane .item-list ul li, .view-id-search_api_search .item-list ul li, .view-id-glossary_list .item-list ul li {
  margin: 0 !important;
}
/* line 1057, ../sass/my_style.sass */
#category ul.pager li.pager-item, #category ul.pager li.pager-current, #category ul.pager li.pager-next, #category ul.pager li.pager-last, #category ul.pager li.pager-previous, #category ul.pager li.pager-ellipsis, #archive_list ul.pager li.pager-item, #archive_list ul.pager li.pager-current, #archive_list ul.pager li.pager-next, #archive_list ul.pager li.pager-last, #archive_list ul.pager li.pager-previous, #archive_list ul.pager li.pager-ellipsis, #media ul.pager li.pager-item, #media ul.pager li.pager-current, #media ul.pager li.pager-next, #media ul.pager li.pager-last, #media ul.pager li.pager-previous, #media ul.pager li.pager-ellipsis, #published ul.pager li.pager-item, #published ul.pager li.pager-current, #published ul.pager li.pager-next, #published ul.pager li.pager-last, #published ul.pager li.pager-previous, #published ul.pager li.pager-ellipsis, #tag ul.pager li.pager-item, #tag ul.pager li.pager-current, #tag ul.pager li.pager-next, #tag ul.pager li.pager-last, #tag ul.pager li.pager-previous, #tag ul.pager li.pager-ellipsis, #menu_pane ul.pager li.pager-item, #menu_pane ul.pager li.pager-current, #menu_pane ul.pager li.pager-next, #menu_pane ul.pager li.pager-last, #menu_pane ul.pager li.pager-previous, #menu_pane ul.pager li.pager-ellipsis, .view-id-search_api_search ul.pager li.pager-item, .view-id-search_api_search ul.pager li.pager-current, .view-id-search_api_search ul.pager li.pager-next, .view-id-search_api_search ul.pager li.pager-last, .view-id-search_api_search ul.pager li.pager-previous, .view-id-search_api_search ul.pager li.pager-ellipsis, .view-id-glossary_list ul.pager li.pager-item, .view-id-glossary_list ul.pager li.pager-current, .view-id-glossary_list ul.pager li.pager-next, .view-id-glossary_list ul.pager li.pager-last, .view-id-glossary_list ul.pager li.pager-previous, .view-id-glossary_list ul.pager li.pager-ellipsis {
  margin-left: -4.3px !important;
}
/* line 1059, ../sass/my_style.sass */
#category ul.pager li.pager-current.first, #archive_list ul.pager li.pager-current.first, #media ul.pager li.pager-current.first, #published ul.pager li.pager-current.first, #tag ul.pager li.pager-current.first, #menu_pane ul.pager li.pager-current.first, .view-id-search_api_search ul.pager li.pager-current.first, .view-id-glossary_list ul.pager li.pager-current.first {
  margin-left: 0px !important;
}

/* line 1063, ../sass/my_style.sass */
.view-id-glossary_list .views-field-name {
  font-size: 16px;
  padding: 5px 0px !important;
}

/* line 1067, ../sass/my_style.sass */
#edit-submit-search-api-search {
  display: none;
}

/* line 1070, ../sass/my_style.sass */
#mini-panel-hamburger_menu {
  display: none;
}
