body::before
	background-image: none

body
	font-size: 14px
	font-family: open sans,sans-serif
	color: #333
	max-width: 1140px
	width: auto
	margin-left: auto
	margin-right: auto
	line-height: 1.42857143

h1, h2, h3, h4, h5, h6
	font-family: montserrat,sans-serif
	font-weight: 500
	margin-top: 20px
	margin-bottom: 10px
	padding: 0
h1
	font-size: 36px

h2
	font-size: 30px
h3
	font-size: 24px
h4
	margin-top: 10px 
	font-size: 18px

table
	margin: auto

.ckeditor_links a
	color: white

#mc_embed_signup form
	padding: 0 !important
	margin: 25px 0px 20px 0px
	p
		font-size: 16px
		font-weight: bold
		margin: 0 0 10px
	a
		font-size: 16px
		font-weight: bold
		line-height: 22px
	#mce-EMAIL, #mce-MMERGE2
		width: 100%
		max-width: 480px
		padding: 8px 16px
		text-indent: 0
		font-size: 16px
	#mce-MMERGE1-0
		margin-right: 8px
		height: 16px
	#mc-embedded-subscribe
		background-color: #d9534f !important
		border: solid 1px #b52b27
		border-radius: 0
		padding: 12px 17px
		height: auto
		line-height: normal
		color: white
	#mc-embedded-subscribe:hover
		background-color: #A83935 !important
	.mc-field-group
		width: 100%
		padding-bottom: 0

blockquote
	padding: 10px 20px
	margin: 0 0 20px
	border-left: 5px solid #C0C0C0
	background: #F2F2F2
	p
		font-size: 17.5px !important
		margin: 0
		font-style: italic

.youtube-embed-wrapper
	padding-top: 0px !important
	margin-bottom: 15px

.pager
	.first
		width: auto
	float: left
	border: 1px solid #ddd
	padding-top: 0px !important
	border-radius: 4px
	margin-top: 40px !important
	margin-bottom: 20px !important
	a
		padding: 5px 10px
	li
		padding: 0px !important
		display: inline-flex !important
		border-right: solid 1px #ddd
	li:hover
		background: #EBE9E9
	li.pager-first, li.pager-current.first
		border-radius: 4px 0 0 4px
	li.pager-current.last
		border-radius: 0 4px 4px 0
	li.pager-last.last
		border-right: 0px
	.pager-current
		background: #d82222
		padding: 5px 10px !important
	.pager-ellipsis
		padding: 5px 10px !important

#admin-menu
	a
		color: white !important

.panels-flexible-row.panels-flexible-row-2-main-row.panels-flexible-row-first.clearfix
	padding-bottom: 0px !important

div.panel-flexible.panels-flexible-1.clearfix
	//background-color: thistle
	//background: url("paper.jpeg")
	background-size: cover
	background-position: center

.panels-flexible-region
	width: auto

.inside.panels-flexible-region-inside
	padding: 0px

.panel-separator
	margin: 0px !important

a
	color: #d82222 !important

a:hover
	text-decoration: none

#time
	padding-top: 8px
	font-size: 13px
	font-weight: blod
	padding-left: 43px
	padding-bottom: 0

.panels-flexible-row-inside.panels-flexible-row-new-8-inside.panels-flexible-row-inside-first, .panels-flexible-row-inside.panels-flexible-row-28-8-inside.panels-flexible-row-inside-first
	background: black
	xmargin-top: 20px
	.panels-flexible-region-new-user, .panels-flexible-region-28-user
		float: right
	#my_admin_menu, #user_name
		padding: 10px 5px
		p
			color: white !important
			margin: 0
			background: red
			border-radius: 10px
			padding: 0px 5px
		ul li.leaf
			display: inline
			a
				color: white !important
			a:hover
				color: red !important

.social_menu
	width: 50%
	float: right
	#social_menu
		.social-media-links
			padding-right: 23px
		float: right
		padding-top: 8px
		img
			width: 17px
		ul.inline li
			padding: 0 4px
		.email, .rss
			img
				width: 0
		
.letterhead
	height: 127px
	padding: 0
	margim: 0
	.logo
		padding-top: 8.5px
		padding-left: 43px
	.letterhead_banner
		float: right
		width: auto
		padding-right: 36px

.second_menu
	width: 100%
	li.leaf
		display: inline
		a:hover
			text-decoration: none
		a.active, a
			color: #444 !important
	li.leaf.mid-398
		margin: 0
	#second_menu
		font-family: Montserrat
		color: #444
		font-size: 13px
		font-weight: bold
		border-bottom: 1px solid #EAEAEA
		margin-left: 42px
		margin-right: 42px
		margin-bottom: 5px
		margin-top: -5px
		padding-bottom: 5px

.main_menu
	background-color: #444
	border-top: 5px solid #d82222
	height: 45px
	padding: 0
	margin: 0
	#main_menu
		padding-left: 5px
		#ham-menu
			padding: 5px !important
		li.leaf
			display: inline
			padding: 0
			margin: 0
			a
				color: white !important
				text-decoration: none
				line-height: 40px
				padding: 11px 14px
				font-family: Montserrat
			a:hover
				background-color: white
				color: #444 !important
	.search
		float: right
		width: auto
		height: 40px
		#search
			input#edit-search-api-views-fulltext, input#edit-keys
				width: 166px
				height: 34px
				margin-top: 3px
				margin-right: 3px
		.views-exposed-form .views-exposed-widget
			float: right !important
			padding: 0 !important

.views-field-field-tags
	a
		color: white !important
		font-size: 12px
		padding: 3px
		background: #d82222
	a:hover
		text-decoration: none


.panels-flexible-region-first.first
	width: 100%
	#mini-panel-hamburger_menu
		background: #efefef
	.panels-flexible-region.panels-flexible-region-new-center.panels-flexible-region-first.panels-flexible-region-last
		width: 100%
	.view-header, #most_popular
		font-size: 18px
		p, .pane-title
			margin-bottom: 5px
			text-transform: uppercase
	#hamb-main-menu
		width: 0
		height: 0
		visibility: hidden
		.item-list ul li, ul li.leaf
			margin: 0 !important
			padding: 0
			list-style: none
	#most_popular
		margin-left: 2%
	#most_popular, #category_list
		width: 24%
		float: left
		padding: 15px 0
		padding-left: 1%
		.item-list ul li, ul li.leaf
			margin: 0 !important
			padding: 0
			list-style: none
		a
			font-size: 16px
			font-family: montserrat, sans-serif
			font-weight: 500
	#first5
		width: 50%
		float: left
		padding-top: 15px
		.view-content, .view-header
			margin-left: 5%
		.views-row
			min-height: 70px
			margin-bottom: 15px
		.views-field-field-image
			width: 25%
			float: left
		.views-field-path
			margin-left: 27%
			width: 60%
			h3
				font-size: 16px
				margin: 0
			p
				margin: 0
	#one, #four
		h3
			font-family: open sans,sans-serif
			margin: 0 
			a
				color: white !important
		p
			margin: 0 !important
		.views-field-field-image
			background: black
			img
				opacity: 0.7
		.views-field-created
			color: white
			font-size: 12px
	#one
		width: 50%
		float: left
		height: 360px
		.views-row
			position: relative
		.views-field-path
			position: absolute
			bottom: 40px
			margin-left: 10px
			margin-right: 10px
			h3
				font-size: 24px 
		.views-field-field-tags, .views-field-created
			position: relative
			bottom: 35px
			float: left
			margin-left: 10px
		.views-field-created
			bottom: 33px
	#four
		float: left
		width: 50%
		padding-left: 10px
		.views-row
			width: 50%
			float: left
			position: relative
			height: 175px
		.views-row-1, .views-row-3
			padding-right: 5px
		.views-row-2, .views-row-4
			padding-left: 5px
		.views-row-3, .views-row-4
			margin-top: 10px
		.views-field-path
			position: absolute
			bottom: 45px
			margin-left: 10px
			margin-right: 10px
			h3
				font-size: 16px
		.views-field-field-tags, .views-field-created
			position: relative
			bottom: 42px
			margin-left: 10px
		.views-field-created
			bottom: 40px	

.maincontent
	border-right: 1px solid #efefef
	border-left: 1px solid #efefef
	border-bottom: 1px solid black
	margin-top: -0.5em !important
	padding-bottom: 0 !important

.main_content
	width: 67%
	border-right: 1px solid #efefef
	.front_page_post
		padding: 15px !important
		padding-top: 20px !important
		width: 100%
		h3
			font-family: open sans,sans-serif 
			margin: 0
			font-weight: bold
			a
				color: #d82222 !important

		p
			margin: 0 !important
		.view-header
			h3
				font-size: 21px
				font-family: montserrat,sans-serif
				text-rendering: optimizelegibility
				font-weight: 500
				text-transform: uppercase
				border-bottom: 3px solid #161616
				margin-bottom: 10px
				padding-bottom: 5px 
				a
					color: #444 !important
				
		#helpful_info_a, #actual_A, #tech, #test
			clear: both
			.views-field-path
				margin-top: 10px
				h3
					font-size: 20px
		#helpful_info_b
			.views-field-field-image
				width: 45%
				float: left
			.views-field-path
				h3
					font-size: 16px
					font-family: montserrat,sans-serif
					font-weight: normal
			.views-field-field-tags, .views-field-created, .views-field-path
				margin-left: 45%
				margin-bottom: 3px
		#helpful_info_a, #helpful_info_b
			width: 50%
			float: left
			.views-field-field-image
				margin-top: 4px
		#helpful_info_a
			.view-header
				width: 200%
			.view-content
				padding-right: 15px
				padding-left: 15px
				padding-top: 4px
			.views-field-field-tags
				float: left
				margin-right: 10px
			.views-field-field-subtitled
				font-size: 16px
				margin-top: 5px
		#helpful_info_b
			padding-left: 25px
			padding-right: 15px
			padding-top: 49px
			.views-row
				margin-bottom: 25px
		#actual_A
			.views-row
				height: 320px
			.views-row-1, .views-row-2
				width: 50%
				padding-right: 15px
				padding-left: 15px
				float: left
			.views-field-field-image
				margin-top: 4px
			.views-field-field-tags
				float: left
				margin-right: 10px
		#actual_B
			.views-row
				width: 50%
				float: left
				height: 150px
				padding-right: 15px
				padding-left: 15px
			.views-field-field-image
				width: 45%
				float: left
				margin-top: 4px
			.views-field-path
				margin-left: 45%
				margin-bottom: 3px
				h3
					font-size: 16px
					font-family: montserrat,sans-serif
					font-weight: normal
			.views-field-field-tags, .views-field-created, .views-field-path
				margin-left: 45%
				margin-bottom: 3px
		#tech, #test
			.views-field-field-image
				margin-top: 4px
			.views-field-field-tags
				float: left
				margin-right: 10px
			.views-row
				width: 50%
				padding-right: 15px
				padding-left: 15px
				float: left
				height: 305px

.right
	width: 33%
	padding: 15px !important
	.banner .views-field-field-title, .pane-title, .view-header h3
		font-size: 21px
		color: #444 !important
		font-family: montserrat,sans-serif
		font-weight: 500
		text-transform: uppercase
		margin-bottom: 10px
	.pane-title, .view-header h3
		border-bottom: 3px solid #161616
		padding-bottom: 5px
	.banner
		clear: both
		.views-row
			margin-bottom: 40px
		iframe
			width: 100%
	#banner5
		padding-top: 30px
	#event
		.views-row
			margin-bottom: 15px
		.views-field-title
			font-size: 16px
			font-weight: bold
		.views-field-field-event-date
			font-size: 16px
		.views-label-field-facebook-event
			font-size: 16px
			color: #d82222
		.views-field-field-facebook-event
			.field-content
				a
					font-size: 16px
	#random_article
		.views-row
			clear: both
		.views-field-field-image
			width: 38%
			float: left
			margin-bottom: 10px
		.views-field-path
			margin-left: 38%
			h3
				font-size: 14px
				font-family: montserrat,sans-serif
				margin: 0
		.views-field-created
			padding: 5px 0
			margin-left: 38%
			border-bottom: 1px solid #efefef
	#archive
		ul
			list-style: none
			li
				padding: 10px 0
				border-bottom: 1px solid #efefef

.panels-flexible-region-1-footer_text_
	margin-bottom: -21px

.pane-term-name, #media_title
	margin-top: 20px
	margin-bottom: 10px
	padding: 0px 15px

.pane-term-description, .views-field-description
	margin-top: 15px
	padding: 0px 15px
	font-size: 16px
	p
		margin: 0px !important

.header, .view-id-search_api_search, .view-id-glossary_list
	h1, .pane-title, .view-header h1, .views-field-name, .view-header p
		line-height: 1.1
		padding: 0 !important
		margin: 0 !important
		font-size: 36px
		font-family: montserrat,sans-serif
	.pane-title
		float: left
		margin-right: 10px
	.view-header
		margin-top: 20px

#category, #archive_list, #media, #published, #tag, #menu_pane, .view-id-search_api_search, .view-id-glossary_list
	padding: 0px 15px !important
	padding-bottom: 15px !important
	p
		margin: 0 !important
	.views-row-1
		border-top: 1px solid #eee
		margin-top: 20px
	.views-field-path, .views-field-nid
		clear: both
		padding-top: 30px
		margin-bottom: 5px
		h3
			margin: 0
			font-size: 36px
			a
				line-height: 40px
	.views-label-field-published, .views-field-field-published .field-content, .views-label-field-tags, .views-field-field-tags .field-content
		float: left
		padding: 10px 0px
	.views-label-field-published
		padding-left: 10px
	.views-field-field-published .field-content
		margin-left: 3px
		margin-right: 10px
		font-weight: bold
	.views-label-field-tags
		margin-right: 3px
	.views-field-created
		text-align: right
		padding: 10px
		border-top: 1px solid #efefef
		border-bottom: 1px solid #efefef
		margin-bottom: 10px
		.field-content
			color: #d82222 !important
	.views-field-field-image
		float: left
		padding: 0px 15px
		width: 35%
	.views-field-field-subtitled
		margin-left: 35%
		font-size: 16px
		margin-top: 3px
	.item-list
		ul
			padding-top: 40px
			text-align: left

			li
				margin: 0 !important
	ul.pager
		li.pager-item, li.pager-current, li.pager-next, li.pager-last, li.pager-previous, li.pager-ellipsis
			margin-left: -4.3px !important
		li.pager-current.first
			margin-left: 0px !important

.view-id-glossary_list
	.views-field-name
		font-size: 16px
		padding: 5px 0px !important

#edit-submit-search-api-search
	display: none

#mini-panel-hamburger_menu
	display: none
	
.node_pane
	padding: 0px 15px !important
	padding-bottom: 15px !important
	width: -moz-available
	ul, ol
		margin-left: 45px
	figure
		margin: 0 !important
	figcaption
		text-align: center
		margin-top: 10px
		margin-bottom: -15px
	#youtube
		float: left
	#fb-like-share
		float: left
		padding: 0 15px
		.fb-like
			padding-bottom: 7px
	#fb-save
		padding-top: 20px
	.tabs.primary.clearfix
		margin-left: 0
	.pane-node-field-title2
		margin-top: 20px !important
		h1
			padding: 0 !important
			p
				margin: 0 !important
	.pane-node-field-published
		float: left
		padding: 10px
		display: inline-flex
		.field-items
			font-weight: bold
	.field-label
		font-weight: normal
	.pane-node-field-tags 
		float: left
		padding: 10px 0px
		.field-items
			display: inline-flex
		.field-item
			margin-right: 5px
			a
				color: white !important
				font-size: 12px
				padding: 3px
				background: #d82222
			a:hover
				text-decoration: none
	.pane-node-created
		text-align: right
		padding: 10px
		border-top: 1px solid #efefef
		border-bottom: 1px solid #efefef
		margin-bottom: 10px
		.pane-content
			display: inline-block
			color: #d82222 !important
	.pane-node-field-subtitled
		h2
			margin-top: 20px
			margin-bottom: 15px
			line-height: 35px
			clear: both
	#alapjarat-article.pane-node-field-text
		p, span, ul, ol
			font-size: 16px !important
			font-family: open sans, sans-serif !important
		h3
			margin: 0
			padding-top: 20px
			padding-bottom: 10px
			span
				font-size: 24px !important
		h4
			span
				margin-top: 10px 
				font-size: 18px !important
		ul, ol, div
			margin-bottom: 1em
		ul li a
			overflow-wrap: break-word
			word-wrap: break-word
			word-break: break-all
			word-break: break-word
		img
			padding: 5px 0
		iframe
			max-width: 100%
	#youtube-text
		margin-bottom: 1em
		p
			font-size: 15px
			margin: 0
			font-style: italic
	.pane-node-field-source
		.pane-title
			font-size: 16px
		.even
			margin-top: 1em
		p
			display: list-item
			font-size: 16px !important
			margin: 0
			margin-left: 45px
	#fb2
		margin-bottom: 15px
		p
			margin: 0
			font-style: italic
	.pane-social-media-links-social-media-links
		h2
			margin-bottom: 10px !important
		ul
			margin-left: 0px
		img
			width: 30px
	.social-media-links
		li
			padding: 0 !important
			margin-right: 5px
	#article3
		margin-top: 25px
		.views-row
			width: 116px
			float: left
			padding: 5px
			margin-bottom: 20px
			img
				margin-bottom: 10px
	.pane-node-field-tagsa
		clear: both
		margin-bottom: 45px 
		.pane-title
			float: left
			padding-right: 10px
		.field-item
			a
				float: left
				padding-right: 10px

#impress
	padding: 0px 15px !important
	.view-header
		p
			margin: 0 !important
			font-size: 30px
			font-family: montserrat,sans-serif
	h1
		margin-top: 20px 
		margin-bottom: 35px 
		padding: 0
	h2
		margin-bottom: 0
	.views-field-field-e-mail
		background-image: url("/sites/default/files/email.png")
		background-repeat: no-repeat
		height: 32px
		width: 32px
		float: left
		a
			font-size: 0px
			padding: 15px 0px
			padding-right: 21px
	.views-row
		clear: both
		padding-top: 25px
	.views-field-title
		color: #d82222
		float: left
		margin-left: 6px
		margin-right: 9px
	.views-field-field-status
		margin-bottom: 10px
	.views-field-title, .views-field-field-status
		font-family: montserrat,sans-serif
		font-size: 24px
		line-height: 30px
	.views-field-field-picture
		float: left
		padding-top: 10px
		margin-right: 1.5em
		margin-left: 25px
	.views-field-field-description
		padding: 10px 20px
		font-size: 16px
		border-left: 5px solid #eee

#impress_yes
	padding: 0px 15px !important
	margin-bottom: 30px
	.view-content
		margin-left: 20px
	h2
		margin-top: 25px !important
		margin-bottom: 10px !important
	.views-field-title
		font-size: 16px
		line-height: 16px
		margin-bottom: 10px
		.field-content
			margin-left: 15px
			display: list-item

div.pages
	padding: 0px 15px !important
	margin-bottom: 30px
	ul, ol
		margin-left: 45px
	.tabs.primary.clearfix
		margin-left: 0
	.pane-node-title
		font-weight: 500
		line-height: 1.1
		font-size: 36px
		font-family: montserrat,sans-serif
		margin-top: 20px !important
		margin-bottom: 35px !important

.partner
	padding: 0px 15px !important
	h3
		margin-top: 40px
	table
		border-collapse: unset
	#premium
		img
			max-width: 158px
	#recreation
		img
			max-width: 104px 
	.views-field-field-picturep, .views-field-field-descriptionp
		padding: 10px
		p
			margin: 0 !important
	.even, .odd
		background-color: white
		border: 0
		padding: 0

.my_footer
	margin-top: 10px !important
	.clearfix
		margin: auto
		width: -moz-fit-content
	.second_menu_footer
		width: auto
		li
			display: inline
			padding: 0
			margin: 0
	a
		padding-right: 7px
		border-right: solid 1px black
		padding-left: 2.7px
	.footer_text
		padding-left: 7px
		padding-right: 2.7px
		a
			margin-right: 7px
