body::before
	background-image: none

body
	font-size: 14px
	font-family: open sans,sans-serif
	max-width: 1140px
	width: auto
	margin-left: auto
	margin-right: auto
	background: purple

#admin-menu-wrapper
	a
		color: white !important

.panels-flexible-row.panels-flexible-row-2-main-row.panels-flexible-row-first.clearfix
	padding-bottom: 0px !important

div.panel-flexible.panels-flexible-1.clearfix
	//background-color: thistle
	//background: url("paper.jpeg")
	background-size: cover
	background-position: center

.panels-flexible-region
	width: auto

.inside.panels-flexible-region-inside
	padding: 0px

.panel-separator
	margin: 0px !important

a
	color: #d82222 !important

a:hover
	text-decoration: none

#time
	padding-top: 8px
	font-size: 13px
	font-weight: blod
	padding-left: 43px
	padding-bottom: 0

.social_menu
	width: 50%
	float: right

	#social_menu
		float: right
		padding-top: 8px

		li.leaf
			display: inline
			padding: 0
			margin: 0

			a
				font-size: 16px
				margin-left: -13px
				opacity: 0

		li.leaf.f 
			margin-right: 6.6833px

		li.leaf.t
			margin-right: 6.6833px

		li.leaf.g
			margin-right: 4.0167px

		li.leaf.y
			margin-right: 5.7833px

		li.leaf.in
			margin-right: 2.7167px

		li.leaf.p
			margin-right: 44px

		li.leaf::before
			color: #d82222 !important
			font: normal normal normal 16px/1 FontAwesome

		li.f::before
			content: "\f082"
			
		li.t::before
			content: "\f081"
			
		li.g::before
			content: "\f0d4"

		li.y::before
			content: "\f166"

		li.in::before
			content: "\f16d"	

		li.p::before
			content: "\f0d3"
		

.letterhead
	height: 127px
	padding: 0
	margim: 0

	.logo
		padding-top: 8.5px
		padding-left: 43px

	.letterhead_banner
		float: right
		width: auto
		padding-right: 36px

.second_menu
	width: 100%

	li.leaf
		display: inline

		a:hover
			text-decoration: none

		a.active, a
			color: #444 !important

	li.leaf.home
		margin: 0

	#second_menu
		font-family: Montserrat
		color: #444
		font-size: 13px
		font-weight: bold
		border-bottom: 1px solid #EAEAEA
		margin-left: 42px
		margin-right: 42px
		margin-bottom: 5px
		margin-top: -10px
		padding-bottom: 5px

.main_menu
	background-color: #444
	border-top: 5px solid #d82222
	height: 45px
	padding: 0
	margim: 0

	#main_menu
		padding-left: 25px

		li.leaf
			display: inline

			a
				color: white !important
				text-decoration: none
				line-height: 40px
				padding-top: 11px
				padding-bottom: 11px
				padding-left: 10px
				padding-right: 10px
				font-family: Montserrat

			a:hover
				background-color: white
				color: #444 !important
		
	.search
		float: right
		width: auto

		#search
			input#edit-search-block-form--2
				width: 166px
				height: 34px
				margin-top: 3px
				margin-right: 3px

.views-field-field-tags
	a
		color: white !important
		font-size: 12px
		padding: 2px 3px
		background: #d82222

	a:hover
		text-decoration: none


.first
	width: 100%
	margin-bottom: -15px
	.views-field-field-image
		background: black
		img
			opacity: 0.7

	.views-field-created
		color: white
		font-size: 12px

	#one
		width: 50%
		float: left
		.views-field-title
			position: absolute
			bottom: 37px
			margin-left: 10px
			margin-right: 10px
			a
				font-size: 24px
				color: white !important
		.views-field-field-tags, .views-field-created
			position: relative
			bottom: 35px
			float: left
			margin-left: 10px

	#four
		float: left
		width: 50%
		padding-left: 10px

		.views-row
			width: 50%
			float: left
			position: relative

		.views-row-1, .views-row-3
			padding-right: 5px

		.views-row-2, .views-row-4
			padding-left: 5px

		.views-row-3, .views-row-4
			margin-top: -11px

		.views-field-title
			position: absolute
			bottom: 60px
			margin-left: 10px
			margin-right: 10px
			a
				font-size: 16px
				color: white !important

		.views-field-field-tags, .views-field-created
			position: relative
			bottom: 35px
			float: left
			margin-left: 10px

.maincontent
	border-right: 1px solid #efefef
	border-left: 1px solid #efefef
	border-bottom: 1px solid black
	margin-top: -1em !important
	padding-bottom: 0 !important

.main_content
	width: 67%
	border-right: 1px solid #efefef

	.front_page_post
		padding: 15px !important
		padding-top: 40px !important

		#helpful_info_h3, #big_world_h3, #tech_h3, #test_h3
			a
				font-size: 21px
				color: #444 !important
				font-family: montserrat,sans-serif
				text-rendering: optimizelegibility
				font-weight: 500
				text-transform: uppercase
			
			h3
				border-bottom: 3px solid #161616
				margin-bottom: 10px
				padding-bottom: 5px

	 
		#helpful_info_a, #big_world_A, #tech, #test
			.views-field-title
				margin-top: 15px
				a
					color: #d82222 !important
					font-size: 20px
					font-weight: bold

		#helpful_info_b
			.views-field-field-image
				width: 45%
				float: left
			.views-field-title
				a
					color: #d82222 !important
					font-size: 16px
					font-family: montserrat,sans-serif
			.views-field-field-tags, .views-field-created, .views-field-title
				margin-left: 45%


		#helpful_info_a, #helpful_info_b
			width: 50%
			padding-right: 15px
			padding-left: 15px
			float: left
			.views-field-field-image
				margin-top: 4px

		#helpful_info_a
			.views-field-field-tags
				float: left
				margin-right: 10px
			.views-field-field-subtitled
				font-size: 16px
				margin-top: 5px

		#helpful_info_b
			padding-left: 25px
			.views-row
				margin-bottom: 30px


		#big_world_A
			.views-row
				height: 315px
			.views-row-1, .views-row-2
				width: 50%
				padding-right: 15px
				padding-left: 15px
				float: left
			.views-field-field-image
				margin-top: 4px
			.views-field-field-tags
				float: left
				margin-right: 10px

		#big_world_B
			.views-row
				width: 50%
				float: left
				height: 155px
				padding-right: 15px
				padding-left: 15px
			.views-field-field-image
				width: 45%
				float: left
				margin-top: 4px
			.views-field-title
				margin-left: 45%
				a
					color: #d82222 !important
					font-size: 16px
					font-family: montserrat,sans-serif
			.views-field-field-tags
				margin-left: 45%
				float: left
				margin-right: 10px
			.views-field-created
				float: left


		#tech, #test
			.views-field-field-image
				margin-top: 4px
			.views-field-field-tags
				float: left
				margin-right: 10px
			.views-row
				width: 50%
				padding-right: 15px
				padding-left: 15px
				float: left
				height: 305px


.right
	width: 33%
	padding: 15px !important
	padding-top: 40px !important

	h3, .pane-articles-archive h2, h2.pane-title
		font-size: 21px
		color: #444 !important
		font-family: montserrat,sans-serif
		text-rendering: optimizelegibility
		font-weight: 500
		text-transform: uppercase
		border-bottom: 3px solid #161616
		margin-bottom: 10px
		padding-bottom: 5px

	#banner
		.views-row
			margin-bottom: 40px

	#event
		margin-bottom: 50px
		padding-top: 20px
		.views-row
			margin-bottom: 15px
		.views-field-title
			font-size: 16px
			font-weight: bold
		.views-field-field-event-date
			font-size: 16px
		.views-label-field-facebook-event
			font-size: 16px
			color: #d82222
		.views-field-field-facebook-event
			.field-content
				width: 144px
				height: 17px
				margin-top: -21px
				opacity: 0






				