@media screen and (max-width: 1199px)
	body
		max-width: 970px

	.main_menu #main_menu li.leaf a
		padding: 12px 8px
		font-size: 13px

	.main_content 
		.front_page_post
			.views-field-created
				font-size: 13px 
			#actual_A, #tech, #test 
				.views-row
					height: 275px
			#actual_B, #helpful_info_b
				.views-field-field-image
					width: 40%
				.views-field-path h3
					font-size: 15px
			#helpful_info_a
				.views-field-field-subtitled
					font-size: 15px
			#helpful_info_b
				padding-left: 15px
			#helpful_info_a, #actual_A, #tech, #test
				.views-field-path h3
					font-size: 18px
	
	.right #random_article .views-field-field-image
		width: 33%

	.panels-flexible-region-first.first
		#one
			height: 306px
		#four
			.views-row
				height: 148px

@media screen and (max-width: 989px)
	body
		max-width: 750px

	.second_menu
		ul.menu li
			margin: 0 !important

	.letterhead 
		.logo
			padding-left: 0
		.letterhead_banner
			padding-right: 0

	.main_menu
		clear: both
		height: auto
		position: relative
		#main_menu li.leaf a
			padding: 12px 13px
			font-size: 14px
		.mid-1155
			margin-left: 43px !important
		.search
			bottom: 0px
			right: 0px
			position: absolute

	.main_content 
		.front_page_post
			#actual_A
				.views-row
					height: auto
				.views-field-path
					h3
						font-size: 16px
			#actual_B
				.views-row
					width: 100%
					height: auto
					margin-top: 15px
				.views-field-field-image
					width: auto
				.views-field-path, .views-field-field-tags, .views-field-created
					margin-left: 36%

			#helpful_info_a
				width: 100%
				.view-content
					padding-top: 0
				.view-header
					width: 100%
					margin-top: 20px
				.views-field-field-image
					width: 45%
					float: left
				.views-field-path, .views-field-created, .views-field-field-subtitled
					margin-left: 48%
				.views-field-field-tags
					margin-left: 3%
				.views-field-path h3
					font-size: 16px
				.views-field-field-subtitled
					font-size: 14px

			#helpful_info_b
				width: 100%
				padding-top: 0
				.views-row
					margin-top: 15px
				.views-field-field-image
					width: auto
				.views-field-path, .views-field-field-tags, .views-field-created
					margin-left: 34%

			#tech, #test
				.views-row
					height: 255px
				.views-field-path h3
					font-size: 16px

	.right #random_article .views-field-created
		font-size: 13px

	.panels-flexible-region-first.first
		border-right: 1px solid #efefef
		border-left: 1px solid #efefef
		#one
			float: none
			height: 350px
			width: 560px
			margin: auto
			.views-field-path
				bottom: 80px
			.views-field-field-tags, .views-field-created
				bottom: 42px
				float: none
			.views-field-created
				bottom: 40px
		#four
			width: 560px
			float: none
			padding-left: 0
			margin: auto
			padding-top: 10px
			.views-row
				height: 175px

@media screen and (max-width: 759px)
	.main_content, .right
		width: 100%
		border: 0

	.right 
		#random_article
			.views-field-field-image
				width: auto
			.views-field-path, .views-field-created
				margin-left: 132px

	.main_content 
		.front_page_post
			#helpful_info_a
				.views-field-field-tags
					margin-left: 48%
					float: none
			#actual_B
				.views-field-path, .views-field-field-tags, .views-field-created
					margin-left: 155px
			#helpful_info_b
				.views-field-path, .views-field-field-tags, .views-field-created
					margin-left: 151px

@media screen and (max-width: 738px)
	.main_menu
		#main_menu li.leaf a
			padding: 12px 11px
			font-size: 13px

@media screen and (max-width: 678px)
	.main_menu
		.mid-1155
			margin-left: 0px !important
		.mid-1157
			margin-left: 43px !important
		.mid-1181
			margin-right: 21.5px !important

@media screen and (max-width: 629px)
	.letterhead
		height: auto
		.letterhead_banner
			width: 0
			height: 0
			iframe
				width: 0px !important

@media screen and (max-width: 568px)
	.panels-flexible-region.panels-flexible-region-new-center.panels-flexible-region-first.panels-flexible-region-last
		width: 100%
	.main_menu
		.mid-1181
			margin-right: 0 !important
		.mid-1157
			margin-left: 41px !important
		#main_menu li.leaf a
			padding: 12px 9px
			font-size: 12px

	.panels-flexible-region-first.first
		#most_popular
			margin-left: 0
		#most_popular, #category_list
			width: 30%
		#first5
			width: 40%
			padding-left: 1%
			.views-row
				min-height: auto
			.view-header, .view-content
				margin-left: 0
			.views-field-field-image
				width: 0
				height: 0
			.views-field-path
				width: auto
				margin-left: 0px

	#category, #archive_list, #media, #published, #tag, #menu_pane, .view-id-search_api_search, .view-id-glossary_list
		padding: 0px 5px !important
		.views-field-path, .views-field-nid
			padding-top: 25px
			h3
				font-size: 28px
				a
					line-height: 32px

	.node_pane
		padding-left: 5px !important
		padding-right: 5px !important
		.pane-node-field-published
			float: none
			width: 100%
			border-top: 1px solid #efefef
			border-bottom: 1px solid #efefef
			height: 65px
			padding: 10px 0px
			margin-bottom: 15px
		.pane-node-field-tags
			padding: 0
			margin-top: -46px
		.pane-node-created
			margin-top: -70px
			float: right
			padding: 0
			border: 0
			.pane-content
				display: block

	.panels-flexible-region-first.first
		#one
			height: 315px
			width: 499px
		#four
			width: 499px
			.views-row
				height: 155px

@media screen and (max-width: 499px)
	.main_content
		.front_page_post
			padding-left: 0px !important
			padding-right: 0px !important

	.second_menu #second_menu
		font-size: 0
	.main_menu #main_menu li.leaf a
		font-size: 0
		padding: 0
	.panels-flexible-region-first.first	
		#hamb-main-menu
			width: 100%
			height: auto
			visibility: visible
		#first5 .views-row
			min-height: auto
		#most_popular, #category_list, #first5, #hamb-main-menu
			float: none
			width: 100%
			padding-left: 5px
			padding-right: 5px
			padding-top: 15px
			padding-bottom: 0px
			.item-list ul
				margin: 0 !important
			a
			font-size: 14px !important
			font-family: montserrat, sans-serif !important
			.pane-title
				font-size: 18px !important
		#one
			height: 175px
			width: 275px
			.views-field-path
				h3
					font-size: 16px
		#four
			width: 275px
			.views-row
				height: 175px
				float: none
				width: 100%
			.views-row-1, .views-row-3, .views-row-2, .views-row-4
				padding: 0
				margin: 0
				margin-bottom: 10px

	.main_content
		.front_page_post
			#actual_A
				.views-row-1, .views-row-2
					width: 100%
					padding-bottom: 10px
			#tech, #test
				.views-row
					float: none
					width: 100%
					height: auto
					padding-bottom: 15px

	.node_pane
		#youtube
			float: left
			padding-right: 15px
		#fb-like-share
			float: none
			padding: 0
			.fb-like
				padding-bottom: 7px
		#fb-save
			padding-top: 10px
			text-align: left

	.right
		.banner
			iframe
				width: 280px








