@charset "UTF-8";
/* line 1, ../sass/my_style.sass */
body::before {
  background-image: none;
}

/* line 4, ../sass/my_style.sass */
body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  max-width: 1140px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 12, ../sass/my_style.sass */
div.panel-flexible.panels-flexible-1.clearfix {
  background-color: thistle;
}

/* line 16, ../sass/my_style.sass */
li.first.leaf.facebook.mid-685 a {
  text-indent: -9999px;
}

/* line 20, ../sass/my_style.sass */
li.first.leaf.facebook.mid-685::before {
  content: "";
  font: normal normal normal 14px/1 FontAwesome;
}

/* line 24, ../sass/my_style.sass */
.letterhead {
  height: 127px;
  padding: 0;
  margim: 0;
}
/* line 29, ../sass/my_style.sass */
.letterhead .logo {
  padding-top: 8.5px;
  padding-left: 25px;
}
/* line 33, ../sass/my_style.sass */
.letterhead .letterhead_banner {
  float: right;
  width: auto;
  padding-right: 25px;
}

/* line 40, ../sass/my_style.sass */
.second_menu li.leaf {
  display: inline;
}
/* line 43, ../sass/my_style.sass */
.second_menu li.leaf a:hover {
  text-decoration: none;
}
/* line 47, ../sass/my_style.sass */
.second_menu li.leaf a {
  color: #444;
}
/* line 50, ../sass/my_style.sass */
.second_menu li.leaf.home {
  margin: 0;
}
/* line 53, ../sass/my_style.sass */
.second_menu #second_menu {
  font-family: Montserrat;
  color: #444;
  font-size: 13px;
  font-weight: bold;
  border-bottom: 1px solid #EAEAEA;
  margin-left: 25px;
  margin-right: 20px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

/* line 64, ../sass/my_style.sass */
.main_menu {
  background-color: #444;
  border-top: 5px solid #d82222;
  height: 45px;
  padding: 0;
  margim: 0;
}
/* line 71, ../sass/my_style.sass */
.main_menu #main_menu {
  padding-left: 25px;
}
/* line 74, ../sass/my_style.sass */
.main_menu #main_menu li.leaf {
  display: inline;
}
/* line 77, ../sass/my_style.sass */
.main_menu #main_menu li.leaf a {
  color: white;
  text-decoration: none;
  line-height: 40px;
  padding: 10px;
  font-family: Montserrat;
}
/* line 84, ../sass/my_style.sass */
.main_menu #main_menu li.leaf a:hover {
  background-color: white;
  color: #444;
}
/* line 88, ../sass/my_style.sass */
.main_menu .search {
  float: right;
  width: auto;
}
/* line 93, ../sass/my_style.sass */
.main_menu .search #search input#edit-search-block-form--2 {
  width: 166px;
  height: 34px;
  margin-top: 3px;
  margin-right: 3px;
}

/* line 99, ../sass/my_style.sass */
#front_page_first {
  color: white;
}
/* line 102, ../sass/my_style.sass */
#front_page_first .views-field.views-field-title {
  margin-top: -75px;
  margin-left: 10px;
}
/* line 106, ../sass/my_style.sass */
#front_page_first .views-field.views-field-title a {
  font-size: 24px;
  color: white;
}
